/* Imports */
@import "../../../base/modules/helpers";
@import "../../../base/modules/fallback";
@import "../../../base/modules/media-queries";

/* Compass plugins */
@import "compass/css3";
@import "rgbapng"; /* gem install compass-rgbapng */

	/* Sizes */
	$body-min-width    : 1280px;
	$body-side-padding : 43px;

/* Paths */
$img-traverse : "../../../";
$img-path  : $img-traverse + "images/";
$img-site  : $img-path + "f/";

/* Fonts and Sizes */
$base-font-size          : 16px;
$base-size               : 16px;
$font-size               : em( $base-font-size,$base-size );

/*fonts*/
$font-circular-black 		 : "CircularStd Black";
$font-circular 				 : "CircularStd";
$font-circular-book 		 : "CircularStd Book";
$font-circular-medium 		 : "CircularStd Medium";

$font-myriadpro-reg 		 : "MyriadPro Regular";

$font-bangla 		 		 : "Bangla mn";
$font-timesnewroman          : "Times New Roman", Serif;


/* color */

$c-black 		: #000;
$c-black-2 		: #444444;
$c-black-3 		: #333333;
$c-black-4 		: #545454;
$c-black-5 		: #555;
$c-black-6 		: #525252;
$c-black-7 		: #5f5f5f;

$c-white 		: #FFF;
$c-grey 		: #777;
$c-grey-2 		: #878787;
$c-grey-3 		: #DDDDDD;
$c-grey-4 		: #AAAAAA;
$c-grey-6 		: #535353;
$c-grey-7 		: #CCCCCC;
$c-grey-8 		: #EEE;
$c-grey-9 		: #c7c7c7;
$c-grey-10 		: #e0e0e0;

$c-light-blue 	: #DAEBF5;
$c-light-blue-2 : #CCF0F0;
$c-light-blue-3 : #CEF0F0;
$c-light-blue-4	: #0397ec;
$c-light-blue-5 : #C0DDED;

$c-yellow 		: #FCCB00;
$c-yellow-2 	: #FBCC00;

$c-blue 		: #3991C4;
$c-blue-2 		: #00A1FF;
$c-blue-2-hover : #00A1FF;
$c-blue-3 		: #3990C3;
$c-blue-4 		: #475989;

$c-orange 		: #FF7F00;
$c-orange-2 	: #FF8000;
$c-orange-3		: #F8AA1B;
$c-orange-2-hover : #ff9b36;

$c-red 			: #e6231c;
$c-red-2 		: #ff0800;
$c-red-3        : #e5221b;
$c-red-3-hover  : #f34e48;

$c-navy-blue        : #1974d2;
$c-navy-blue-hover  : #57a2ef;

$c-cream 		: #FFDFBF;
/*
	HOME
 */
$c-home-blue-bg : #F7FBFD;
$c-sub-btn 		: #FB8200;

/*
	MAIN
 */
$c-bg-main-header : #E5221B;
$c-footer-bg 	  : #EEE;
/*
	MOBILE MENU
 */
$c-mobile-menu 	 : #3e3535;
/*
	owl carousel
 */
$c-owl-active 		: #FF8000;
$c-owl-inactive 	: #D6D6D6;
$c-owl-default  	: #CCCCCC;
$c-owl-arrow 		: #FFF;
$c-owl-hover-btn 	: #F8AA1B;
$c-owl-subscribe-txt : #000;
/*
	common
 */
$c-page-header 	: #FF8000;
$c-border-input : #C8C2BB;

$c-error-txt 	: #E5221B;
$c-no-error 	: #8bc34a;

$c-placeholder 	: #d8d8d8;

$c-hr-line 		: #CDCDCD;
$c-no-data 		: #CACACA;

/*
	dropdown
 */
$c-dropdown-border-top : #FF8000;
$c-dropdown-bg 		   : #EFF2F6;
$c-dropdown-hover 	   : #F7F9FB;

/*
	filter select
 */
$c-filter-select : #EEEEEE;

/*
	gallery
 */
$c-gallery-border-grey  	: #CCCCCC;
$c-gallery-with-title-box 	: #FF8000;
$c-gallery-title-1 			: #545454;
$c-gallery-info-1 			: #555;
$c-gallery-subscribe 		: #000;

$c-pagination   	 : #EEEEEE;
$c-pagination-hover  : #CEF0F0;
$c-txt-pagination 	 : #333333;
$c-pagination-active : #FFDFBF;

$c-panel-nav-txt	 	: #444444;
$c-panel-nav  		 	: #EEEEEE;
$c-panel-nav-active  	: #FF8000;
$c-panel-content-border : #FF8000;
$c-panel-tabs  			: #FF8000;

/*
	expand list
 */
$c-expand-sub-title-bg  	: #FFDFBF;
$c-expand-sub-title-txt 	: #535353;

$c-expand-brand-txt 		: #0397ec;
$c-expand-title-txt 		: #000;

$c-expand-calender-date 	: #555555;
$c-expand-description 		: #535353;

$c-expand-status-txt 	: #525252;
$c-expand-status-grey 	: #EEEEEE;
$c-expand-status-blue 	: #CEF0F0;
$c-expand-status-orange : #FF8000;
$c-expand-winner-info 	: #525252;

$c-upload-photo 		: #888888;

$c-txt-link : #0397ec;

/**
 * MEDIA QUERY
 */
$mq-xl  : 1366px;
$mq-l  : 1024px;
$mq-ml : 840px;
$mq-m  : 720px;
$mq-sm : 480px;
$mq-s  : 320px;
