@import "base";

/* ============================================
/* General Style
/* ============================================*/
.st-container {
	width   : $body-min-width;
	padding : 0 $body-side-padding;
	margin  : 0 auto;

	&.with-margin
	{
		margin: 45px auto 60px;
	}
}
.d-none {
	display : none;
}

.ios-scroll
{
	-webkit-overflow-scrolling: touch;
}

.ct-href
{
	font-family : $font-circular-book;
	color 		: $c-light-blue-4;
}

/* ============================================
/* ETC
/* ============================================*/
.ct-image-rounded
{
	 border-radius: 100px;
	 -webkit-border-radius: 100px;
	 -moz-border-radius: 100px;
}

.ct-upload-button
{
	display : none;
}

.ct-hidden
{
	display : none;
}

/* ============================================
/* 1. PARTIAL - OTHER ITEM ON SIDE BAR
/* ============================================*/
#other_items_bar
{
	margin: 20px 0 0;

	.items
	{
		margin : 0 0 20px;

		@include clearfix;

		.it-col
		{
			&.left
			{
				float: left;
				margin: 0 10px 0 0;
				width: 200px;
			}

			&.right
			{
				overflow: hidden;
			}

			.brand-name
			{
				font-family : $font-circular-book;
				font-size 	: em( 13px, $base-font-size );
				color 		: $c-gallery-title-1;

				display: block;
			}
			.title-name
			{
				display: block;

				font-family : $font-circular-book;
				font-size 	: em( 15px, $base-font-size );
				color 		: $c-black;

				margin: 2px 0 9px;
			}

			.date-time
			{
				font-family : $font-circular-book;
				font-size 	: em( 13px, $base-font-size );
				color 		: $c-gallery-info-1;
			}
		}
	}
}

/* ============================================
/* 2. PARTIAL - form box with name, phone , email
/* ============================================*/
.cf-input
{
	width 		: 100%;
	padding 	: 10px;
	margin  	: 0 0 10px 0;

	font-family : $font-circular-book;
	font-size 	: em( 15px, $base-font-size );

	border  	: 1px solid $c-grey-3;
	box-sizing 	: border-box;

	&.no-spin::-webkit-inner-spin-button, &.no-spin::-webkit-outer-spin-button {
		-webkit-appearance: none !important;
		margin: 0 !important;
		-moz-appearance:textfield !important;
	}
}

.cf-agreement
{
	text-align 	: left;
	margin  	: 10px 0 25px;

	font-family : $font-circular-book;
	font-size 	: em( 13px, $base-font-size );
	color 		: $c-black-2;

	a{

		color : $c-blue-3;
	}

	&.centered
	{
		text-align: center;
	}

	input[type=checkbox].css-checkbox + label.css-label
	{
		font-family : $font-circular-book;
		font-size: em( 16px, $base-font-size );
		color  	 : $c-black-2;
	}
}


/* ============================================
/* header with yellow sign below
/* ============================================*/
.ct-page-header{
    overflow : hidden;

    .cph-left {
        float : left;
    }
    .cph-right {
        float : right;
    }

    .ct-button {
        margin : 0 0 0 8px;
        width  : 200px;
        padding : 8px 0;

        &.confirm-cancel {
            padding : 8px 0;
        }

        &.small
        {
        	width 	: 100px;
        	padding : 5px 0;
        }
    }

    &.m-bottom
    {
    	margin: 0 0 30px;
    }

	&.margined
	{
		margin : 0 0 35px;
	}

	h1, h2, h3, h4
	{
		font-weight : normal;
		padding 	: 0;
		margin  	: 0;

		font-family 	: $font-circular-book;
		font-size 		: em( 25px, $base-font-size );
	}

	.cph-bar{
		width 	: 60px;
		height 	: 4px;
		display : block;
		background-color : $c-page-header;
	}

	p
	{
		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size );
		line-height: 1.6; 
	}
}

.ct-page-title
{
	h1
	{
		font-family 	: $font-circular-book;
		font-size 		: em( 35px, $base-font-size );

		padding : 0;
		margin 	: 0;
	}

	margin : 0 0 20px;
}

.ct-logo-title
{
	margin : 0 0 40px;
}

/*
	FILTER SEARCH RESULT PAGE
 */

#ct_filter_form
{
	@include inline-block;
}

/*
	SEE MORE STYLE
 */
.ct-show-more
{
	position: relative;
	margin  : 0 0 45px;
	z-index : 100;

	.button
	{
		display 	: block;
		width 		: 200px;
		margin 		: 0 auto;
		padding 	: 8px 0;
		background-color: $c-orange-2;

		text-align 	: center;
		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size );

		color : $c-white;
		border-radius: 2px;

		&:hover
		{
			background-color: $c-black-2;
		}
	}

	.line
	{
		position: absolute;

		top 	: 3px;
		left 	: 0;
		right 	: 0;
		z-index : -10;
	}
}

.ct-panel-button
{
	@include clearfix;
}


/* ============================================
/* BUTTON
/* ============================================*/
.ct-button
{
	display 	: block;
	width 		: 225px;
	padding 	: 8px 0;
	margin 		: 0 0 40px;

	border 			: 1px solid $c-black-2;
	background-color: $c-black-2;

	text-align 	: center;
	font-family : $font-circular-book;
	font-size 	: em( 15px, $base-font-size );

	border-radius: 2px;

	color : $c-white;

	.title
	{
		@include inline-block();
	}

	&.righted
	{
		float: right;
	}

	&:hover
	{
		background-color: $c-orange-2;
		border 			: 1px solid $c-orange-2;
	}

	&.no-margin
	{
		margin: 0;
	}

    &.red {
        background-color : $c-red-3;
        border-color     : $c-red-3;

        &:hover {
            background-color : $c-red-3-hover;
            border-color     : $c-red-3-hover;
        }
    }

    &.navy {
        background-color : $c-navy-blue;
        border-color     : $c-navy-blue;

        &:hover {
            background-color : $c-navy-blue-hover;
            border-color     : $c-navy-blue-hover;
        }
    }

	&.yellow
	{
		background-color: $c-orange-2;
		border 			: 1px solid $c-orange-2;

        &:hover {
            background-color : $c-orange-2-hover;
            border-color     : $c-orange-2-hover;
        }
	}

	&.blue
	{
		background-color: $c-blue;
		border 			: 1px solid $c-blue;

        &:hover {
            background-color : $c-blue-2-hover;
            border-color     : $c-blue-2-hover;
        }
	}
}

/* ============================================
/* Navigation on login menu
/* ============================================*/

.ct-navigation-menu
{
    float : left;
    width : 20%;

    /*border-right: 2px solid $c-orange;*/

    margin : 0 30px 0 0;

    .title
    {
        font-family : $font-circular-book;
        font-size   : em( 18px, $base-font-size );

   	 	color : $c-black-7;
    }

    .list-item
    {
        list-style-type: none;
        padding : 0;
        margin  : 8px 0 0;

        .with-child
        {
            padding : 3px 10px 3px 12px;
        }

        li
        {
            padding : 8px 10px 8px 12px;

            .title-parent
            {
                display: block;
                padding : 8px 0 6px 8px;
                border : 1px solid $c-white;
                border-left: 5px solid $c-white;
            }

            .active-menu
            {
                border : 1px solid #cecece;
                border-left : 5px solid $c-orange-2;

                .title
                {
	            	color : $c-black;
                }
            }

            a
            {
                padding : 0 0 6px 13px;
            }

            .title
            {
                @include inline-block();
                font-family: $font-circular-book;
                font-size: em( 15px, $base-font-size );
           	 	color : $c-black-7;
            }
        }
    }

    .list-item-child
    {
        list-style-type: none;
        padding : 0;
        margin  : 5px 0 0 35px;

        a
        {
            font-family: $font-circular-book;
            font-size: em( 15px, $base-font-size );
            color : $c-black-7;
        }

        .active-item-child
        {
            color : $c-orange-2;
        }
    }
}



/* ============================================
/* No data display
/* ============================================*/
.ct-no-data
{
	color 	: $c-no-data;

	font-weight : bold;
	font-size 	: em( 22px, $base-font-size );
	text-align 	: center;

	margin 		: 25px 0 60px;

	.texts
	{
		@include inline-block;
	}

    &.slim-bottom {
        margin-bottom : 20px;
    }
}

/* ============================================
/* Announcements
/* ============================================*/
.ct-announcement
{
	font-family : $font-circular-book;
	font-size 	: em( 17px, $base-font-size );

	position: relative;

	margin  : 0 0 35px;
	padding : 16px 10px;

	box-sizing: border-box;

	/*border-right: 4px solid $c-orange-2;*/
	border-left: 4px solid $c-orange-2;

		-webkit-box-shadow: 6px 5px 15px 0 rgba(229,230,234,0.7);
		-moz-box-shadow: 6px 5px 15px 0 rgba(229,230,234,0.7);
		box-shadow: 6px 5px 15px 0 rgba(229,230,234,0.7);

	@include clearfix;

	.cta-megaphone
	{
		position 	: absolute;
		top 		: 6px;
		left 		: 20px;
	}

	.owl-carousel
	{
		width : 93%;
		float : right;
	}

	.ct-owl-overlay
	{
		width: 85%;
	}

	.owl-carousel .owl-nav
	{
		position: absolute;
		top 	: -4px;
		right 	: 20px;

		button.owl-prev, button.owl-next
		{
			width 	: 32px;
			height 	: 32px;

			margin: 0 3px;

			background-color: $c-orange-2;
			color: $c-white;
			font-size: em( 22px, $base-font-size );

			/*
				circle
			 */
			 border-radius: 100px;
			 -webkit-border-radius: 100px;
		 	-moz-border-radius: 100px;

		}
	}

}

/* ============================================
/* split layout, two panel view
/* ============================================*/
.split-layout
{
	@include clearfix;

	/*
		merging 2 panel layer
	 */
	&.border-top
	{
		border-top: 4px solid $c-orange-2;
	}

	&.shadow-layer
	{
		-webkit-box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);
		-moz-box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);
		box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);
	}


	&.no-margin
	{
		margin : 0;
	}

 	.sl-left
 	{
		float  	: left;
		width 	: 60%;

		margin : 0 40px 0 0;
 	}

 	.sl-right
 	{
 		overflow: hidden;

		&.f-left
		{
			float: left;
			width: 40%;
		}
 	}

 	margin : 0 0 40px;

}

.fd-background-upload
{
	background-color : #eeedee;
}

/**===================
	SPLIT LAYOUT - PANEL ARTICLE
 ===============*/
.split-layout .panel-article
{
	.pa-header
	{
		@include clearfix;

		margin : 20px 0 0;

		.slb-name
		{
			float 		: left;
			color  		: $c-black-4;
			font-family : $font-circular-book;
			font-size 	: em( 13px, $base-font-size );

		}
		.slb-date
		{
			float 	 	: right;

			color  			: $c-black-5;
			font-family 	: $font-circular-book;
			font-size 		: em( 13px, $base-font-size );

			.ico-misc
			{
				margin : 0 6px 0 0;
			}

			span
			{
				@include inline-block( middle );
			}

		}

	}

	.pa-context
	{
		margin : 15px 0 0;

		.slc-title
		{
			font-weight 	: normal;
			padding 		: 0;
			margin 			: 0;
			line-height 	: 1.5;

			font-family: $font-circular-book;
			font-size: em( 25px, $base-font-size );

		}
	}

	.pa-locations
	{
		margin : 12px 0 0;

		color : $c-black-6;
		font-family: $font-circular-book;
		font-size: em( 13px, $base-font-size );

		ul
		{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li
		{
			padding: 0;
			margin: 4px 0 4px;
			a
			{
				color : $c-blue;
				font-family: $font-circular-book;

				&:hover
				{
					color: $c-light-blue-4;
				}

			}
		}
	}

	.pa-paragraph
	{
		padding : 10px 0 0;
		color : $c-black;

		font-family: $font-circular-book;
		font-size: em( 16px, $base-font-size );

		line-height: 1.7;

		table
		{
			width : 100%;

			td
			{
				padding: 10px;
			}
		}
	}

    .pa-sharing
    {
        color : $c-grey-6;
        font-family: $font-circular-book;
        font-size: em( 13px, $base-font-size );
    }
}

.split-layout {
    .pa-sharing
    {
        color : $c-grey-6;
        font-family: $font-circular-book;
        font-size: em( 13px, $base-font-size );
    }
}

/**===================
	SPLIT LAYOUT - PANEL FORM
 ===============*/
.split-layout .panel-container
{
	padding : 16px 30px 22px;

	&.m-top
	{
		margin-top : 25px;
	}

	&.m-bottom
	{
		margin-bottom : 25px;
	}

	&.no-top-border
	{
		border-top : none;
	}

	&.informative
	{
		width 	: 34%;
	}

	background-color 	: $c-white;

	border-top : 3px solid $c-orange-2;
	border-left : 1px solid $c-grey-10;
	border-bottom: 1px solid $c-grey-9;
	border-right: 1px solid $c-grey-9;


	@include clearfix;

	.fd-main-title
	{

		font-family : $font-circular-book;
		font-size 	: em( 17px, $base-font-size );
		text-align: center;

		margin : 0 0 22px;
	}

	.fd-paragraph
	{
		text-align 	: left;
		margin  	: 10px 0 25px;

		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size );
		color 		: $c-black-2;

		a{

			color : $c-blue-3;
		}

		&.centered
		{
			text-align: center;
		}

		input[type=checkbox].css-checkbox + label.css-label
		{
			font-family : $font-circular-book;
			font-size: em( 16px, $base-font-size );
			color  	 : $c-black-2;
		}
	}

	.fd-button
	{
		display 	: block;
		width 		: 100%;
		margin 		: 15px 0 0;
		padding 	: 8px 0;
		background-color: $c-black-5;

		border   		: 1px solid $c-black-5;
		border-radius 	: 2px;

		text-align 	: center;
		font-family : $font-circular-book;
		font-size 	: em( 17px, $base-font-size );

		color : $c-white;

		&.mt-low
		{
			margin: 7px 0 0;
		}

		&:hover
		{
			border : 1px solid $c-orange-2;
			background-color: $c-orange-2;
			color : $c-white;
		}

		&.red
		{
			background-color: $c-red;
			border : 1px solid $c-red;
		}

		&.green
		{
			background-color: #42a400;
			border: 1px solid #42a400;
		}
	}

	.fd-dashed-box
	{
		border  : 1px dashed $c-grey-2;
		padding : 10px 15px;
		margin 	: 25px 0 0;
	}

	.fd-guide
	{
		text-align 	: left;
		margin 		: 25px 0 0;
		color 	 	: $c-black-2;
		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size );
	}

	.fd-background-upload
	{
		background-color : $c-grey-8;
	}

	.fd-retailer
	{
		font-family : $font-circular-book;
		font-size 	: em( 14px, $base-font-size );
		color 		: $c-grey-6;
	}

	.fd-title
	{
		font-weight : normal;
		font-family : $font-circular-book;
		font-size 	: em( 23px, $base-font-size );
		color 		: $c-black;

		margin  	: 6px 0 0;

		&.highlighted
		{
			border-bottom: 3px solid $c-orange-2;
			margin 	: 6px 0;

			@include inline-block;
		}
	}

	.fd-date
	{
		margin  	: 5px 0 0;

		font-family : $font-circular-book;
		font-size 	: em( 14px, $base-font-size );
		color 		: $c-black-5;
	}

	.fd-description
	{
		font-family : $font-circular-book;
		font-size 	: em( 16px, $base-font-size );
		color 		: $c-black;
		line-height : 1.7;

        padding-right : 5px;
		max-height 	  : 365px;
		overflow 	  : auto;

        /* width */
        &::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #c5c5c5;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #989898;
        }
	}

	.fd-sharing
	{
		margin 	: 15px 0 0;

		.fds-title
		{
			font-family : $font-circular-book;
			font-size 	: em( 14px, $base-font-size );
			color 		: $c-grey-6;
		}
	}

}

.ct-sharing
{
	margin : 0 0 45px;

	.title
	{
		font-family : $font-circular-book;
		font-size 	: em( 14px, $base-font-size );
		color 		: $c-grey-6;
		font-weight : bold;
	}

}

/* ============================================
/* OWL CAROUSEL - style 1 with slider arrow
/* ============================================*/
.ct-owl-carousel
{
	margin 	: 30px auto;
	width 	: 95%;

	/*
		change image from greyed to color
	 */
	&.greyed
	{
		.owl-carousel .owl-item img
		{
			filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			filter: gray; /* IE6-9 */
			-webkit-filter: grayscale(100%);

			&:hover
			{
				filter: grayscale(0%);
				-moz-filter: grayscale(0%);
				-ms-filter: grayscale(0%);
				-o-filter: grayscale(0%);
				filter: none ; /* IE6-9 */
				zoom:1; /* needed to trigger "hasLayout" in IE if no width or height is set */
				-webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
			}
		}

	}

	.owl-carousel .owl-nav button.owl-next
	{
		float: right;

		position 			: absolute;
		top 				: 30%;
		right 	 			: -20px;
		background-color  	: $c-owl-inactive;
		font-size 	 		: 35px;
		color  		 		: $c-owl-arrow;
		width 				: 40px;
		height 				: 40px;

		/*
			circle
		 */
		 border-radius: 100px;
		 -webkit-border-radius: 100px;
	 	-moz-border-radius: 100px;

		span{
			display 		: block;
			height 			: 24px;
			line-height 	: 0.5;
		}

		&:hover
		{
			background-color  	: $c-owl-active;
		}
	}

	.owl-carousel .owl-nav button.owl-prev
	{
		float: left;

		position 			: absolute;
		top 				: 30%;
		left 	 			: -20px;
		background-color 	: $c-owl-inactive;
		font-size 	 		: 35px;
		color  		 		: $c-owl-arrow;
		width 				: 40px;
		height 				: 40px;

		/*
			circle
		 */
		 border-radius: 100px;
		 -webkit-border-radius: 100px;
	 	-moz-border-radius: 100px;

		span{
			display 		: block;
			height 			: 24px;
			line-height 	: 0.5;
		}

		&:hover
		{
			background-color  	: $c-owl-active;
		}
	}
}

.ct-owl-title{
	text-align 		: center;
	font-family 	: $font-circular-book;
	font-size 	 	: em( 18px, $base-font-size );

	margin 	: 12px 0 0;

	color 	: $c-black;

	&.overlayed
	{
		background-color: rgba( 0, 0, 0, 0.5);

		color : $c-white;

		position 	: absolute;
		left 		: 0;
		right 		: 0;
		bottom 		: 0;

		padding : 8px 0;
		margin 	: 0 ;
	}
}

.ct-owl-btn
{
	position 		: absolute;
	top 			: 36%;
	left 			: 24%;
	width 			: 210px;
	padding 		: 8px 0;
	text-align 		: center;
	cursor 			: pointer;

	font-family : $font-circular-book;
	font-size 	: em( 15px, $base-font-size );
	color 		: $c-owl-subscribe-txt;

	text-decoration: none;

	background-color: white;

	-ms-filter 	: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";       /* IE 8 */
	filter: alpha(opacity=80);  /* IE 5-7 */
	-moz-opacity 	: 0.8;          /* Netscape */
	-khtml-opacity 	: 0.8;        /* Safari 1.x */
	opacity 		: 0.8;               /* Good browsers */


	&:hover
	{
		color : $c-white;

		background-color: $c-owl-hover-btn;

		-ms-filter 		: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
		filter: alpha(opacity=100);  /* IE 5-7 */
		-moz-opacity 	: 1;          /* Netscape */
		-khtml-opacity 	: 1;        /* Safari 1.x */
		opacity 		: 1;               /* Good browsers */

	}
}

.ct-owl-overlay
{
	position: relative;

	img
	{
		border-radius: 3px;
	}

	.ct-owl-bg
	{
		position 		: absolute;
		top 			: 0;
		left 			: 0;
		right 			: 0;
		bottom 			: 0;

		.ct-owl-btn
		{
			display: none;
		}

		&:hover
		{
			background-color: rgba( 0, 0, 0, 0.5);

			.ct-owl-btn
			{
				top 	: 44%;
				display : block;
			}

			.ct-owl-title.overlayed
			{
				background-color: rgba( 0, 0, 0, 0);
			}

		}

	}

}

.hs_slider {
	.owl-dots{
		text-align  : center;
		margin 		: 14px 0 0 0;
	}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot
	{
		height 			: 15px;
		width 		 	: 15px;
		border-radius 	: 225px;
		background-color: $c-owl-default;

		margin 			: 0 4px;

		&.active{
			background-color: $c-owl-active;
		}
	}
}


/* ============================================
/* SELECT2
/* ============================================*/
.ss2-parent-wrapper {
	.select2-container {
		width : 200px !important;
	}
}
.ss2-parent-wrapper {

	.select2-container--default
	{
		font-size   : em( 15px, $base-font-size );
		font-family : $font-circular-book;

		.select2-selection--single {
			border-radius : 0;
			outline : none;

			.select2-selection__arrow {
				background : $c-expand-calender-date;

				b {
					border-color : #FFF transparent transparent transparent;
				}
			}
		}

		.select2-results__group {

		}

		&.select2-container--open .select2-selection--single .select2-selection__arrow b {
			border-color : transparent transparent #FFF transparent;
		}
	}
}

$ss2-padding-vertical : 5px;
$ss2-padding-horizontal : 10px;
.select2-container--default
{
	.ss2-open-wrapper {
		font-family : $font-circular-book;
		font-style  : italic;
		border-radius : 0;

		.select2-results__group {
			text-transform : uppercase;
			color 		   : #d0d0d0;
			border-top 	   : 1px solid #d2d2d2;
			font-weight    : normal;
			font-family    : $font-circular-medium;
			padding 	   : 8px $ss2-padding-horizontal;
			font-style 	   : normal;

			font-size : em( 14px, $base-font-size );
		}

		.select2-results__option--highlighted[aria-selected] {
			background-color : $c-orange-2;
			color 			 : $c-white;
		}

		.select2-results__option {
			.select2-results__option {
				font-size : em( 14px, $base-font-size );
				padding : $ss2-padding-vertical $ss2-padding-horizontal;
			}
		}

		.select2-results__options {
			/* width */
			&::-webkit-scrollbar {
			    width: 7px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
			    background: #f1f1f1;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
			    background: #c5c5c5;
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
			    background: #989898;
			}
		}

		.select2-results>.select2-results__options {
			padding : 0 3px 4px;
		}
	}
}


/* ============================================
/* CSS - CHECKBOX
/* ============================================*/
input[type=checkbox].css-checkbox
{
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	order:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:21px;
	height:16px;
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:16px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -16px;
}

label.css-label {
	@include bg-img( 'css-checkbox.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

    &.disabled {
        @include bg-img( 'css-checkbox-disabled.png');
    }
}

/* ============================================
/* FORM
/* ============================================*/

.ct-form
{
	&.small
	{
		width: 330px;
	}

	&.medium
	{
		width: 390px;
	}

	&.large
	{
		width: 500px;
	}

	/*
		css
	 */
	@include clearfix;

	.ctf-row-checkbox
	{
		position : relative;
		height 	 : 60px;
		margin 	 : 25px 0 20px 0;
		text-align 		: left; 

		.css-label
		{
			padding-left  	: 30px !important;
			font-family 	: $font-circular-book;
		}
	}

	.ctf-row
	{
		@include clearfix;

		margin 	: 0 0 20px 0;

		label
		{
			float 			: left;
			font-family 	: $font-circular-book;
			font-size 		: em( 15px, $base-font-size );
		}

		.cr-asterisk
		{
			color: $c-red;
		}

		.cr-multi-info
		{
			float: right;
			width: 240px;

			.information
			{
				font-family : $font-circular-book;
				font-size 	: em( 12px, $base-font-size );
				color 		: $c-grey-2;

				margin : 5px 0 0 3px;

				&.no-margin
				{
					margin: 0;
				}

				&.redirect
				{
					display : block;
					color 	: $c-blue;
				}
			}

			.cr-input
			{
				float: none;
				width: 100%;
			}
		}

		.cr-radio
		{
			label
			{
				float  	: none;
				padding : 0;
				color 	: $c-black-5;
				cursor 	: pointer;
			
				@include inline-block( top );
			}

			.bullet
			{
				@include inline-block( top );
				margin : 4px 0 0;
			}

			&.top
			{
				padding : 0 0 5px;
			}
		}

		.cr-input
		{
			padding 		: 10px;
			font-family 	: $font-circular-book;
			font-size 		: em( 15px, $base-font-size );
			color 			: $c-black-5;

			width 	: 240px;
			float 	: right;
			border 	: 1px solid $c-border-input;

		    -webkit-box-sizing	: border-box; /* Safari/Chrome, other WebKit */
		    -moz-box-sizing 	: border-box;    /* Firefox, other Gecko */
		    box-sizing 			: border-box;         /* Opera/IE 8+ */

			&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			    color: $c-placeholder;
			    opacity: 1; /* Firefox */
			}

			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			    color: $c-placeholder;
			}

			&::-ms-input-placeholder { /* Microsoft Edge */
			    color: $c-placeholder;
			}

			&.no-spin::-webkit-inner-spin-button, &.no-spin::-webkit-outer-spin-button {
			    -webkit-appearance: none !important;
			    margin: 0 !important;
			    -moz-appearance:textfield !important;
			}

			&.textarea
			{
				min-height: 100px;
			}
		}

		.cr-select
		{
			width: 100%;
			padding: 9px 0;

			font-family : $font-circular-book;
			font-size 	: em( 15px, $base-font-size );
		}

	}

	.cr-button
	{
		width 		: 240px;
		font-family : $font-circular-book;
		font-size 	: em( 17px, $base-font-size );
		color 		: $c-white;

		padding 			: 9px 0;
		border  	 		: 1px solid $c-black-5;
		background-color 	: $c-black-5;

		text-align 			: center;
		text-decoration 	: none;

		&.f-left
		{
			float: left;
		}

		&.f-right
		{
			float: right;
		}


		&:hover
		{
			background-color : $c-orange-2;
			color 			 : $c-white;
			border 			 : 1px solid $c-orange-2;
		}

        &.navy {
            background-color : $c-navy-blue;
            border-color     : $c-navy-blue;

            &:hover {
                background-color : $c-navy-blue-hover;
                border-color     : $c-navy-blue-hover;
            }
        }
	}

	/*
		style 2 column left and right
	 */
	&.split-style
	{

		.ctf-row
		{
			width: 47%;

			&.f-right
			{
				float: right;
			}

			&.f-left
			{
				float: left;
			}

			&.f-full
			{
				width: 100%;
			}

			label
			{
				float   : none;
				display : block;
				margin 	: 0 0 4px 0;
			}

			.cr-input
			{
				float 	: none;
				display : block;
				color 	: $c-black;
				width 	: 100%;

				&.textarea
				{
					width: 100%;
				}

			}

		}

	}

}

/* ============================================
/* OWL CAROUSEL - style 1 with slider arrow
/* ============================================*/
.ct-error-info
{
	font-family  : $font-circular-book;
	color 		 : $c-no-error;
	margin 		 : 0 0 15px;

	font-size 	: em( 15px, $base-font-size );

	&.txt-error
	{
		color 		 : $c-error-txt;
	}

	&.show-panel,
    &.ct-ajax
	{
		margin 			 : 0;
		text-align 		 : center;
		padding 		 : 12px 0;
		color  			 : $c-white;
		background-color : $c-no-error;
		border-radius 	 : 2px;
	}
	&.txt-error.show-panel
	{
		background-color: $c-error-txt;
	}

    &.pad-bottom {
        margin-bottom : 25px;
    }

    &.ct-ajax {
        display          : none;
        background-color : $c-error-txt;
        color            : $c-white;

        &.txt-success {
            background-color : $c-no-error;
        }
    }
}


/* ============================================
/* FILTERS
/* ============================================*/
.ct-head-with-filter
{
	@include clearfix;
	position: relative;

	.ct-filter-simple
	{
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.ct-filter-simple
{
	.cs-row
	{
		margin : 0 10px 0 0;

		@include inline-block( middle );

		font-family 	: $font-circular-book;
		font-size 		: em( 13px, $base-font-size );


		select
		{
			width 	: 170px;
			padding : 7px 5px;
			border  : 1px solid $c-filter-select;

			background-color 	: $c-filter-select;
		}
	}
}

/* ============================================
/* uploaded receipt
/* ============================================*/
.ct-uploaded-receipt-files
{
	font-family : $font-circular-book;
	color 		: $c-black-2;

	margin 		: 15px 0 0;

	&.shift-right
	{
		margin 		: 35px 15px 0;
		text-align 	: right;
	}

	&.mobile
	{
		display: none;
	}

	ul
	{
		list-style-type: none;
		margin: 0 0 15px;
		padding: 0;
	}
	li
	{
		margin: 0;
		line-height: 1.3;

		a
		{
			font-family : $font-circular-book;
			color 		: $c-blue-3;
			font-size 	: em( 14px, $base-font-size );


			&:hover
			{
				color 		: $c-orange;
			}
		}
	}

	.title
	{
		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size );
		color 		: $c-black-2;
	}

    &.receipt-count {
        font-size : em( 15px, $base-font-size );
        a {
            font-size : em( 15px, 15px );
            display : block;
            color   : $c-txt-link;

            &:hover {
                text-decoration : underline;
            }
        }
    }
}


/* ============================================
/* GALLERY THUMBNAIl
/* ============================================*/
.ct-gallery-thumbnail
{
	@include clearfix;

	padding : 0 10px;

	ul
	{
		list-style-type 	: none;
		padding 			: 0;
		margin 				: 0;
	}

	li
	{
		float: left;
		margin: 0 15px 35px;

		border : 1px solid $c-gallery-border-grey;
		a
		{
			display : block;
			width 	: 100%;
		}


	}

	.img-greyed
	{
		filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(100%);
	}

	.last-thumbnail
	{
		margin : 0 0 38px 0;
	}

	.ctg-headings
	{

		text-align: center;
		h4
		{
			font-family : $font-circular-book;
			font-size 	: em( 13px, $base-font-size );
			color 		: $c-gallery-title-1;
			font-weight : normal;

			margin 		: 0;
			padding 	: 0;
		}
		h3
		{
			font-family : $font-circular-book;
			font-size 	: em( 20px, $base-font-size );
			font-weight : normal;

			margin 		: 0;
			padding 	: 0;
		}
	}
}

/**
 * galleries information
 */
.ct-galleries
{
	@include clearfix;

	margin  : 40px 0 0;
	padding : 0 10px;

	ul
	{
		list-style-type 	: none;
		padding 			: 0;
		margin 				: 0;
	}

	li
	{
		float 	: left;
		width 	: 375px;
		margin 	: 0 15px 35px;
	}

	.no-margin-col
	{
		margin 	: 0 0 50px 0;
	}

	.ctg-no-margin
	{
		margin: 0 0 45px 0;
	}

	.ctg-relative
	{
		position: relative;
		overflow: hidden;
		border-radius: 3px;

		&:hover
		{
			.ctw-overlayed
			{
				cursor: pointer;

				background-color: rgba( 0, 0, 0, 0.5);

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

			}

			.ctw-subscribe
			{
				display: block;
			}
		}

		.ctw-subscribe
		{
			display 		: none;

			position 		: absolute;
			top 			: 40%;
			left 			: 20%;
			width 			: 60%;
			padding 		: 8px 0;
			text-align 		: center;
			cursor 			: pointer;

			font-family : $font-circular-book;
			font-size 	: em( 15px, $base-font-size );
			color 		: $c-gallery-subscribe;

			text-decoration: none;

			background-color: white;

			-ms-filter 	: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";       /* IE 8 */
			filter: alpha(opacity=80);  /* IE 5-7 */
			-moz-opacity 	: 0.8;          /* Netscape */
			-khtml-opacity 	: 0.8;        /* Safari 1.x */
			opacity 		: 0.8;               /* Good browsers */


			&:hover
			{
				background-color: $c-owl-hover-btn;

				-ms-filter 		: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
				filter: alpha(opacity=100);  /* IE 5-7 */
				-moz-opacity 	: 1;          /* Netscape */
				-khtml-opacity 	: 1;        /* Safari 1.x */
				opacity 		: 1;               /* Good browsers */
			}
		}


		.ctw-title
		{
			font-family : $font-circular-book;
			font-size 	: em( 13px, $base-font-size );
			color 		: $c-gallery-title-1;
			background-color 	: $c-gallery-with-title-box;

			position 			: absolute;
			bottom 				: 0;
			padding 			: 7px 10px 5px;


			&.c-white
			{
				color : $c-white;
			}
		}
	}

	.ctg-headings
	{
		height: 115px;

		text-align 	: center;
		margin  	: 10px 0 0;

		h4
		{
			font-family : $font-circular-book;
			font-size 	: em( 13px, $base-font-size );
			color 		: $c-gallery-title-1;
			font-weight : normal;

			margin 		: 0;
			padding 	: 0;

			line-height : 1;
		}
		h3
		{
			font-family : $font-circular-book;
			font-size 	: em( 19px, $base-font-size );
			font-weight : normal;

			margin 		: 10px 0 0;
			padding 	: 0 10px;

			max-height 	: 50px;
			overflow 	: auto;

			line-height : 1.3;
		}

		a{
			font-family : $font-circular-book;
			color 		: $c-black;
		}
	}

	.ctg-description
	{
		font-family 	: $font-circular-book;
		font-size 		: em( 16px, $base-font-size );
		color  			: $c-grey-6;

		line-height 	: 1.7;
		text-align 		: left;

	 	padding 	: 0 10px;

	 	overflow 	: auto;
	 	min-height 	: 175px;
	 	max-height 	: 250px;
	}

	.ctg-info
	{
		@include clearfix;

		margin 	: 10px 0 0;

		font-family : $font-circular-book;
		font-size 	: em( 13px, $base-font-size );
		color 		: $c-gallery-info-1;

		.i-row
		{
			&.left
			{
				float: left;
			}

			&.right
			{
				float: right;
			}

			&.center
			{
				text-align: center;
			}

			.ir-txt
			{
				@include inline-block( middle );
			}
		}

		.ico-misc
		{
			margin 	: 0 5px 0 0;
		}
	}
}

.ct-galleries.informative
{
	.ctg-headings
	{
		height: 300px;

		h3
		{
			margin: 15px 0 10px;
		}
	}
}
/**
 * pagination
 */

.ct-pagination
{
	text-align: center;
	@include clearfix;

	width  : 100%;
	margin : 40px 0 0;

	.page-item
	{
		&.active
		{
			background-color : $c-pagination-active;
		}
	}

	ul
	{
		@include inline-block;

		padding 	: 0;
		margin 		: 0 auto;
		list-style-type: none;
	}

	li
	{
		float 	: left;
		margin  : 0 1px;

		background-color: $c-pagination;

		.page-link{
			cursor 		: pointer;
			width 		: 40px;
			display 	: block;
			padding 	: 11px 0;

			font-family 	: $font-circular-book;
			font-size 		: em( 13px, $base-font-size );
			color 			: $c-txt-pagination;
			text-decoration : none;
		}

		&:hover
		{
			background-color : $c-pagination-hover;
		}
	}
}

/**
 * ON MOBILE DISPLAY 
 * common css for display on 1024px
 */
.ct-onmobile
{
	display: none;
}

.ct-ondesktop
{
	display: block;
}

/* ============================================
/* MENU UL LI NAVIGATION TABS
/* ============================================*/
/*
	ul li menu tabs contest jquery
 */
#ct_tabs_container
{
	margin: 35px 0 30px;
}

.ct-tabs-menu
{
	list-style-type : none;
	padding 		: 0;
	margin 			: 0;

	@include clearfix;

	border-bottom : 2px solid $c-orange-2;

	li
	{
		float: left;

		text-align: center;
	}

	.active-tab
	{
		color 	 	: $c-white;
		background-color: $c-panel-nav-active;
	}

	a
	{
		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size );
		color 	 	: $c-white;

		text-decoration 	: none;
		background-color 	: $c-black-4;

		border-width: 1px 1px 0;
		border-color: $c-white;
		border-style: solid;

		display : block;
		width 	: 175px;
		padding : 12px 0 8px;
		border-radius : 3px 3px 0 0;

		&:hover
		{
			color 	 	: $c-white;
			background-color: $c-panel-nav-active;
		}
	}

}

/* ============================================
/* CHILD MENU LEFT NAVIGATION - ON LOGIN
/* ============================================*/

#ct_user_childmenu_onmobile
{
	display : none;	
}

/* ============================================
/* PANEL MENU OUTLINE STYLE
/* ============================================*/
.ct-panel
{
	&.over-width
	{
		display : block;
		overflow: hidden;

		border-top : 3px solid $c-orange-2;
		border-left : 1px solid $c-grey-10;
		border-bottom: 1px solid $c-grey-9;
		border-right: 1px solid $c-grey-9;

		padding: 25px 45px 30px 32px;
	}

	.ct-panel-nav
	{
		list-style-type: none;
		padding : 0;
		margin 	: 0;

		@include clearfix;

		li
		{
			float 	: left;

			border-right: 1px solid white;
			text-align 	: center;


			a
			{
				font-family : $font-circular-book;
				font-size 	: em( 15px, $base-font-size );
				color 	 	: $c-panel-nav-txt;

				text-decoration 	: none;
				background-color 	: $c-panel-nav;

				display : block;
				width 	: 150px;
				padding : 12px 0 8px;
				border-radius : 3px 3px 0 0;

				&:hover
				{
					color 	 	: $c-white;
					background-color: $c-panel-nav-active;
				}
			}
		}

		.active-menu
		{
			a
			{
				color 	 	: $c-white;
				background-color: $c-panel-nav-active;
			}
		}

	}

	.ct-panel-contents
	{
		background-color: $c-white;

		@include clearfix;

		border-top  : 4px solid $c-panel-content-border;
		padding 	: 40px 40px 84px 40px;

		/*
			shadow outline box
		 */
		-webkit-box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);
		-moz-box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);
		box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);

		&.no-border
		{
			border: 0;
		}

	}
}

/**
 * 	MOBILE DEVELOPMENT
 */

.ct-panel-mobile-nav
{
	display: none;

	cursor : pointer;

	.cpm-tabs
	{
		text-align 		: center;
		background-color: $c-black-2;

		padding 		: 8px 0;
		border-radius 	: 3px 3px 0 0;

		.rows
		{
			@include inline-block( middle );

			font-family: $font-circular-book;
			color: $c-white;
			font-size: em( 15px, $base-font-size );
		}
	}


	.cpm-lines
	{
		margin : 2px 8px 0 0;

		span
		{
			display: block;
			border: 1px solid $c-white;
			background-color: $c-white;
			width: 30px;
			height: 2px;
			margin: 0 0 5px;
		}
	}

	.cpm-routes
	{
		padding: 0;
		margin: 0;
		list-style-type: none;

		li
		{
			text-align 	: center;

			a
			{
				font-family : $font-circular-book;
				font-size 	: em( 15px, $base-font-size );
				color 	 	: $c-panel-nav-txt;

				text-decoration 	: none;
				background-color 	: $c-panel-nav;

				display : block;
				padding : 9px 0;

				&:hover
				{
					background-color: $c-light-blue-5;
				}
			}
		}

		.active-menu
		{
			a
			{
				background-color: $c-light-blue-5;
				border: 1px solid $c-blue-3;
			}
		}

	}

}


.floating-btn {
	position : fixed;
	z-index  : 1000;
	width 	 : 60px;
	height 	 : 60px;
	bottom 	 : 40px;
	right 	 : 40px;
	color  	 : #FFF;

	text-align : center;
	box-shadow : 2px 2px 3px #fb7f7b;

	background-color : $c-red;
	border-radius 	 : 50px;

	.fb-scan-ico {
		margin : 15px 0 0 0;
	}
}

[ripple]{
	position : relative;
	overflow : hidden;
	.ripple-effect{
		position : absolute;
		height 	 : 10px;
		width 	 : 10px;
		border-radius : 50%;
		transform     : translate3d(-50%, -50%, 0)
	}
}

.fab-btn {
	position : fixed;
	bottom 	 : 30px;
	right 	 : 30px;
	z-index  : 100;

	justify-content : center;
	display 	: inline-flex;
	align-items : center;
	background 	: $c-red;
	color 		: #fff;
	border 		: none;

	font-size 	  	: 27.5px;
	border-radius 	: 50%;
	transition 	  	: .3s ease;
	line-height 	: 1.452635473;
	box-shadow 		: 0 1px 3px 1px rgba(#000, .35);
	cursor 			: pointer;
	outline 		: none;

	height 	: 75px;
	width 	: 75px;
	vertical-align : middle;
	margin : 5px 7.5px;

	&:hover, &:focus{
		background : $c-red-2;
		box-shadow : 0 7px 15px -5px rgba(#000, .75)
	};

	.material-icons{
		font-size: inherit;
		vertical-align: middle
	}

	img {
		margin : -5px 0 0;
		cursor : pointer;
	}

}


/* ============================================
/* PER ROW WITH PICTURE
/* ============================================*/

.ct-expand-list
{
	list-style-type: none;

	padding 	: 0;
	margin 		: 0;

	li
	{
		margin 	: 0 0 25px;
		padding : 0 0 25px;

		border-bottom: 1px solid $c-grey-3;

		@include clearfix;
	}


	.ce-image
	{
		@include inline-block( top );

		position: relative;
		margin 	: 0 20px 0 0;

		.ce-sub-title
		{
			font-family 		: $font-circular-book;
			font-size 			: em( 13px, $base-font-size );
			color 				: $c-expand-sub-title-txt;
			background-color 	: $c-expand-sub-title-bg;

			position 			: absolute;
			left 				: 0;
			top 				: 0;
			padding 			: 7px 10px 5px;
		}

		img
		{
			border-radius: 3px;
		}

	}

	.ce-context
	{
		@include inline-block( top );

		width: 60%;

		.ctxt-row
		{
			margin 		: 20px 0 0;

			color 	 	: $c-expand-brand-txt;
			font-family : $font-circular-book;
			font-size 	: em( 15px, $base-font-size );
		}

		.ctxt-brand
		{
			font-weight : normal;
			padding 	: 0;
			margin 		: 0 0 4px;

			a
			{
				color 	 	: $c-expand-brand-txt;
				font-family : $font-circular-book;
				font-size 	: em( 13px, $base-font-size );
			}
		}

		.ctxt-title
		{
			font-weight : normal;
			padding 	: 0;
			margin 		: 0 0 6px;
			line-height : 1.3;

			a
			{
				color 	 	: $c-expand-title-txt;
				font-family : $font-circular-book;
				font-size 	: em( 19px, $base-font-size );
			}
		}

		.ctxt-icons
		{
			.ico-misc
			{
				@include inline-block( middle );
			}

			.c-calender-date
			{
				@include inline-block( middle );

				color 	 	: $c-expand-calender-date;
				font-family : $font-circular-book;
				font-size 	: em( 13px, $base-font-size );
				margin  	: 2px 0 0 6px;
			}
		}

		.ctxt-description
		{
			margin 	 	: 18px 0 0 0;
			line-height : 1.5;

				color 	 	: $c-expand-description;
				font-family : $font-circular-book;
				font-size 	: em( 15px, $base-font-size );
		}

		.ctxt-button
		{

			&.small
			{
				width 	: 120px;
				padding : 6px 0 4px;
			}

			&.bg-red
			{
				background-color: $c-red;

				&:hover
				{
					background-color : $c-black-2;
				}
			}

			display: block;
			padding: 7px 0;
			width: 210px;
			margin : 15px 0 0;

			text-align: center;

			font-family: $font-circular-book;
			font-size: em( 15px, $base-font-size );

			background-color : $c-black-2;
			color : $c-white;

			&:hover
			{
				background-color: $c-orange-2;
			}
		}
	}

	.ce-status
	{
		width 	: 200px;
		float 	: right;
		top 	: 0;
		right 	: 0;

		&.mobile
		{
			display: none;
		}

		.ces-info
		{
			display : block;
			width 	: 190px;
			padding : 7px 10px 5px;
			margin 	: 0 0 16px 0;

			color 	 	: $c-expand-status-txt;
			font-family : $font-circular-book;
			font-size 	: em( 15px, $base-font-size );
			text-align 	: center;

			background-color 	: $c-expand-status-grey;

			border-radius: 2px;

			&.blue
			{
				background-color 	: $c-expand-status-blue;
			}

			&.yellow
			{
				background-color 	: $c-expand-status-orange;
				color 				: $c-white;
			}

			&.black
			{
				background-color 	: $c-black-4;
				color 				: $c-white;
			}
		}

		.ces-thropy
		{
				text-align: center;
		}

		.ces-winner
		{
			text-align 	: center;
			margin 	 	: 10px 0 0;

			color 	 	: $c-expand-winner-info;
			font-family : $font-circular-book;

			.cw-title
			{
				font-size 	: em( 12px, $base-font-size );

			}

			.cw-name
			{
				font-size 	: em( 15px, $base-font-size );
			}
		}
	}

}

/* ============================================
/* LUCKY DRAW RETAILER ASSOCIATE
/* ============================================*/
.ct-associate-retailer
{
	margin : 0 0 35px;

	ul
	{
		list-style-type: none;

		padding : 0;
		margin : 0;

		li
		{
			@include inline-block();
			cursor: pointer;

			margin: 0 7px 10px 0;

			border: 1px solid $c-grey-7;
		}
	}

	&.islandwide
	{

		.title
		{
			font-family : $font-circular-book;
			font-size 	: em( 16px, $base-font-size );
			color 		: $c-grey;

			@include inline-block();

			margin : 0 0 0 12px;
		}

	}
}

/* ============================================
/* MEDIA QUERY
/* ============================================*/
@include max-screen( $mq-xl )
{
	/**
	 * 	on user login dashboard
	 */
    .ct-page-header{
        .cph-left,
        .cph-right
        {
            float : none;
        }
        .cph-right
        {
            .ct-button.righted {
                float : none;
                display : inline-block;

                margin : 15px 8px 0 0;
            }
        }
    }

	.st-container {
		width 	 : auto;
		min-width: 290px;
		padding  : 0 25px;
	}
	/*
		brands owl carousel
	 */
	.ct-owl-carousel .owl-carousel .owl-nav button.owl-next
	{
		right: 0;
	}
	.ct-owl-carousel .owl-carousel .owl-nav button.owl-prev
	{
		left: 0;
	}

	/**
	 * GALLERIES
	 */
	.ct-galleries li
	{
		width: 30%;

		img
		{
			width 	: 100%;
			height 	: auto;
		}
	}

	.ct-galleries .ctg-headings h3
	{
		font-size: em( 18px, $base-font-size );
	}

	.ct-galleries .ctg-description
	{
		max-height: 200px;
	}

	/**
	 * GALLERY THUMBNAIl
	 */

	.ct-gallery-thumbnail ul
	{
		text-align: center;
	}

	.ct-gallery-thumbnail .last-thumbnail
	{
		margin: 0 10px 20px;
	}

	.ct-gallery-thumbnail li
	{
		width: 13%;

		img
		{
			max-width: 100%;
		}
	}
	/*
		menu content for dashboard user or information
	 */
	.ct-panel-nav
	{
		display: none;
	}

	.ct-panel .ct-panel-contents
	{
		border: none;
		padding: 40px 20px 84px;
	}

	.ct-galleries.informative .ctg-headings
	{
		height: 225px;
	}

	/*
	FORM TEMPLATE
	 */
	.ct-form
	{
		margin: 0 auto;
	}

	.ct-form .ctf-row
	{
		text-align: left;
		margin: 0 0 20px;
	}

	.ct-form .ctf-row .cr-multi-info
	{
		float: none;
		width: 100%;
	}

	.ct-form .ctf-row label
	{
		float: none;
		display: block;
		margin: 0 0 5px;
	}

	.ct-form .ctf-row .cr-input
	{
		float: none;
		width: 100%;
	}

	.ct-form .cr-button.f-right
	{
		float: none;
		width: 100%;

		margin : 10px 0 0;
	}

	/*
		in success
	 */

	.ct-form .cr-button.f-left
	{
		float: none;
		width: 100%;
		display: block;
	}

	/**
	 * 	SPLIT LAYOUT
	 */
	 .split-layout.margin-half
	 {
	 	margin : 0 0 30px;
	 }

	.split-layout .panel-container .fd-title
	{
		font-size   : em( 20px , $base-font-size );
	}

	.split-layout .panel-container .fd-sharing
	{
		display: none;
	}

	.split-layout .sl-left
	{
		margin : 0 30px 0 0;

		.main-image
		{
			width 	: 100%;
			height 	: auto;
		}
	}

	/**
	 * summary lucky draw status
	 */
	.ct-expand-list .ce-status
	{
		display: none;

		&.mobile
		{
			display: block;
			float: none;
			margin: 15px 0 0;
		}
	}


}

@include max-screen( 1180px )
{
	.ct-galleries .ctg-relative
	{
		/*height: 225px;*/
		height: auto;
	}

	.ct-announcement
	{
		.owl-carousel
		{
			width: 92%;
		}
	}
}


@include max-screen( 1140px )
{
	.split-layout .panel-container .fd-description
	{
		max-height: 250px;
	}
}

@include max-screen( 1080px )
{
	.ct-galleries .ctg-relative
	{
		/*height: 200px;*/
		/*height: auto;*/
	}

	/*
		contest history
	 */
	.ct-expand-list .ce-context
	{
		width: 55%;
	}

}


@include max-screen( $mq-l )
{
	/**
	 * ct-onmobile
	 */
	.ct-onmobile
	{
		display: block;
	}

	.ct-ondesktop
	{
		display: none;
	}

	/**
	 * uploaded receipt
	 */
	.ct-uploaded-receipt-files
	{
		display: none;

		&.mobile
		{
			display 	: block;
			text-align 	: left;
		}

		.title
		{
			margin : 35px 0 10px 0;
		}
	}

	/**
	 * menu mobile top on mobile - onlogin ( dashboard, etc )
	 */
	.ct-panel.over-width
	{
		padding : 25px 10px 30px;
	}

    .ct-navigation-menu
    {
        display : none;
    }

	.ct-panel-mobile-nav
	{
		display: block;

		.cpm-routes
		{
			display: none;
		}
	}

	#ct_user_childmenu_onmobile
	{
		display : block;	
	}

	/**
	 * OWL CAROUSEL
	 */
	.owl-carousel .owl-item img
	{
		height: auto;
	}

	/*
		simple gallery thumbnail for 3 columns
	 */
	.ct-galleries .ctg-headings h3
	{
		font-size: em( 16px, $base-font-size );
	}

	.ct-galleries li
	{
		margin : 0 12px 35px;
	}

	/*
		gallery thumbnail small for 6 columns
	 */
	.ct-gallery-thumbnail li
	{
		width 	: 21%;
		margin  : 0 12px 25px;
	}

	/**
	 * layout split panel
	 */
	.split-layout
	{
		.sl-left
		{
			width 	: 100%;
			float 	: none;
			margin 	: 0;
		}


		.sl-right
		{
			margin: 35px 0 0;
		}
	}

	.split-layout.merged-mobile
	{
		border-top 		: 4px solid $c-orange-2;

		.sl-left
		{
			width: 66%;
		}

		.sl-right
		{
			width: 31%;
		}
	}

	/**
	 * panel container
	 */
	.split-layout .panel-container
	{
		padding : 20px 15px;

		.fd-button
		{
			width 	: 275px;
			margin 	: 15px auto 0;
			padding : 8px 0; 
		}

		.fd-description
		{
			font-size: em( 14px, $base-font-size);
			max-height: 240px;
		}
	}

	/*
		expand list style
	 */
	.ct-expand-list .ce-context .ctxt-title a
	{
		font-size: em( 18px, $base-font-size );
	}

	.ct-expand-list .ce-image
	{
		width: 36%;
		margin: 0;

		img
		{
			width: 100%;
			height: auto;
		}
	}

	.ct-expand-list .ce-context
	{
		width: 49%;
		float: right;
	}


	.ct-expand-list li
	{
		margin: 0 0 30px 0;
	}

	.ct-expand-list .ce-status .ces-info
	{
		margin: 5px 0;
	}

	.ct-expand-list .ce-status.mobile
	{
		width: 100%;
	}

	.ct-expand-list .ce-status .ces-info
	{
		width: 300px;
	}

	/**
	 * 	announcements
	 */
	.ct-announcement
	{
		.owl-carousel
		{
			width: 91%;
		}
	}

}

@include max-screen( 980px )
{
	.ct-galleries .ctg-relative
	{
		/*height: 175px;*/
	}
}

@include max-screen( 880px )
{
	.split-layout .panel-container .fd-description
	{
		max-height: 220px;
	}
}

@include max-screen( 840px )
{
	/**
	 * split layout
	 */
	.split-layout.merged-mobile
	{
		margin 		: 0 0 30px;
		border-top 	: none;
	}

	.split-layout.merged-mobile .sl-right
	{
		width 	: auto;
		float 	: none;

		padding : 30px 0 35px;

		border-bottom 	: 4px solid $c-orange-2;
	}

	.split-layout .panel-container .fd-description
	{
		max-height: 100%;
		overflow: initial;
	}

	.split-layout.merged-mobile .sl-left
	{
		float 	: none;
		width 	: 100%;
	}

	/*
		comtest history
	 */
	.ct-expand-list .ce-context .ctxt-title a
	{
		font-size: em( 16px, $base-font-size );
	}

	.ct-expand-list .ce-context .ctxt-description
	{
		font-size: em( 14px, $base-font-size );
	}

	.ct-expand-list li
	{
		margin: 0 0 40px;
	}

	.ct-expand-list .ce-image
	{
		width: 100%;
	}

	.ct-expand-list .ce-context
	{
		width: 100%;
		margin: 10px 0 0;
		float: none;
	}

	.ct-expand-list .ce-status .ces-info
	{
		width 	: 100%;
		padding : 5px 0;
	}

	.ct-expand-list .ce-context .ctxt-button
	{
		width: 100%;
	}

	.ct-announcement
	{
		.owl-carousel
		{
			width: 90%;
		}
	}

}

@include max-screen( 820px )
{
	.ct-galleries li
	{
		width 	: 45%;
		margin 	: 0 15px 35px;
	}

	.ct-galleries .ctg-relative
	{
		/*height 	: 225px;*/
	}
}

@include max-screen( $mq-m )
{
	/**
	* ASSOCIATE RETAILER
	*/
	.ct-associate-retailer
	{
		text-align: center;
	}

	/**
	 * page title head in each view
	 */
	.ct-page-header
	{
		text-align : center;
	
        .cph-bar {
            margin : 0 auto;
        }
	}


	.st-container
	{
		padding : 0 20px;
	}

	/* navigation when user login - bottom
	/* ============================================*/
	.mobile-navigation{
		display: block;

		#menu_side_store{
			display: none;
		}
		.item{
			background-color: $c-grey;

			&.active{
				background-color: $c-black;
				a{
					color: $c-grey-3;
				}
			}

			a{
				padding : 8px 18px;
				display : block;
				color 	: $c-black;
			}

			.menu-ico{
				margin-right: 5px;
			}

		}
	}

	/**
	 * 	announcements
	 */
	.ct-announcement
	{
		.owl-carousel
		{
			width: 86%;
		}
	}

	/*
		SELF PANEL
	 */
	.ct-panel .ct-panel-contents
	{
		padding: 40px 15px 84px;
	}

	/**
	 * owl carousel
	 */
	.ct-owl-carousel
	{
		margin  : 22px 0;
		width 	: 100%;
	}

	.ct-owl-btn
	{
		top : 40%;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 270px;
	}

	.ct-page-header h2
	{
		font-size: em( 25px, $base-font-size );
	}

	/*
		brands owl carousel
	 */
	.ct-owl-carousel .owl-carousel .owl-nav button.owl-next
	{
		/*top: 42%*/
	}
	.ct-owl-carousel .owl-carousel .owl-nav button.owl-prev
	{
		/*top: 42%*/
	}

	/**
	 * FORM
	 */

	.ct-form.large
	{
		width: 100%;
	}

	.ct-form .cr-button.f-left
	{
		float: none;
		width: 100%;
	}

	/**
	 * GALLERIES
	 */
	.ct-galleries
	{
		padding : 0;
	}

	.ct-galleries li
	{
		width 	: 45%;
		margin 	: 0 15px 35px;
	}

	.ct-galleries .ctg-relative
	{
		/*height 	: 200px;*/
	}

	/*
		GALLERIES THUMBNAIL
	 */
	.ct-gallery-thumbnail
	{
		padding : 0;
	}

	.ct-gallery-thumbnail li
	{
		width: 28.5%;
	}

	/**
	 * 	OVERWRITES COMMON
	 */
	.split-layout.shadow-layer
	{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.split-layout .panel-container .fd-guide
	{
		margin : 25px auto 0;
	}


	/**
	 * 	announcements
	 */
	.ct-announcement .cta-megaphone
	{
		position: initial;
		top: 0;
		right: 0;
		text-align: center;
	}

	.ct-announcement .owl-carousel
	{
		width: 100%;
		float: none;
	}

	.ct-announcement .owl-carousel .owl-nav
	{
		top: auto;
		bottom: 0;
		right: 0;
	}

	.ct-announcement .ct-owl-overlay
	{
		width 	: 100%;
		padding : 10px 0 40px;
	}

	/**	
	* FILTER BAR DROP DOWN
	*/
	.ct-head-with-filter .ct-filter-simple
	{
		position: static;
		margin-top: 25px;
	}

	#ct_filter_form
	{
		display: block;
	}

	.ct-filter-simple .cs-row
	{
		width: 100%;
	}

	.ct-head-with-filter .ct-filter-simple .select2-container
	{
		width: 100% !important;
	}
}

@include max-screen( 680px )
{
	/**
	 * GALLERIES
	 */
	.ct-galleries li
	{
		width 	: 45%;
		margin 	: 0 12px 40px;
	}

	.ct-galleries .ctg-relative
	{
		/*height 	: 200px;*/
	}
}

@include max-screen( 640px )
{
	/**
	 * GALLERIES
	 */
	.ct-galleries li
	{
		width 	: 45%;
		margin 	: 0 12px 40px;
	}

	.ct-galleries .ctg-relative
	{
		/*height 	: 175px;*/
	}
}

@include max-screen( 600px )
{
	/**
	 * GALLERIES
	 */
	.ct-galleries .ctg-no-margin
	{
		margin: 0 0 15px 0;
	}
}

@include max-screen( 580px )
{
	/**
	 * GALLERIES
	 */
	.ct-galleries .ctg-relative
	{
		/*height 	: 150px;*/
	}

	.ct-gallery-thumbnail li
	{
		width 	: 43%;
	}

	.ct-logo-title
	{
		text-align: center;
	}
}

@include max-screen( 520px )
{
	/**
	 * GALLERIES
	 */
	.ct-galleries li
	{
		float 	: none;
		width 	: 100%;
		margin 	: 0 0 25px;
	}

	.ct-galleries .ctg-relative
	{
		height 	: auto;
	}

	.ct-galleries.informative li
	{
		margin : 0 0 40px;
	}
}

@include max-screen( 440px )
{
	.ct-gallery-thumbnail li
	{
		width 	: 100%;
		margin 	: 0 0 20px;
	}
}

@include max-screen( $mq-sm )
{
	.ct-announcement
	{
		font-size: em( 16px, $base-font-size );
	}
	/**
	 * owl carousel
	 */
	.ct-page-header h2
	{
		font-size: em( 22px, $base-font-size );
	}

	.ct-owl-btn
	{
		width: 210px;
	}

	.ct-form.medium
	{
		width: 100%;
	}

	.ct-form.small
	{
		width: 100%;
	}

	.ct-form .ctf-row label
	{
		display: block;
		float: none;
	}
	.ct-form .ctf-row .cr-input
	{
		float: none;
		display: block;
	}

	.ct-form .cr-button.f-right
	{
		float: none;
		width: 100%;

		margin: 15px 0 0;
	}

	/**
	 * FORM
	 */
	.ct-form.large
	{
		float: none;
		padding: 0 0 70px;
	}
	.ct-form.split-style .ctf-row
	{
		width: 100%;
	}
	.ct-form.split-style .ctf-row.f-left
	{
		float: none;
	}
	.ct-form.split-style .ctf-row.f-right
	{
		float: none;
	}

	/**
	 * GALLERIES
	 */

	.ct-galleries .ctg-headings h3
	{
		font-size: em( 16px, $base-font-size );
	}

	/**
	 * 	split layout panel
	 */
	.split-layout .panel-container
	{
		.fd-button,
		.fd-guide
		{
			width: 100%;
		}
	}

	/**
	 * tabs layout for information & terms conditions
	 */
	.ct-tabs-menu
	{
		li
		{
			float: none;
		}

		a
		{
			width: 100%;
		}
	}
}



@include max-screen( 380px )
{
	/**
	 * owl carousel
	 */
	.ct-owl-btn
	{
		width: 180px;
		font-size: em( 13px, $base-font-size );
	}

	.ct-owl-title
	{
		font-size: em( 18px, $base-font-size );
	}

	/*
		change container padding
	 */
	.st-container
	{
		padding: 0 15px;
	}

}
