@import "webfonts";

@font-face
{
	font-family : "CircularStd Black";
	font-weight : normal;
	font-style  : normal;

	src : url( "fonts/circular/CircularStd-Black.ttf" ); 
}

@font-face
{
	font-family : "CircularStd Black";
	font-weight : normal;
	font-style  : italic;

	src : url( "fonts/circular/CircularStd-BlackItalic.ttf" ); 
}

@font-face
{
	font-family : "CircularStd";
	font-weight : bold;
	font-style  : normal;

	src : url( "fonts/circular/CircularStd-Bold.ttf" ); 
}

@font-face
{
	font-family : "CircularStd";
	font-weight : bold;
	font-style  : italic;

	src : url( "fonts/circular/CircularStd-BoldItalic.ttf" ); 
}

@font-face
{
	font-family : "CircularStd Book";
	font-weight : normal;
	font-style  : normal;

	src : url( "fonts/circular/CircularStd-Book.ttf" ); 
}

@font-face
{
	font-family : "CircularStd Book";
	font-weight : normal;
	font-style  : italic;

	src : url( "fonts/circular/CircularStd-BookItalic.ttf" ); 
}

@font-face
{
	font-family : "CircularStd Medium";
	font-weight : normal;
	font-style  : normal;

	src : url( "fonts/circular/CircularStd-Medium.ttf" ); 
}

@font-face
{
	font-family : "CircularStd Medium";
	font-weight : normal;
	font-style  : italic;

	src : url( "fonts/circular/CircularStd-MediumItalic.ttf" ); 
}

/**
 * MYRIAD - PRO
 */

@font-face
{
	font-family : "MyriadPro Regular";
	font-weight : normal;
	font-style  : normal;

	src : url( "fonts/myriad-pro/MyriadPro-Regular.otf" ); 
}

/**
 * BANGLA - MN
 */

@font-face
{
	font-family : "Bangla mn";
	font-weight : normal;
	font-style  : normal;

	src : url( "fonts/bangla-mn/bangla-mn-regular.ttf" ); 
}

/**
 * Icomoon
 */

@font-face
{
	font-family: 'icomoon';
	src:  url('fonts/icomoon/icomoon.eot?wxbm26');
	src:  url('fonts/icomoon/icomoon.eot?wxbm26#iefix') format('embedded-opentype'),
			url('fonts/icomoon/icomoon.ttf?wxbm26') format('truetype'),
			url('fonts/icomoon/icomoon.woff?wxbm26') format('woff'),
			url('fonts/icomoon/icomoon.svg?wxbm26#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
	[class^="icomoon-"], [class*=" icomoon-"] {
	  /* use !important to prevent issues with browser extensions that change fonts */
	  font-family: 'icomoon' !important;
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;

	  /* Better Font Rendering =========== */
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}

	.icomoon-favorite-border:before {
	  content: "\e900";
	}
	.icomoon-favorite:before {
	  content: "\e901";
	}

