@import "base";

.ico-magnify
{
	@include inline-block( middle );

	@include bg-img( 'icon-magnify.png', 24px, 24px );
}

.ico-register
{
	@include inline-block( middle );

	&.member
	{
		@include bg-img( 'icon-register.png', 21px, 23px );
	}

	&.lock
	{
		@include bg-img( 'icon-register.png', 19px, 23px );
		background-position: -26px 0;
	}
}

.ico-misc
{
	@include inline-block( middle );

	&.location
	{
		@include bg-img( 'icon-misc.png', 11px, 16px );
	}

	&.calender
	{
		@include bg-img( 'icon-misc.png', 16px, 16px );
		background-position: -16px 0;
	}
}

.ico-dropdown
{
	@include inline-block( middle );

	margin 	: 0 0 0 3px;

	&.down
	{
		@include bg-img( 'icon-dropdown.png', 11px, 6px );
	}
}

.ico-home-guides
{
	@include inline-block(top);

	&.hand
	{
		@include bg-img( 'home-guides.png', 25px, 30px );
	}
	&.winner
	{
		@include bg-img( 'home-guides.png', 26px, 22px );
		background-position: -30px 0;
	}
	&.cart
	{
		@include bg-img( 'home-guides.png', 25px, 20px );
		background-position: -61px 0;
	}
	&.door
	{
		@include bg-img( 'home-guides.png', 22px, 24px );
		background-position: -88px 0;
	}
	&.upload
	{
		@include bg-img( 'home-guides.png', 24px, 21px );
		background-position: -117px 0;
	}
    &.scan
    {
        @include bg-img( 'scan-guide.png', 25px, 25px );
    }
}

.ico-home-subscribe
{
	@include bg-img( 'mail-subscribe.png', 80px, 66px );
}

.ico-facebook
{
	@include bg-img( 'facebook-icon.jpg', 22px, 22px );
}

.ico-receipt-upload
{
	@include bg-img( 'upload-receipt.png', 86px, 29px );
}

.ico-receipt-question
{
	@include bg-img( 'question-receipt.png', 16px, 16px );
}

/*<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div>Icons made by <a href="https://www.wflaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong">mynamepong</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
*/
.ico-user-navigation
{
	@include inline-block();
	margin-right: 8px;

	&.lock
	{
		@include bg-img( 'user-navigation-icon.png', 20px, 25px );
		background-position: 0 0;
	}

	&.cart
	{
		@include bg-img( 'user-navigation-icon.png', 20px, 18px );
		background-position: 0 -30px;
	}

	&.location
	{
		@include bg-img( 'user-navigation-icon.png', 20px, 20px );
		background-position: 0 -51px;
	}

	&.list
	{
		@include bg-img( 'user-navigation-icon.png', 20px, 11px );
		background-position: 0 -76px;
	}

	&.profile
	{
		@include bg-img( 'user-navigation-icon.png', 20px, 27px );
		background-position: 0 -91px;
	}

}

.ico-user-toolbar
{
	@include inline-block();
	margin-right: 8px;

	@include bg-img( 'user-toolbar-icon.png', 20px, 20px );

	&.upload
	{
		background-position: 0 0;
	}

	&.delete
	{
		background-position: 0 -25px;
	}
}