/*@font-face 
{
    font-family: 'wf-tahupedia';

    src : url('../fonts/wf-tahupedia/tahupedia.eot?9cwmit');
    src : url('../fonts/wf-tahupedia/tahupedia.eot?9cwmit#iefix')      format('embedded-opentype'),
          url('../fonts/wf-tahupedia/tahupedia.ttf?9cwmit')            format('truetype'),
          url('../fonts/wf-tahupedia/tahupedia.woff?9cwmit')           format('woff'),
          url('../fonts/wf-tahupedia/tahupedia.svg?9cwmit#tahupedia')  format('svg');

    font-weight: normal;
    font-style: normal;
}

.wf-icon, 
[class^="wf-icon"], 
[class*=" wf-icon"] 
{
    font-family     : 'wf-tahupedia' !important;
    speak           : none;
    font-style      : normal;
    font-weight     : normal;
    font-variant    : normal;
    text-transform  : none;
    line-height     : 1;

    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

.wf-icon
{
    &.triangle
    {
        &.up:before    { content: "\e900"; }
        &.down:before  { content: "\e901"; }
        &.right:before { content: "\e902"; }
        &.left:before  { content: "\e903"; }
    }
    &.search:before { content: "\e904"; }
    &.random:before { content: "\e905"; }
    &.user:before   { content: "\e906"; }
    &.plus:before   { content: "\e90b"; }
    &.socials
    {
        &.fb-sq:before { content: "\1f345"; }
        &.fb:before    { content: "\e90c"; }
        &.tw:before    { content: "\e908"; }
        &.gp:before    { content: "\e909"; }
        &.rss:before   { content: "\e90a"; }
    }
}*/