/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#brands_content {
  margin: 65px auto 65px;
}
#brands_content .ct-gallery-thumbnail {
  margin: 40px 0 0;
}
#brands_content .ct-gallery-thumbnail.fav-brands {
  margin-bottom: 40px;
}

#controls {
  font-size: 16px;
}

#fav_brands li {
  position: relative;
}
#fav_brands .icomoon-favorite {
  position: absolute;
  bottom: -18px;
  right: -18px;
  font-size: 2.8125em;
  color: #FF0000;
}

.select2-container--default .ss2-open-wrapper .select2-results > .select2-results__options {
  padding-top: 4px;
}

.select2-container--default .select2-dropdown {
  font-size: 0.875em;
}

/*# sourceMappingURL=brands.css.map */
