/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#brand_detail_content {
  margin: 65px auto 75px;
}

.hs_slider {
  width: 52%;
  float: left;
}

#brand_media:before, #brand_media:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#brand_media:after {
  clear: both;
}
#brand_media .hs_slider .owl-dots {
  position: absolute;
  bottom: 0;
  left: 45%;
}

#brand_info {
  float: left;
  width: 40%;
  min-height: 290px;
  border-top: 4px solid #FF8000;
  padding: 35px 45px 20px 35px;
  background-color: #FFF;
  /*
  	shadow outline box
   */
  -webkit-box-shadow: 2px 4px 10px 0px #bdbdbd;
  -moz-box-shadow: 2px 4px 10px 0px #bdbdbd;
  box-shadow: 2px 4px 10px 0px #bdbdbd;
}
#brand_info .bi-logo {
  border: 1px solid #CCCCCC;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 20px 0 0;
}
#brand_info .bi-title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-family: "CircularStd Book";
  font-size: 1.5625em;
  margin: 10px 0 0;
}
#brand_info .bi-description {
  color: #535353;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  margin: 16px 0 0;
  line-height: 1.7;
}

.informative-product {
  margin: 40px 0 60px;
}
.informative-product .ct-page-header {
  margin: 0 0 30px;
}
.informative-product .ct-expand-list li {
  margin: 0;
}
.informative-product .ct-expand-list .ce-context {
  width: 63%;
}
.informative-product .ctxt-icons.location {
  margin: 0 0 5px;
}
.informative-product .ct-expand-list .ce-context .ctxt-description {
  margin: 15px 0 0;
}

@media screen and (max-width: 1024px) {
  .hs_slider {
    float: none;
    width: 100%;
  }
  .hs_slider .owl-carousel .owl-item img {
    height: auto;
  }

  #brand_info {
    float: none;
    width: auto;
    margin: 15px 0 0;
  }

  .informative-product .ct-expand-list li:before, .informative-product .ct-expand-list li:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .informative-product .ct-expand-list li:after {
    clear: both;
  }

  /*
  	other info
   */
  .ct-page-header h2 {
    font-size: 1.625em;
  }

  .ct-expand-list .ce-context .ctxt-title a {
    font-size: 1.3125em;
  }

  .ct-expand-list .ce-image {
    margin: 0;
    width: 33%;
  }
  .ct-expand-list .ce-image img {
    width: 100%;
    height: auto;
  }

  .informative-product .ct-expand-list .ce-context {
    float: right;
    width: 65%;
  }
}
@media screen and (max-width: 720px) {
  #brand_info .bi-title {
    font-size: 1.375em;
  }

  #brand_info .bi-header {
    text-align: center;
  }
  #brand_info .bi-logo {
    margin: 0;
  }

  .ct-expand-list .ce-image {
    width: 100%;
    display: block;
  }

  .informative-product .ct-expand-list .ce-context {
    float: none;
    width: 100%;
    margin: 15px 0 0;
  }

  .ct-expand-list .ce-context .ctxt-button {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #brand_info .bi-title {
    font-size: 1.25em;
  }

  #brand_info {
    padding: 30px 15px;
  }

  #brand_info {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}

/*# sourceMappingURL=brand-detail.css.map */
