/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
.split-layout .panel-container .fd-description {
  max-height: 300px;
}

.split-layout .panel-container .fd-retailer img {
  width: 130px;
  height: auto;
}

@media screen and (max-width: 1366px) {
  .split-layout .panel-container .fd-description {
    max-height: 265px;
  }
}
@media screen and (max-width: 1280px) {
  .split-layout .panel-container .fd-description {
    max-height: 235px;
  }
}
@media screen and (max-width: 1200px) {
  .split-layout .panel-container .fd-description {
    max-height: 205px;
  }
}
@media screen and (max-width: 1120px) {
  .split-layout .panel-container .fd-description {
    max-height: 170px;
  }
}
@media screen and (max-width: 1024px) {
  .split-layout .panel-container .fd-retailer img {
    height: 75px;
  }

  .split-layout .panel-container .fd-title {
    font-size: 1.125em;
  }

  .split-layout .panel-container {
    padding: 20px 0 0 15px;
  }

  .split-layout .panel-container .fd-description {
    max-height: 185px;
  }
}
@media screen and (max-width: 960px) {
  .split-layout .panel-container .fd-description {
    max-height: 165px;
  }
}
@media screen and (max-width: 900px) {
  .split-layout .panel-container .fd-title {
    font-size: 1em;
  }

  .split-layout .panel-container .fd-description {
    max-height: 145px;
  }
}
@media screen and (max-width: 840px) {
  .split-layout.merged-mobile .sl-left {
    width: 100%;
    float: none;
  }

  .split-layout.merged-mobile .sl-right {
    float: none;
    width: 100%;
  }

  .split-layout .panel-container {
    padding: 10px 0 0;
  }

  .split-layout .panel-container .fd-description {
    max-height: 100%;
    overflow: initial;
  }

  .split-layout.shadow-layer {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .split-layout .panel-container .fd-retailer img {
    width: 170px;
    height: 110px;
  }
}
@media screen and (max-width: 720px) {
  .split-layout .panel-container {
    padding: 0;
  }
}

/*# sourceMappingURL=brand-product-detail.css.map */
