/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
/**
 * 	OVERWRITES COMMON
 */
.ct-galleries.informative .ctg-headings {
  height: auto;
}

.ct-logo-title {
  overflow: hidden;
}
.ct-logo-title .ctlt-logo {
  float: left;
}
.ct-logo-title .ctlt-action-wrapper.bot {
  margin-top: 30px;
}

.ctlt-info {
  float: right;
}
.ctlt-info .ctlt-title {
  margin: 20px 0 0;
  font-family: "CircularStd Book";
  font-size: 1.875em;
  text-transform: uppercase;
  font-weight: normal;
  color: #989898;
}

.ct-list {
  clear: both;
}

.ctlt-logo {
  margin: 0 20px 0 0;
}

.ctlt-button {
  display: block;
  padding: 8px 25px;
  border: 1px solid #555;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  color: #555;
  margin: 10px 0 0;
  font-family: "CircularStd Book";
  font-size: 0.875em;
  text-transform: uppercase;
}
.ctlt-button .label,
.ctlt-button .label-fav {
  display: inline-block;
  margin: -6px 5px 0 0;
  vertical-align: middle;
}
.ctlt-button .label-fav {
  display: none;
}
.ctlt-button .icomoon-favorite-border,
.ctlt-button .icomoon-favorite {
  font-size: 1.625em;
  color: #555;
  display: inline-block;
}
.ctlt-button:hover {
  background: #FF8000;
  border-color: #FF8000;
  color: #FFF;
}
.ctlt-button:hover .icomoon-favorite-border,
.ctlt-button:hover .icomoon-favorite {
  color: #FFF;
}
.ctlt-button.fav.active {
  background: #FF8000;
  border-color: #FF8000;
  color: #FFF;
}
.ctlt-button.fav.active .icomoon-favorite-border:before {
  content: "\e901";
}
.ctlt-button.fav.active .icomoon-favorite-border,
.ctlt-button.fav.active .icomoon-favorite {
  color: #D22020;
}
.ctlt-button.fav.active:hover {
  background: #ff9b36;
}
.ctlt-button.fav.active .label-fav {
  display: inline-block;
}
.ctlt-button.fav.active .label {
  display: none;
}

@media screen and (max-width: 1024px) {
  .ct-expand-list .ce-context {
    width: 50%;
    float: none;
  }

  .ct-expand-list .ce-image {
    margin: 0 20px 0 0;
  }
}
@media screen and (max-width: 840px) {
  .ct-expand-list .ce-context {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .ct-logo-title {
    text-align: center;
  }
  .ct-logo-title .ctlt-logo,
  .ct-logo-title .ctlt-info {
    float: none;
  }
}

/*# sourceMappingURL=brand-list.css.map */
