/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#brand_products {
  margin: 65px auto 80px;
}

@media screen and (max-width: 860px) {
  .ct-galleries .ctg-description {
    font-size: 0.9375em;
  }
}
@media screen and (max-width: 780px) {
  .ct-galleries .no-margin-col {
    margin: 0 20px 40px 0;
  }
}

/*# sourceMappingURL=brand-product.css.map */
