/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#categories_content {
  margin: 60px auto 80px;
}
#categories_content .ct-galleries {
  margin: 30px 0 0;
}
#categories_content .ct-gallery-thumbnail {
  margin: 30px 0 0;
}
#categories_content .ct-page-header h2 {
  font-size: 1.5625em;
}

.cc-section {
  padding: 5px 0;
}

/*# sourceMappingURL=categories.css.map */
