/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#contact_content {
  padding-top: 50px;
  padding-bottom: 80px;
}
#contact_content .ct-page-header {
  margin: 0 0 42px;
}
#contact_content:before, #contact_content:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#contact_content:after {
  clear: both;
}

.ct-form {
  float: left;
}

#captcha_bg {
  display: block;
  padding: 4px 0 16px;
}

#inquiry_bg {
  float: right;
  margin: 0 60px 0 0;
}

/*
	MOBILE DEVELOPMENT
 */
@media screen and (max-width: 1024px) {
  #inquiry_bg {
    display: none;
  }

  #captcha_bg {
    margin: 0 auto;
  }

  /*
  	title page
   */
  #contact_content .ct-page-header {
    text-align: center;
  }

  .ct-page-header .cph-bar {
    margin: 0 auto;
  }

  /**
   * 	form
   */
  .ct-form {
    float: none;
    margin: 0 auto;
  }

  .ct-form .cr-button.f-left {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  #inquiry_bg {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  #contact_content .ct-page-header {
    margin: 40px 0 30px;
  }
}

/*# sourceMappingURL=contacts.css.map */
