/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#contest_contents {
  margin: 65px auto 80px;
}

.ct-page-header {
  margin: 0 0 30px;
}
.ct-page-header h2 {
  font-size: 1.5625em;
}

/*
	MOBILE
 */
.ci-mobile-subscribe-btn {
  display: none;
}

@media screen and (max-width: 1366px) {
  #contest_form .upload-img.mobile {
    float: right;
  }

  #contest_form .cf-input {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
  }

  /*
  	brands owl carousel
   */
  .ct-owl-carousel .owl-carousel .owl-nav button.owl-next {
    top: 27%;
  }

  .ct-owl-carousel .owl-carousel .owl-nav button.owl-prev {
    top: 27%;
  }
}
@media screen and (max-width: 1140px) {
  .sl-right .fd-description {
    max-height: 185px;
  }
}
@media screen and (max-width: 1024px) {
  #split_layout {
    width: auto;
    float: none;
  }

  .sl-right.informative {
    float: none;
    width: auto;
    margin: 25px 0 0;
  }

  .sl-right .fd-description {
    max-height: 100%;
  }
}
@media screen and (max-width: 720px) {
  .sl-right {
    display: none;
  }

  .sl-right.informative {
    display: block;
    float: none;
    width: auto;
    margin: 25px 0 0;
  }

  #split_layout {
    float: none;
    width: 100%;
  }

  .ci-mobile-subscribe-btn {
    display: block;
    position: absolute;
    top: 40%;
    left: 23%;
    font-family: "CircularStd Book";
    font-size: 0.9375em;
    color: #000;
    width: 55%;
    background-color: #FCCB00;
    border: 1px solid #FCCB00;
    padding: 10px 0;
    text-align: center;
  }
  .ci-mobile-subscribe-btn:hover {
    background-color: #FFF;
    color: #FCCB00;
  }

  /*
  	brands owl carousel
   */
  .ct-owl-carousel .owl-carousel .owl-nav button.owl-next {
    top: 35%;
  }

  .ct-owl-carousel .owl-carousel .owl-nav button.owl-prev {
    top: 35%;
  }

  .ct-galleries .ctg-relative .ctw-subscribe {
    top: 43%;
  }
}
@media screen and (max-width: 580px) {
  /*
  	brands owl carousel
   */
  .ct-owl-carousel .owl-carousel .owl-nav button.owl-next {
    top: 33%;
  }

  .ct-owl-carousel .owl-carousel .owl-nav button.owl-prev {
    top: 33%;
  }
}
@media screen and (max-width: 460px) {
  /*
  	brands owl carousel
   */
  .ct-owl-carousel .owl-carousel .owl-nav button.owl-next {
    top: 31%;
  }

  .ct-owl-carousel .owl-carousel .owl-nav button.owl-prev {
    top: 31%;
  }
}
@media screen and (max-width: 480px) {
  .ci-mobile-subscribe-btn {
    font-size: 0.875em;
    padding: 8px 0;
  }

  .sl-right .fd-title {
    font-size: 1.25em;
  }
}

/*# sourceMappingURL=contest-detail.css.map */
