/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
.ct-expand-list .ce-context {
  width: 48%;
}

.ct-listed-date {
  margin-bottom: 15px;
}

.ct-header {
  overflow: hidden;
}
.ct-header .ct-page-header {
  float: left;
}
.ct-header .ct-filter-simple {
  float: right;
}

.select2-results {
  font-size: 0.8125em;
}

.ss2-parent-wrapper .select2-container--default {
  font-size: 1em;
}

@media screen and (max-width: 1240px) {
  .ct-expand-list .ce-context {
    width: 42%;
  }
}
@media screen and (max-width: 1080px) {
  .ct-expand-list .ce-context {
    width: 38%;
  }
}
@media screen and (max-width: 1024px) {
  .ct-expand-list .ce-context {
    width: 60%;
  }
}
@media screen and (max-width: 840px) {
  .ct-expand-list .ce-context {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .ct-header .ct-filter-simple {
    float: none;
    margin-bottom: 40px;
  }
  .ct-header .ct-filter-simple .cs-row {
    display: block;
  }
  .ct-header .ct-filter-simple .select2-container {
    width: 100% !important;
  }

  #ct_filter_form {
    display: block;
  }

  .ct-header .ct-page-header {
    float: none;
    margin: 0 auto 20px;
  }
}

/*# sourceMappingURL=contest-history.css.map */
