/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
.contest-cart-image-label {
  margin: 0 20px 0 0;
  cursor: pointer;
}

.ct-expand-list .contest-cart-image-label img {
  border-radius: 5px;
}

.ct-expand-list .ctx-compact {
  margin: 0 0 5px;
}

.ctx-compact {
  overflow: hidden;
}
.ctx-compact .ctxt-wrapper-left {
  width: 100%;
  float: left;
  overflow: hidden;
}
.ctx-compact .ctxt-img {
  float: left;
}
.ctx-compact .ce-context {
  width: 65%;
}
.ctx-compact .ctxt-wrapper-right {
  overflow: hidden;
}
.ctx-compact .ctxt-left,
.ctx-compact .ctxt-right {
  display: inline-block;
  vertical-align: top;
}
.ctx-compact .ctxt-left {
  width: 70%;
}
.ctx-compact .ctxt-right {
  width: 25%;
}
.ctx-compact .ctx-receipt {
  /*margin : 0;*/
  /*padding : 15px;*/
  /*background : #F7F7F7;*/
}
.ctx-compact .ctx-receipt-count {
  margin: 45px 0 0;
  font-family: "CircularStd Book";
  font-size: 0.875em;
  color: #888888;
}

@media screen and (max-width: 1180px) {
  .ctx-compact {
    overflow: hidden;
  }
  .ctx-compact .ce-context {
    width: 60%;
  }
}
@media screen and (max-width: 1024px) {
  .contest-cart-image-label {
    margin: 0;
  }
  .contest-cart-image-label img {
    width: 45%;
    height: auto;
  }

  .ctx-compact .ctxt-img {
    margin-right: 20px;
  }
  .ctx-compact .ce-context {
    float: none;
    margin: 0;
  }
  .ctx-compact .contest-cart-image-label img {
    width: 200px;
  }
  .ctx-compact .ctxt-wrapper-left {
    float: none;
    width: 100%;
    margin: 0 0 20px;
  }
  .ctx-compact .ctxt-wrapper-right.ctx-receipt .rec {
    display: inline-block;
    margin: 0 20px 0 0;
  }
  .ctx-compact .ctx-receipt-count {
    margin: 20px 0 0;
  }
}
@media screen and (max-width: 840px) {
  .ct-expand-list .ct-listed-date .date {
    text-align: center;
    font-size: 1.125em;
  }

  .ctx-compact .ctxt-img {
    margin-right: 0;
  }
  .ctx-compact .contest-cart-image-label img {
    width: 90%;
  }
  .ctx-compact .ce-context {
    margin: 15px 0 0;
    width: 100%;
  }

  .ct-expand-list .ct-listed-date .date {
    margin: 10px 0 0;
  }
}
@media screen and (max-width: 640px) {
  .ctx-compact .ctxt-img {
    float: none;
  }
  .ctx-compact .ce-context {
    width: auto;
    display: block;
    overflow: initial;
  }
  .ctx-compact .ctx-receipt-count {
    margin-top: 20px;
  }
}
@media screen and (max-width: 550px) {
  .ct-page-header .ct-button {
    display: block;
    width: 100%;
    margin: 0 0 10px;
  }
}
@media screen and (max-width: 480px) {
  .ct-page-header .cph-right .ctr-button.righted {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  .ctx-compact .contest-cart-image-label img {
    width: 88%;
  }
}

/*# sourceMappingURL=dashboard.css.map */
