/*@font-face 
{
    font-family: 'wf-tahupedia';

    src : url('../fonts/wf-tahupedia/tahupedia.eot?9cwmit');
    src : url('../fonts/wf-tahupedia/tahupedia.eot?9cwmit#iefix')      format('embedded-opentype'),
          url('../fonts/wf-tahupedia/tahupedia.ttf?9cwmit')            format('truetype'),
          url('../fonts/wf-tahupedia/tahupedia.woff?9cwmit')           format('woff'),
          url('../fonts/wf-tahupedia/tahupedia.svg?9cwmit#tahupedia')  format('svg');

    font-weight: normal;
    font-style: normal;
}

.wf-icon, 
[class^="wf-icon"], 
[class*=" wf-icon"] 
{
    font-family     : 'wf-tahupedia' !important;
    speak           : none;
    font-style      : normal;
    font-weight     : normal;
    font-variant    : normal;
    text-transform  : none;
    line-height     : 1;

    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

.wf-icon
{
    &.triangle
    {
        &.up:before    { content: "\e900"; }
        &.down:before  { content: "\e901"; }
        &.right:before { content: "\e902"; }
        &.left:before  { content: "\e903"; }
    }
    &.search:before { content: "\e904"; }
    &.random:before { content: "\e905"; }
    &.user:before   { content: "\e906"; }
    &.plus:before   { content: "\e90b"; }
    &.socials
    {
        &.fb-sq:before { content: "\1f345"; }
        &.fb:before    { content: "\e90c"; }
        &.tw:before    { content: "\e908"; }
        &.gp:before    { content: "\e909"; }
        &.rss:before   { content: "\e90a"; }
    }
}*/
@font-face {
  font-family: "CircularStd Black";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/circular/CircularStd-Black.ttf");
}
@font-face {
  font-family: "CircularStd Black";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/circular/CircularStd-BlackItalic.ttf");
}
@font-face {
  font-family: "CircularStd";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/circular/CircularStd-Bold.ttf");
}
@font-face {
  font-family: "CircularStd";
  font-weight: bold;
  font-style: italic;
  src: url("fonts/circular/CircularStd-BoldItalic.ttf");
}
@font-face {
  font-family: "CircularStd Book";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/circular/CircularStd-Book.ttf");
}
@font-face {
  font-family: "CircularStd Book";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/circular/CircularStd-BookItalic.ttf");
}
@font-face {
  font-family: "CircularStd Medium";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/circular/CircularStd-Medium.ttf");
}
@font-face {
  font-family: "CircularStd Medium";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/circular/CircularStd-MediumItalic.ttf");
}
/**
 * MYRIAD - PRO
 */
@font-face {
  font-family: "MyriadPro Regular";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/myriad-pro/MyriadPro-Regular.otf");
}
/**
 * BANGLA - MN
 */
@font-face {
  font-family: "Bangla mn";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/bangla-mn/bangla-mn-regular.ttf");
}
/**
 * Icomoon
 */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon/icomoon.eot?wxbm26");
  src: url("fonts/icomoon/icomoon.eot?wxbm26#iefix") format("embedded-opentype"), url("fonts/icomoon/icomoon.ttf?wxbm26") format("truetype"), url("fonts/icomoon/icomoon.woff?wxbm26") format("woff"), url("fonts/icomoon/icomoon.svg?wxbm26#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-favorite-border:before {
  content: "\e900";
}

.icomoon-favorite:before {
  content: "\e901";
}

/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
html, body {
  height: 92%;
  font-family: "MyriadPro Regular";
}

body {
  background: #E5221B;
}

#st_outer {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#st_404 {
  text-align: center;
}
#st_404 .msg {
  margin: 35px 0 0;
  font-size: 1.625em;
  font-weight: 300;
  color: #ffbcba;
  padding: 0 30px;
}
#st_404 .logo {
  text-align: center;
}
#st_404 .btn {
  margin: 25px 0 0;
}
#st_404 .btn a {
  background: #FF8000;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 3px;
  color: #FFF;
  font-size: 1.125em;
}
#st_404 .btn a:hover {
  background: #ff9b36;
}

@media screen and (max-width: 720px) {
  #st_404 .logo img {
    width: 150px;
    height: auto;
  }
  #st_404 .msg {
    font-size: 1.125em;
  }
  #st_404 .btn a {
    font-size: 1em;
  }
}
@media screen and (max-width: 480px) {
  #st_404 .logo img {
    width: 125px;
  }
}

/*# sourceMappingURL=errors.css.map */
