/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#forget_pass_content {
  padding: 50px 10px 80px;
}

#forget_paragraph p {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  padding: 0;
  margin: 34px 0 24px;
  line-height: 1.6;
}
#forget_paragraph a {
  color: #0397ec;
}

@media screen and (max-width: 1366px) {
  #forget_pass_content {
    padding: 50px 15px 80px;
    text-align: center;
  }

  .ct-page-header .cph-bar {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=forget-pass.css.map */
