/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
/*
	home - Guides
 */
#home_guides {
  background-color: #555;
  /*	
  * HOW TO WIN TITLE
  */
  /**	
  * OWL CAROUSEL
  */
}
#home_guides:before, #home_guides:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#home_guides:after {
  clear: both;
}
#home_guides .hg-title {
  width: 9%;
  float: left;
  padding: 18px 0;
  border-right: 1px solid #777;
}
#home_guides .hg-title .top-txt {
  color: #FFF;
  font-size: 1.3125em;
}
#home_guides .hg-title .btm-txt {
  color: #FFF;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1;
}
#home_guides .owl-carousel .owl-nav button.owl-next, #home_guides .owl-carousel .owl-nav button.owl-prev {
  display: none;
}
#home_guides .hg-owl {
  margin: 20px 0 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 90%;
}
#home_guides .hg-info {
  text-align: center;
}
#home_guides .hg-info:before, #home_guides .hg-info:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#home_guides .hg-info:after {
  clear: both;
}
#home_guides .hg-info .hi-numbering {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 3.4375em;
  font-family: "Times New Roman", Serif;
  font-weight: bold;
  color: #FFF;
  line-height: normal;
  margin: 0 0 0 0;
}
#home_guides .hg-info .hi-description {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 10px 0 0 12px;
  color: #FFF;
  font-family: "CircularStd Black";
  font-size: 0.9375em;
  font-family: "CircularStd Book";
  text-align: left;
}
#home_guides .hg-info .hid-title {
  display: inline-block;
  vertical-align: bottom;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 0 0 7px;
}
#home_guides .hg-info .hgi-arrow-wrapper {
  display: inline-block;
  margin: 12px 0 0 0;
}
#home_guides .hg-info .hgi-arrow {
  float: right;
  margin: 20px 10px 0 0;
  border: solid #888;
  border-width: 0 11px 11px 0;
  padding: 11px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#home_guides .hg-info .hgi-arrow.third {
  display: none;
}

/*home owl carousel custom prev and next button position*/
.ct-owl-carousel .owl-carousel .owl-nav button.owl-prev,
.ct-owl-carousel .owl-carousel .owl-nav button.owl-next {
  top: 35%;
}

/*
	home slider section - 1
 */
#home_slider {
  padding: 40px 43px 45px;
}
#home_slider:before, #home_slider:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#home_slider:after {
  clear: both;
}

.hs-slider {
  float: left;
  width: 64.5%;
}

.hs-img-container {
  max-width: 820px;
}

.hs-thumbnails {
  float: right;
  width: 430px;
}
.hs-thumbnails .hst-image {
  display: block;
}
.hs-thumbnails .hst-image.top {
  margin: 0 0 20px;
}

#hs_contents {
  width: 40%;
  float: left;
  padding: 15px 0 0;
}
#hs_contents h1 {
  font-family: "CircularStd Book";
  font-size: 2.5em;
  padding: 0 0 12px 0;
  margin: 0;
  font-weight: normal;
  line-height: 1.2;
}
#hs_contents p {
  font-family: "CircularStd Book";
  font-size: 1.25em;
  color: #777;
  padding: 0;
  margin: 0;
}

#hs_next_btn {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  text-align: center;
  background-color: #FCCB00;
  width: 72px;
  margin: 20px 0 0 0;
  padding: 4px 0 3px;
  border-radius: 3px;
}

/*
	section 2 - contest slider
 */
#favorite_contests {
  margin: 0 auto 30px;
}

#other_contest {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
#other_contest ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#other_contest li {
  width: 33%;
  height: 90px;
  float: left;
  margin: 0 0 16px;
  overflow: hidden;
}
#other_contest li:before, #other_contest li:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#other_contest li:after {
  clear: both;
}
#other_contest .oc-no-margin {
  margin: 0 0 16px;
}
#other_contest .oc-image {
  float: left;
}
#other_contest .oc-info {
  float: left;
  width: 51%;
  height: 100%;
  margin: 0 0 0 10px;
  position: relative;
}
#other_contest .oc-title {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  line-height: 1;
  font-weight: normal;
  padding: 5px 0 2px;
  margin: 0;
}
#other_contest .oc-title a {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #000;
}
#other_contest .oc-link {
  font-family: "CircularStd Book";
  font-size: 0.75em;
  color: #FF7F00;
  position: absolute;
  bottom: 0;
}
#other_contest .oc-link:hover {
  color: #00A1FF;
}

/*
	section 3 - informative_background
 */
#informative_background {
  position: relative;
  overflow: hidden;
  margin: 35px 0 50px;
  /* Full height */
  width: 100%;
  height: 670px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#informative_background:before, #informative_background:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#informative_background:after {
  clear: both;
}
#informative_background .ib-background {
  position: absolute;
  top: 12%;
  left: -50%;
  right: -50%;
  bottom: 14%;
  z-index: -1000;
  background-color: #F7FBFD;
  -moz-transform: rotate(173deg);
  -ms-transform: rotate(173deg);
  -webkit-transform: rotate(173deg);
  transform: rotate(173deg);
}
#informative_background:before, #informative_background:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#informative_background:after {
  clear: both;
}
#informative_background .ib-image {
  float: left;
  margin: 40px 0 0;
}
#informative_background .ib-description {
  float: right;
  width: 49%;
  margin: 170px 0 0 32px;
}
#informative_background .ib-description .ib-title {
  font-family: "CircularStd Book";
  font-size: 2.8125em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
#informative_background .ib-description .ib-link {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
#informative_background .ib-description ul {
  margin: 0;
  padding: 20px 0 0 52px;
}
#informative_background .ib-description li {
  list-style-image: url("../../../images/f/yellow-star.png");
  font-family: "CircularStd Book";
  font-size: 1.5625em;
  color: #333333;
  margin: 0 0 15px 0;
}

/*
	section 4 - brands
 */
#fm_brands {
  padding: 30px 10px 75px;
}

#home_mail_subscribe {
  background-color: #555;
}
#home_mail_subscribe .hm-container {
  position: relative;
  height: 100px;
  text-align: center;
}
#home_mail_subscribe .ico-home-subscribe {
  position: absolute;
  bottom: 0;
  left: 165px;
}
#home_mail_subscribe .hm-box {
  margin: 0 0 0 90px;
  padding: 25px 0 0;
}
#home_mail_subscribe .hm-row {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: left;
}
#home_mail_subscribe .hm-row.b-fields {
  width: 45%;
  margin-left: 30px;
}
#home_mail_subscribe .hm-row .txt-title {
  color: #FFF;
  font-family: "CircularStd Black";
  font-size: 1.125em;
}
#home_mail_subscribe .hm-row .txt-description {
  color: #FFF;
  font-family: "CircularStd Book";
  font-size: 1.125em;
}
#home_mail_subscribe .hm-row .inp-subs-email {
  @inclunde inline-block( top );
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  border: 1px solid white;
  border-radius: 4px;
  width: 70%;
  margin: 0 0 0 6px;
  padding: 10px;
}
#home_mail_subscribe .hm-row .inp-subs-email ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #AAAAAA;
  opacity: 1;
  /* Firefox */
}
#home_mail_subscribe .hm-row .inp-subs-email :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #AAAAAA;
}
#home_mail_subscribe .hm-row .inp-subs-email ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #AAAAAA;
}
#home_mail_subscribe .hm-row .inp-btn {
  background-color: #FB8200;
  border: 1px solid #FB8200;
  padding: 10px;
  border-radius: 4px;
  margin-left: 4px;
  color: #FFF;
  font-family: "CircularStd Black";
  font-size: 0.9375em;
}

@media screen and (max-width: 1366px) {
  /*
  	home main slider
   */
  .hs-slider {
    width: 64%;
  }

  /*
  	home thumbnail
   */
  .hs-thumbnails {
    width: 33.5%;
  }
  .hs-thumbnails .hst-image {
    width: 100%;
  }

  #home_mail_subscribe {
    padding: 20px 0 0;
  }

  #home_mail_subscribe .hm-row .inp-subs-email {
    margin: 0;
  }

  #home_mail_subscribe .hm-box {
    position: absolute;
    left: 180px;
    padding: 0;
    width: 60%;
  }

  #home_mail_subscribe .hm-row {
    display: block;
  }

  #home_mail_subscribe .hm-row.b-fields {
    margin-left: 0;
    width: auto;
  }
}
@media screen and (max-width: 1024px) {
  /**
   * 	home guide 
   */
  #home_guides .hg-title {
    width: 100px;
  }

  #home_guides .hg-owl {
    width: 88%;
  }

  /**
   * 	HOME SLIDER
   */
  #home_slider {
    padding: 35px 15px;
  }

  .hs-slider {
    width: 100%;
    float: none;
  }

  .hs-thumbnails {
    float: none;
    width: 100%;
  }
  .hs-thumbnails:before, .hs-thumbnails:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .hs-thumbnails:after {
    clear: both;
  }
  .hs-thumbnails .hst-image {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 48%;
    height: auto;
  }
  .hs-thumbnails .hst-image.top {
    margin: 25px 0 0;
    float: left;
  }
  .hs-thumbnails .hst-image.btm {
    margin: 25px 0 0;
    float: right;
  }

  #fm_brands {
    padding: 20px 15px 75px;
  }

  #informative_background .ib-image {
    width: 46%;
    height: auto;
    margin: 50px 0 0;
  }

  #informative_background .ib-description {
    width: 48%;
    margin: 150px 0 0;
  }

  #informative_background {
    margin: 30px 0 0;
  }

  #home_guides .hg-title.first {
    width: 12%;
  }
}
@media screen and (max-width: 960px) {
  #home_mail_subscribe .hm-row .inp-subs-email {
    width: 55%;
  }
}
@media screen and (max-width: 920px) {
  /**	
  *	HOME GUIDES
  */
  #home_guides .hg-owl {
    width: 80%;
  }

  #informative_background .ib-description .ib-title {
    font-size: 2.1875em;
  }

  #informative_background .ib-description li {
    font-size: 1.25em;
  }

  #informative_background .ib-image {
    margin: 88px 0 0;
  }
}
@media screen and (max-width: 860px) {
  #informative_background .ib-image {
    margin: 120px 0 0;
  }

  #informative_background .ib-description ul {
    padding: 20px 0 0 30px;
  }
}
@media screen and (max-width: 840px) {
  #other_contest li {
    width: 49%;
  }
}
@media screen and (max-width: 720px) {
  #home_mail_subscribe .hm-row .txt-title {
    font-size: 0.8125em;
  }

  #home_mail_subscribe .hm-row .txt-description {
    font-size: 0.8125em;
  }

  #home_mail_subscribe .hm-row.b-fields {
    margin: 8px 0 0;
  }

  #home_mail_subscribe .ico-home-subscribe {
    left: 80px;
  }

  #home_mail_subscribe .hm-box {
    left: 85px;
  }

  #home_mail_subscribe .hm-row .inp-subs-email {
    width: 60%;
  }

  #hs_contents {
    float: none;
    display: block;
    width: auto;
    padding: 0;
  }

  #hs_contents h1 {
    font-size: 1.875em;
  }

  #hs_contents p {
    font-size: 1em;
  }

  #hs_next_btn {
    display: none;
  }

  .hs_slider {
    float: none;
    display: block;
    width: auto;
    margin: 25px 0 0;
  }

  #other_contest {
    padding: 10px 0 0 0;
  }

  #informative_background .ib-description .ib-title {
    font-size: 1.875em;
  }

  #informative_background .ib-description li {
    font-size: 1.125em;
  }

  #informative_background .ib-image {
    margin: 150px 0 0;
  }
}
@media screen and (max-width: 620px) {
  #informative_background .ib-description .ib-title {
    font-size: 1.625em;
  }

  #informative_background .ib-description li {
    font-size: 1em;
  }
}
@media screen and (max-width: 580px) {
  .hs-thumbnails .hst-image {
    display: block;
    width: 100%;
  }
  .hs-thumbnails .hst-image.top {
    float: none;
  }
  .hs-thumbnails .hst-image.btm {
    float: none;
  }
}
@media screen and (max-width: 560px) {
  /**************
  * HOME GUIDES
  */
  #home_guides .hg-owl {
    width: 75%;
  }

  /**************
  *OTHERS
  */
  #other_contest li {
    width: 100%;
    float: none;
    display: block;
  }

  #informative_background .ib-image {
    display: none;
  }

  #informative_background .ib-description {
    width: 100%;
    float: none;
  }

  #informative_background .ib-description ul {
    padding: 20px 0 0 50px;
  }

  #informative_background .ib-description .ib-title {
    font-size: 2.1875em;
  }

  #informative_background .ib-description li {
    font-size: 1.375em;
  }

  #home_mail_subscribe .ico-home-subscribe {
    left: 40px;
  }

  #home_mail_subscribe .hm-box {
    left: 45px;
  }

  #home_mail_subscribe .hm-row .inp-subs-email {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  #hs_contents {
    text-align: center;
  }

  #home_guides .hg-title {
    width: 85px;
    padding: 15px 0;
  }
  #home_guides .hg-title .top-txt {
    font-size: 1.1875em;
  }
  #home_guides .hg-title .btm-txt {
    font-size: 2em;
  }
  #home_guides .hg-owl {
    margin: 10px 0 0;
  }
  #home_guides .owl-carousel .owl-nav {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 420px) {
  #home_mail_subscribe .hm-row .inp-subs-email {
    width: 45%;
  }

  #home_mail_subscribe .hm-row .inp-btn {
    font-size: 0.8125em;
    padding: 10px 5px;
    margin-left: 2px;
  }

  #home_mail_subscribe .ico-home-subscribe {
    left: 20px;
  }

  #home_mail_subscribe .hm-box {
    left: 25px;
  }

  #informative_background .ib-description .ib-title {
    font-size: 1.875em;
  }

  #informative_background .ib-description li {
    font-size: 1.125em;
  }
}
@media screen and (max-width: 400px) {
  #home_mail_subscribe .ico-home-subscribe {
    display: none;
  }

  #home_mail_subscribe .hm-box {
    margin: 0;
    width: auto;
    left: 0;
    position: initial;
  }

  #home_mail_subscribe .hm-row .inp-subs-email {
    width: 60%;
  }

  /**
  * HOME GUIDES
  */
  #home_guides .owl-carousel .owl-nav button.owl-next span {
    right: -12px;
  }

  #home_guides .hg-title {
    width: 65px;
    padding: 15px 0;
  }
  #home_guides .hg-title .top-txt {
    font-size: 0.9375em;
  }
  #home_guides .hg-title .btm-txt {
    font-size: 1.625em;
  }
  #home_guides .hg-owl {
    margin: 5px 0 0;
    width: 75%;
  }
  #home_guides .hg-info .hgi-arrow {
    margin: 24px 10px 0 0;
    border-width: 0 6px 6px 0;
    padding: 9px;
  }
  #home_guides .hg-info .hid-title {
    font-size: 0.9375em;
  }
  #home_guides .hg-info .hid-description {
    font-size: 0.875em;
  }
}

/*# sourceMappingURL=home.css.map */
