/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#information_content {
  margin: 65px auto 80px;
}
#information_content .ct-panel .ct-panel-nav li a {
  width: 180px;
}

#page_information {
  padding: 35px 42px 60px 40px;
}
#page_information h1 {
  margin-bottom: 20px;
  font-family: "CircularStd";
  font-weight: bold;
  padding: 0;
}
#page_information h2, #page_information h3, #page_information h4, #page_information h5, #page_information h6 {
  font-family: "CircularStd";
  font-weight: bold;
  margin: 4px 0;
  padding: 0;
}
#page_information p {
  font-family: "CircularStd Book";
  line-height: 1.7;
  margin: 5px 0 25px;
  font-size: 0.9375em;
}
#page_information ul {
  margin-top: -10px;
}
#page_information ul ul {
  margin-top: 15px;
}
#page_information li {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
}

/*# sourceMappingURL=information.css.map */
