/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#content_wrapper {
  border-top: 2px solid #FF8000;
  width: 600px;
  margin: 0 auto;
  background-color: #FFF;
  border-top: 4px solid #FF8000;
  -webkit-box-shadow: 2px 4px 10px 0px #bdbdbd;
  -moz-box-shadow: 2px 4px 10px 0px #bdbdbd;
  box-shadow: 2px 4px 10px 0px #bdbdbd;
}

.db-detail {
  padding: 30px 30px 35px;
  overflow: hidden;
}
.db-detail .head-title {
  margin: 0 0 20px;
  font-size: 1.25em;
  font-weight: normal;
  font-family: "CircularStd Book";
}
.db-detail .img {
  margin: 0 15px 0 0;
  float: left;
}
.db-detail .img img {
  border-radius: 5px;
}
.db-detail .content {
  overflow: hidden;
}
.db-detail .content .metadata .brand,
.db-detail .content .metadata .sep,
.db-detail .content .metadata .icons {
  display: inline-block;
  vertical-align: middle;
  color: #555;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  margin: 2px 0 0 0;
  text-transform: uppercase;
  font-weight: normal;
}
.db-detail .content .metadata .brand a {
  color: #0397ec;
}
.db-detail .content .metadata .brand a:hover {
  text-decoration: underline;
}
.db-detail .content .metadata .sep {
  margin: -5px 0 0;
}
.db-detail .title {
  margin: 3px 0 0;
  font-family: "CircularStd Book";
}
.db-detail .title a {
  color: #000;
  font-family: "CircularStd Book";
  font-size: 1.375em;
}
.db-detail .paragraph {
  font-weight: normal;
  font-family: "CircularStd Book";
  font-size: 1em;
}
.db-detail .status {
  margin-top: 15px;
}
.db-detail .status .info {
  display: inline-block;
  padding: 7px 20px;
  font-size: 0.8125em;
  color: #525252;
  font-family: "CircularStd Book";
  background-color: #EEEEEE;
  border-radius: 4px;
}
.db-detail .status .info.blue {
  background-color: #CEF0F0;
}
.db-detail .status .info.yellow {
  background-color: #FF8000;
  color: #FFF;
}
.db-detail .status .info.black {
  background-color: #545454;
  color: #FFF;
}

.db-content {
  padding: 0 0 40px;
}
.db-content .body-title {
  margin: 0 0 0;
  font-size: 1.125em;
  font-weight: normal;
  font-family: "CircularStd Book";
  padding: 0 20px 0;
}
.db-content .body-title .cph-bar {
  margin: 3px 0 0;
  width: 50px;
  height: 3px;
  display: block;
  background-color: #FF8000;
}
.db-content .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.db-content .list .item {
  margin: 0 30px;
  padding: 20px 0 20px;
  border-top: 1px solid #CDCDCD;
}
.db-content .list .item:last-child {
  padding-bottom: 0;
}
.db-content .list .item .date {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
}
.db-content .list .item .name {
  font-family: "CircularStd Book";
  font-size: 0.875em;
}
.db-content .list .item .name a {
  color: #3990C3;
}
.db-content .list .item .name a:hover {
  color: #FF8000;
}
.db-content .ct-no-data {
  border-top: 1px solid #CDCDCD;
  padding: 30px 0 0;
  margin: 0 30px;
  font-size: 1.1875em;
}

.cm-box {
  width: 190px;
  padding: 7px 10px 5px;
  color: #525252;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  text-align: center;
  border-radius: 2px;
}
.cm-box.blue {
  background-color: #CEF0F0;
}
.cm-box.orange {
  background-color: #FF8000;
  color: #FFF;
}
.cm-box.black {
  background-color: #545454;
  color: #FFF;
}

@media screen and (max-width: 600px) {
  #content_wrapper {
    width: 95%;
  }

  .db-detail .content .metadata .brand,
  .db-detail .content .metadata .sep,
  .db-detail .content .metadata .icons {
    font-size: 0.8125em;
  }
}
@media screen and (max-width: 560px) {
  .db-detail {
    padding-left: 20px;
    padding-right: 20px;
  }
  .db-detail .img {
    margin: 0 0 15px;
    float: none;
  }
  .db-detail .img img {
    width: 100%;
    height: auto;
  }
  .db-detail .content .metadata .brand,
  .db-detail .content .metadata .sep,
  .db-detail .content .metadata .icons {
    font-size: 0.875em;
  }
  .db-detail .status .info {
    display: block;
    text-align: center;
    font-size: 0.875em;
  }

  .db-content .item {
    margin: 0 20px;
  }
  .db-content .ct-no-data {
    margin: 0 20px;
  }
}
@media screen and (max-width: 380px) {
  .db-content .list .item .date {
    font-size: 0.875em;
  }
  .db-content .list .item .name {
    font-size: 0.8125em;
  }
}

/*# sourceMappingURL=lucky-receipt-list.css.map */
