/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#contest_contents {
  margin: 65px auto 80px;
}

/**
 * 	FORM
 */
.panel-container.winner-announced .fd-guide {
  margin-top: 10px;
}

/*# sourceMappingURL=lucky-detail.css.map */
