/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#page_headings {
  text-align: center;
}
#page_headings .title {
  font-family: "CircularStd Book";
  font-size: 1.5em;
}
#page_headings .title a {
  color: #FF8000;
}
#page_headings .paragraph {
  font-family: "CircularStd Book";
  font-size: 1em;
}

.t-table {
  margin: 0 auto;
}
.t-table .row-data {
  -webkit-box-shadow: 6px 5px 15px 0 rgba(229, 230, 234, 0.7);
  -moz-box-shadow: 6px 5px 15px 0 rgba(229, 230, 234, 0.7);
  box-shadow: 6px 5px 15px 0 rgba(229, 230, 234, 0.7);
  font-family: "CircularStd Book";
  color: #333333;
  font-size: 1em;
  margin: 0 0 15px;
}
.t-table .row-data.greyed {
  background: #F7F7F7;
}
.t-table .title {
  color: #3991C4;
  font-size: 0.75em;
}
.t-table .column {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  word-break: break-all;
  padding: 15px 0;
  width: 30%;
}
.t-table .column.numbering {
  width: 5%;
  text-align: center;
  color: #3991C4;
}
.t-table .mobile-data {
  display: none;
}

.description {
  margin: 40px 0 0;
  text-align: center;
  font-family: "CircularStd Book";
  font-size: 1.375em;
}

@media screen and (max-width: 480px) {
  .t-table .column.numbering {
    width: 10%;
  }

  .t-table .column {
    width: 40%;
  }

  .t-table .mobile-data {
    display: block;
    margin: 10px 0 0;
  }

  .column.phone {
    display: none;
  }
}

/*# sourceMappingURL=lucky-winner-list.css.map */
