/* Partials */
/*@font-face 
{
    font-family: 'wf-tahupedia';

    src : url('../fonts/wf-tahupedia/tahupedia.eot?9cwmit');
    src : url('../fonts/wf-tahupedia/tahupedia.eot?9cwmit#iefix')      format('embedded-opentype'),
          url('../fonts/wf-tahupedia/tahupedia.ttf?9cwmit')            format('truetype'),
          url('../fonts/wf-tahupedia/tahupedia.woff?9cwmit')           format('woff'),
          url('../fonts/wf-tahupedia/tahupedia.svg?9cwmit#tahupedia')  format('svg');

    font-weight: normal;
    font-style: normal;
}

.wf-icon, 
[class^="wf-icon"], 
[class*=" wf-icon"] 
{
    font-family     : 'wf-tahupedia' !important;
    speak           : none;
    font-style      : normal;
    font-weight     : normal;
    font-variant    : normal;
    text-transform  : none;
    line-height     : 1;

    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

.wf-icon
{
    &.triangle
    {
        &.up:before    { content: "\e900"; }
        &.down:before  { content: "\e901"; }
        &.right:before { content: "\e902"; }
        &.left:before  { content: "\e903"; }
    }
    &.search:before { content: "\e904"; }
    &.random:before { content: "\e905"; }
    &.user:before   { content: "\e906"; }
    &.plus:before   { content: "\e90b"; }
    &.socials
    {
        &.fb-sq:before { content: "\1f345"; }
        &.fb:before    { content: "\e90c"; }
        &.tw:before    { content: "\e908"; }
        &.gp:before    { content: "\e909"; }
        &.rss:before   { content: "\e90a"; }
    }
}*/
@font-face {
  font-family: "CircularStd Black";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/circular/CircularStd-Black.ttf");
}
@font-face {
  font-family: "CircularStd Black";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/circular/CircularStd-BlackItalic.ttf");
}
@font-face {
  font-family: "CircularStd";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/circular/CircularStd-Bold.ttf");
}
@font-face {
  font-family: "CircularStd";
  font-weight: bold;
  font-style: italic;
  src: url("fonts/circular/CircularStd-BoldItalic.ttf");
}
@font-face {
  font-family: "CircularStd Book";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/circular/CircularStd-Book.ttf");
}
@font-face {
  font-family: "CircularStd Book";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/circular/CircularStd-BookItalic.ttf");
}
@font-face {
  font-family: "CircularStd Medium";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/circular/CircularStd-Medium.ttf");
}
@font-face {
  font-family: "CircularStd Medium";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/circular/CircularStd-MediumItalic.ttf");
}
/**
 * MYRIAD - PRO
 */
@font-face {
  font-family: "MyriadPro Regular";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/myriad-pro/MyriadPro-Regular.otf");
}
/**
 * BANGLA - MN
 */
@font-face {
  font-family: "Bangla mn";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/bangla-mn/bangla-mn-regular.ttf");
}
/**
 * Icomoon
 */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon/icomoon.eot?wxbm26");
  src: url("fonts/icomoon/icomoon.eot?wxbm26#iefix") format("embedded-opentype"), url("fonts/icomoon/icomoon.ttf?wxbm26") format("truetype"), url("fonts/icomoon/icomoon.woff?wxbm26") format("woff"), url("fonts/icomoon/icomoon.svg?wxbm26#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-favorite-border:before {
  content: "\e900";
}

.icomoon-favorite:before {
  content: "\e901";
}

/* Style Configuration */
/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
/* ============================================
/* General Style
/* ============================================*/
.st-container {
  width: 1280px;
  padding: 0 43px;
  margin: 0 auto;
}
.st-container.with-margin {
  margin: 45px auto 60px;
}

.d-none {
  display: none;
}

.ios-scroll {
  -webkit-overflow-scrolling: touch;
}

.ct-href {
  font-family: "CircularStd Book";
  color: #0397ec;
}

/* ============================================
/* ETC
/* ============================================*/
.ct-image-rounded {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.ct-upload-button {
  display: none;
}

.ct-hidden {
  display: none;
}

/* ============================================
/* 1. PARTIAL - OTHER ITEM ON SIDE BAR
/* ============================================*/
#other_items_bar {
  margin: 20px 0 0;
}
#other_items_bar .items {
  margin: 0 0 20px;
}
#other_items_bar .items:before, #other_items_bar .items:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#other_items_bar .items:after {
  clear: both;
}
#other_items_bar .items .it-col.left {
  float: left;
  margin: 0 10px 0 0;
  width: 200px;
}
#other_items_bar .items .it-col.right {
  overflow: hidden;
}
#other_items_bar .items .it-col .brand-name {
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #545454;
  display: block;
}
#other_items_bar .items .it-col .title-name {
  display: block;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #000;
  margin: 2px 0 9px;
}
#other_items_bar .items .it-col .date-time {
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #555;
}

/* ============================================
/* 2. PARTIAL - form box with name, phone , email
/* ============================================*/
.cf-input {
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
}
.cf-input.no-spin::-webkit-inner-spin-button, .cf-input.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important;
}

.cf-agreement {
  text-align: left;
  margin: 10px 0 25px;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #444444;
}
.cf-agreement a {
  color: #3990C3;
}
.cf-agreement.centered {
  text-align: center;
}
.cf-agreement input[type=checkbox].css-checkbox + label.css-label {
  font-family: "CircularStd Book";
  font-size: 1em;
  color: #444444;
}

/* ============================================
/* header with yellow sign below
/* ============================================*/
.ct-page-header {
  overflow: hidden;
}
.ct-page-header .cph-left {
  float: left;
}
.ct-page-header .cph-right {
  float: right;
}
.ct-page-header .ct-button {
  margin: 0 0 0 8px;
  width: 200px;
  padding: 8px 0;
}
.ct-page-header .ct-button.confirm-cancel {
  padding: 8px 0;
}
.ct-page-header .ct-button.small {
  width: 100px;
  padding: 5px 0;
}
.ct-page-header.m-bottom {
  margin: 0 0 30px;
}
.ct-page-header.margined {
  margin: 0 0 35px;
}
.ct-page-header h1, .ct-page-header h2, .ct-page-header h3, .ct-page-header h4 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-family: "CircularStd Book";
  font-size: 1.5625em;
}
.ct-page-header .cph-bar {
  width: 60px;
  height: 4px;
  display: block;
  background-color: #FF8000;
}
.ct-page-header p {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  line-height: 1.6;
}

.ct-page-title {
  margin: 0 0 20px;
}
.ct-page-title h1 {
  font-family: "CircularStd Book";
  font-size: 2.1875em;
  padding: 0;
  margin: 0;
}

.ct-logo-title {
  margin: 0 0 40px;
}

/*
	FILTER SEARCH RESULT PAGE
 */
#ct_filter_form {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/*
	SEE MORE STYLE
 */
.ct-show-more {
  position: relative;
  margin: 0 0 45px;
  z-index: 100;
}
.ct-show-more .button {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 8px 0;
  background-color: #FF8000;
  text-align: center;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #FFF;
  border-radius: 2px;
}
.ct-show-more .button:hover {
  background-color: #444444;
}
.ct-show-more .line {
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  z-index: -10;
}

.ct-panel-button:before, .ct-panel-button:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-panel-button:after {
  clear: both;
}

/* ============================================
/* BUTTON
/* ============================================*/
.ct-button {
  display: block;
  width: 225px;
  padding: 8px 0;
  margin: 0 0 40px;
  border: 1px solid #444444;
  background-color: #444444;
  text-align: center;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  border-radius: 2px;
  color: #FFF;
}
.ct-button .title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.ct-button.righted {
  float: right;
}
.ct-button:hover {
  background-color: #FF8000;
  border: 1px solid #FF8000;
}
.ct-button.no-margin {
  margin: 0;
}
.ct-button.red {
  background-color: #e5221b;
  border-color: #e5221b;
}
.ct-button.red:hover {
  background-color: #f34e48;
  border-color: #f34e48;
}
.ct-button.navy {
  background-color: #1974d2;
  border-color: #1974d2;
}
.ct-button.navy:hover {
  background-color: #57a2ef;
  border-color: #57a2ef;
}
.ct-button.yellow {
  background-color: #FF8000;
  border: 1px solid #FF8000;
}
.ct-button.yellow:hover {
  background-color: #ff9b36;
  border-color: #ff9b36;
}
.ct-button.blue {
  background-color: #3991C4;
  border: 1px solid #3991C4;
}
.ct-button.blue:hover {
  background-color: #00A1FF;
  border-color: #00A1FF;
}

/* ============================================
/* Navigation on login menu
/* ============================================*/
.ct-navigation-menu {
  float: left;
  width: 20%;
  /*border-right: 2px solid $c-orange;*/
  margin: 0 30px 0 0;
}
.ct-navigation-menu .title {
  font-family: "CircularStd Book";
  font-size: 1.125em;
  color: #5f5f5f;
}
.ct-navigation-menu .list-item {
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0;
}
.ct-navigation-menu .list-item .with-child {
  padding: 3px 10px 3px 12px;
}
.ct-navigation-menu .list-item li {
  padding: 8px 10px 8px 12px;
}
.ct-navigation-menu .list-item li .title-parent {
  display: block;
  padding: 8px 0 6px 8px;
  border: 1px solid #FFF;
  border-left: 5px solid #FFF;
}
.ct-navigation-menu .list-item li .active-menu {
  border: 1px solid #cecece;
  border-left: 5px solid #FF8000;
}
.ct-navigation-menu .list-item li .active-menu .title {
  color: #000;
}
.ct-navigation-menu .list-item li a {
  padding: 0 0 6px 13px;
}
.ct-navigation-menu .list-item li .title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #5f5f5f;
}
.ct-navigation-menu .list-item-child {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 35px;
}
.ct-navigation-menu .list-item-child a {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #5f5f5f;
}
.ct-navigation-menu .list-item-child .active-item-child {
  color: #FF8000;
}

/* ============================================
/* No data display
/* ============================================*/
.ct-no-data {
  color: #CACACA;
  font-weight: bold;
  font-size: 1.375em;
  text-align: center;
  margin: 25px 0 60px;
}
.ct-no-data .texts {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.ct-no-data.slim-bottom {
  margin-bottom: 20px;
}

/* ============================================
/* Announcements
/* ============================================*/
.ct-announcement {
  font-family: "CircularStd Book";
  font-size: 1.0625em;
  position: relative;
  margin: 0 0 35px;
  padding: 16px 10px;
  box-sizing: border-box;
  /*border-right: 4px solid $c-orange-2;*/
  border-left: 4px solid #FF8000;
  -webkit-box-shadow: 6px 5px 15px 0 rgba(229, 230, 234, 0.7);
  -moz-box-shadow: 6px 5px 15px 0 rgba(229, 230, 234, 0.7);
  box-shadow: 6px 5px 15px 0 rgba(229, 230, 234, 0.7);
}
.ct-announcement:before, .ct-announcement:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-announcement:after {
  clear: both;
}
.ct-announcement .cta-megaphone {
  position: absolute;
  top: 6px;
  left: 20px;
}
.ct-announcement .owl-carousel {
  width: 93%;
  float: right;
}
.ct-announcement .ct-owl-overlay {
  width: 85%;
}
.ct-announcement .owl-carousel .owl-nav {
  position: absolute;
  top: -4px;
  right: 20px;
}
.ct-announcement .owl-carousel .owl-nav button.owl-prev, .ct-announcement .owl-carousel .owl-nav button.owl-next {
  width: 32px;
  height: 32px;
  margin: 0 3px;
  background-color: #FF8000;
  color: #FFF;
  font-size: 1.375em;
  /*
  	circle
   */
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

/* ============================================
/* split layout, two panel view
/* ============================================*/
.split-layout {
  /*
  	merging 2 panel layer
   */
  margin: 0 0 40px;
}
.split-layout:before, .split-layout:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.split-layout:after {
  clear: both;
}
.split-layout.border-top {
  border-top: 4px solid #FF8000;
}
.split-layout.shadow-layer {
  -webkit-box-shadow: 2px 4px 10px 0px #bdbdbd;
  -moz-box-shadow: 2px 4px 10px 0px #bdbdbd;
  box-shadow: 2px 4px 10px 0px #bdbdbd;
}
.split-layout.no-margin {
  margin: 0;
}
.split-layout .sl-left {
  float: left;
  width: 60%;
  margin: 0 40px 0 0;
}
.split-layout .sl-right {
  overflow: hidden;
}
.split-layout .sl-right.f-left {
  float: left;
  width: 40%;
}

.fd-background-upload {
  background-color: #eeedee;
}

/**===================
	SPLIT LAYOUT - PANEL ARTICLE
 ===============*/
.split-layout .panel-article .pa-header {
  margin: 20px 0 0;
}
.split-layout .panel-article .pa-header:before, .split-layout .panel-article .pa-header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.split-layout .panel-article .pa-header:after {
  clear: both;
}
.split-layout .panel-article .pa-header .slb-name {
  float: left;
  color: #545454;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
}
.split-layout .panel-article .pa-header .slb-date {
  float: right;
  color: #555;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
}
.split-layout .panel-article .pa-header .slb-date .ico-misc {
  margin: 0 6px 0 0;
}
.split-layout .panel-article .pa-header .slb-date span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.split-layout .panel-article .pa-context {
  margin: 15px 0 0;
}
.split-layout .panel-article .pa-context .slc-title {
  font-weight: normal;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: "CircularStd Book";
  font-size: 1.5625em;
}
.split-layout .panel-article .pa-locations {
  margin: 12px 0 0;
  color: #525252;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
}
.split-layout .panel-article .pa-locations ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.split-layout .panel-article .pa-locations li {
  padding: 0;
  margin: 4px 0 4px;
}
.split-layout .panel-article .pa-locations li a {
  color: #3991C4;
  font-family: "CircularStd Book";
}
.split-layout .panel-article .pa-locations li a:hover {
  color: #0397ec;
}
.split-layout .panel-article .pa-paragraph {
  padding: 10px 0 0;
  color: #000;
  font-family: "CircularStd Book";
  font-size: 1em;
  line-height: 1.7;
}
.split-layout .panel-article .pa-paragraph table {
  width: 100%;
}
.split-layout .panel-article .pa-paragraph table td {
  padding: 10px;
}
.split-layout .panel-article .pa-sharing {
  color: #535353;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
}

.split-layout .pa-sharing {
  color: #535353;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
}

/**===================
	SPLIT LAYOUT - PANEL FORM
 ===============*/
.split-layout .panel-container {
  padding: 16px 30px 22px;
  background-color: #FFF;
  border-top: 3px solid #FF8000;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}
.split-layout .panel-container.m-top {
  margin-top: 25px;
}
.split-layout .panel-container.m-bottom {
  margin-bottom: 25px;
}
.split-layout .panel-container.no-top-border {
  border-top: none;
}
.split-layout .panel-container.informative {
  width: 34%;
}
.split-layout .panel-container:before, .split-layout .panel-container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.split-layout .panel-container:after {
  clear: both;
}
.split-layout .panel-container .fd-main-title {
  font-family: "CircularStd Book";
  font-size: 1.0625em;
  text-align: center;
  margin: 0 0 22px;
}
.split-layout .panel-container .fd-paragraph {
  text-align: left;
  margin: 10px 0 25px;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #444444;
}
.split-layout .panel-container .fd-paragraph a {
  color: #3990C3;
}
.split-layout .panel-container .fd-paragraph.centered {
  text-align: center;
}
.split-layout .panel-container .fd-paragraph input[type=checkbox].css-checkbox + label.css-label {
  font-family: "CircularStd Book";
  font-size: 1em;
  color: #444444;
}
.split-layout .panel-container .fd-button {
  display: block;
  width: 100%;
  margin: 15px 0 0;
  padding: 8px 0;
  background-color: #555;
  border: 1px solid #555;
  border-radius: 2px;
  text-align: center;
  font-family: "CircularStd Book";
  font-size: 1.0625em;
  color: #FFF;
}
.split-layout .panel-container .fd-button.mt-low {
  margin: 7px 0 0;
}
.split-layout .panel-container .fd-button:hover {
  border: 1px solid #FF8000;
  background-color: #FF8000;
  color: #FFF;
}
.split-layout .panel-container .fd-button.red {
  background-color: #e6231c;
  border: 1px solid #e6231c;
}
.split-layout .panel-container .fd-button.green {
  background-color: #42a400;
  border: 1px solid #42a400;
}
.split-layout .panel-container .fd-dashed-box {
  border: 1px dashed #878787;
  padding: 10px 15px;
  margin: 25px 0 0;
}
.split-layout .panel-container .fd-guide {
  text-align: left;
  margin: 25px 0 0;
  color: #444444;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
}
.split-layout .panel-container .fd-background-upload {
  background-color: #EEE;
}
.split-layout .panel-container .fd-retailer {
  font-family: "CircularStd Book";
  font-size: 0.875em;
  color: #535353;
}
.split-layout .panel-container .fd-title {
  font-weight: normal;
  font-family: "CircularStd Book";
  font-size: 1.4375em;
  color: #000;
  margin: 6px 0 0;
}
.split-layout .panel-container .fd-title.highlighted {
  border-bottom: 3px solid #FF8000;
  margin: 6px 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.split-layout .panel-container .fd-date {
  margin: 5px 0 0;
  font-family: "CircularStd Book";
  font-size: 0.875em;
  color: #555;
}
.split-layout .panel-container .fd-description {
  font-family: "CircularStd Book";
  font-size: 1em;
  color: #000;
  line-height: 1.7;
  padding-right: 5px;
  max-height: 365px;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.split-layout .panel-container .fd-description::-webkit-scrollbar {
  width: 7px;
}
.split-layout .panel-container .fd-description::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.split-layout .panel-container .fd-description::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}
.split-layout .panel-container .fd-description::-webkit-scrollbar-thumb:hover {
  background: #989898;
}
.split-layout .panel-container .fd-sharing {
  margin: 15px 0 0;
}
.split-layout .panel-container .fd-sharing .fds-title {
  font-family: "CircularStd Book";
  font-size: 0.875em;
  color: #535353;
}

.ct-sharing {
  margin: 0 0 45px;
}
.ct-sharing .title {
  font-family: "CircularStd Book";
  font-size: 0.875em;
  color: #535353;
  font-weight: bold;
}

/* ============================================
/* OWL CAROUSEL - style 1 with slider arrow
/* ============================================*/
.ct-owl-carousel {
  margin: 30px auto;
  width: 95%;
  /*
  	change image from greyed to color
   */
}
.ct-owl-carousel.greyed .owl-carousel .owl-item img {
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
}
.ct-owl-carousel.greyed .owl-carousel .owl-item img:hover {
  filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: none;
  /* IE6-9 */
  zoom: 1;
  /* needed to trigger "hasLayout" in IE if no width or height is set */
  -webkit-filter: grayscale(0%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.ct-owl-carousel .owl-carousel .owl-nav button.owl-next {
  float: right;
  position: absolute;
  top: 30%;
  right: -20px;
  background-color: #D6D6D6;
  font-size: 35px;
  color: #FFF;
  width: 40px;
  height: 40px;
  /*
  	circle
   */
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.ct-owl-carousel .owl-carousel .owl-nav button.owl-next span {
  display: block;
  height: 24px;
  line-height: 0.5;
}
.ct-owl-carousel .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #FF8000;
}
.ct-owl-carousel .owl-carousel .owl-nav button.owl-prev {
  float: left;
  position: absolute;
  top: 30%;
  left: -20px;
  background-color: #D6D6D6;
  font-size: 35px;
  color: #FFF;
  width: 40px;
  height: 40px;
  /*
  	circle
   */
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.ct-owl-carousel .owl-carousel .owl-nav button.owl-prev span {
  display: block;
  height: 24px;
  line-height: 0.5;
}
.ct-owl-carousel .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #FF8000;
}

.ct-owl-title {
  text-align: center;
  font-family: "CircularStd Book";
  font-size: 1.125em;
  margin: 12px 0 0;
  color: #000;
}
.ct-owl-title.overlayed {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px 0;
  margin: 0;
}

.ct-owl-btn {
  position: absolute;
  top: 36%;
  left: 24%;
  width: 210px;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #000;
  text-decoration: none;
  background-color: white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 8 */
  filter: alpha(opacity=80);
  /* IE 5-7 */
  -moz-opacity: 0.8;
  /* Netscape */
  -khtml-opacity: 0.8;
  /* Safari 1.x */
  opacity: 0.8;
  /* Good browsers */
}
.ct-owl-btn:hover {
  color: #FFF;
  background-color: #F8AA1B;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 8 */
  filter: alpha(opacity=100);
  /* IE 5-7 */
  -moz-opacity: 1;
  /* Netscape */
  -khtml-opacity: 1;
  /* Safari 1.x */
  opacity: 1;
  /* Good browsers */
}

.ct-owl-overlay {
  position: relative;
}
.ct-owl-overlay img {
  border-radius: 3px;
}
.ct-owl-overlay .ct-owl-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ct-owl-overlay .ct-owl-bg .ct-owl-btn {
  display: none;
}
.ct-owl-overlay .ct-owl-bg:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.ct-owl-overlay .ct-owl-bg:hover .ct-owl-btn {
  top: 44%;
  display: block;
}
.ct-owl-overlay .ct-owl-bg:hover .ct-owl-title.overlayed {
  background-color: transparent;
}

.hs_slider .owl-dots {
  text-align: center;
  margin: 14px 0 0 0;
}
.hs_slider .owl-carousel .owl-nav button.owl-next, .hs_slider .owl-carousel .owl-nav button.owl-prev, .hs_slider .owl-carousel button.owl-dot {
  height: 15px;
  width: 15px;
  border-radius: 225px;
  background-color: #CCCCCC;
  margin: 0 4px;
}
.hs_slider .owl-carousel .owl-nav button.owl-next.active, .hs_slider .owl-carousel .owl-nav button.owl-prev.active, .hs_slider .owl-carousel button.owl-dot.active {
  background-color: #FF8000;
}

/* ============================================
/* SELECT2
/* ============================================*/
.ss2-parent-wrapper .select2-container {
  width: 200px !important;
}

.ss2-parent-wrapper .select2-container--default {
  font-size: 0.9375em;
  font-family: "CircularStd Book";
}
.ss2-parent-wrapper .select2-container--default .select2-selection--single {
  border-radius: 0;
  outline: none;
}
.ss2-parent-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
  background: #555555;
}
.ss2-parent-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #FFF transparent transparent transparent;
}
.ss2-parent-wrapper .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #FFF transparent;
}

.select2-container--default .ss2-open-wrapper {
  font-family: "CircularStd Book";
  font-style: italic;
  border-radius: 0;
}
.select2-container--default .ss2-open-wrapper .select2-results__group {
  text-transform: uppercase;
  color: #d0d0d0;
  border-top: 1px solid #d2d2d2;
  font-weight: normal;
  font-family: "CircularStd Medium";
  padding: 8px 10px;
  font-style: normal;
  font-size: 0.875em;
}
.select2-container--default .ss2-open-wrapper .select2-results__option--highlighted[aria-selected] {
  background-color: #FF8000;
  color: #FFF;
}
.select2-container--default .ss2-open-wrapper .select2-results__option .select2-results__option {
  font-size: 0.875em;
  padding: 5px 10px;
}
.select2-container--default .ss2-open-wrapper .select2-results__options {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.select2-container--default .ss2-open-wrapper .select2-results__options::-webkit-scrollbar {
  width: 7px;
}
.select2-container--default .ss2-open-wrapper .select2-results__options::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.select2-container--default .ss2-open-wrapper .select2-results__options::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}
.select2-container--default .ss2-open-wrapper .select2-results__options::-webkit-scrollbar-thumb:hover {
  background: #989898;
}
.select2-container--default .ss2-open-wrapper .select2-results > .select2-results__options {
  padding: 0 3px 4px;
}

/* ============================================
/* CSS - CHECKBOX
/* ============================================*/
input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  order: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 21px;
  height: 16px;
  display: inline-block;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -16px;
}

label.css-label {
  background: url("../../../images/f/css-checkbox.png") no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.css-label.disabled {
  background: url("../../../images/f/css-checkbox-disabled.png") no-repeat;
}

/* ============================================
/* FORM
/* ============================================*/
.ct-form {
  /*
  	css
   */
  /*
  	style 2 column left and right
   */
}
.ct-form.small {
  width: 330px;
}
.ct-form.medium {
  width: 390px;
}
.ct-form.large {
  width: 500px;
}
.ct-form:before, .ct-form:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-form:after {
  clear: both;
}
.ct-form .ctf-row-checkbox {
  position: relative;
  height: 60px;
  margin: 25px 0 20px 0;
  text-align: left;
}
.ct-form .ctf-row-checkbox .css-label {
  padding-left: 30px !important;
  font-family: "CircularStd Book";
}
.ct-form .ctf-row {
  margin: 0 0 20px 0;
}
.ct-form .ctf-row:before, .ct-form .ctf-row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-form .ctf-row:after {
  clear: both;
}
.ct-form .ctf-row label {
  float: left;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
}
.ct-form .ctf-row .cr-asterisk {
  color: #e6231c;
}
.ct-form .ctf-row .cr-multi-info {
  float: right;
  width: 240px;
}
.ct-form .ctf-row .cr-multi-info .information {
  font-family: "CircularStd Book";
  font-size: 0.75em;
  color: #878787;
  margin: 5px 0 0 3px;
}
.ct-form .ctf-row .cr-multi-info .information.no-margin {
  margin: 0;
}
.ct-form .ctf-row .cr-multi-info .information.redirect {
  display: block;
  color: #3991C4;
}
.ct-form .ctf-row .cr-multi-info .cr-input {
  float: none;
  width: 100%;
}
.ct-form .ctf-row .cr-radio label {
  float: none;
  padding: 0;
  color: #555;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.ct-form .ctf-row .cr-radio .bullet {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 4px 0 0;
}
.ct-form .ctf-row .cr-radio.top {
  padding: 0 0 5px;
}
.ct-form .ctf-row .cr-input {
  padding: 10px;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #555;
  width: 240px;
  float: right;
  border: 1px solid #C8C2BB;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.ct-form .ctf-row .cr-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d8d8d8;
  opacity: 1;
  /* Firefox */
}
.ct-form .ctf-row .cr-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d8d8d8;
}
.ct-form .ctf-row .cr-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d8d8d8;
}
.ct-form .ctf-row .cr-input.no-spin::-webkit-inner-spin-button, .ct-form .ctf-row .cr-input.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important;
}
.ct-form .ctf-row .cr-input.textarea {
  min-height: 100px;
}
.ct-form .ctf-row .cr-select {
  width: 100%;
  padding: 9px 0;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
}
.ct-form .cr-button {
  width: 240px;
  font-family: "CircularStd Book";
  font-size: 1.0625em;
  color: #FFF;
  padding: 9px 0;
  border: 1px solid #555;
  background-color: #555;
  text-align: center;
  text-decoration: none;
}
.ct-form .cr-button.f-left {
  float: left;
}
.ct-form .cr-button.f-right {
  float: right;
}
.ct-form .cr-button:hover {
  background-color: #FF8000;
  color: #FFF;
  border: 1px solid #FF8000;
}
.ct-form .cr-button.navy {
  background-color: #1974d2;
  border-color: #1974d2;
}
.ct-form .cr-button.navy:hover {
  background-color: #57a2ef;
  border-color: #57a2ef;
}
.ct-form.split-style .ctf-row {
  width: 47%;
}
.ct-form.split-style .ctf-row.f-right {
  float: right;
}
.ct-form.split-style .ctf-row.f-left {
  float: left;
}
.ct-form.split-style .ctf-row.f-full {
  width: 100%;
}
.ct-form.split-style .ctf-row label {
  float: none;
  display: block;
  margin: 0 0 4px 0;
}
.ct-form.split-style .ctf-row .cr-input {
  float: none;
  display: block;
  color: #000;
  width: 100%;
}
.ct-form.split-style .ctf-row .cr-input.textarea {
  width: 100%;
}

/* ============================================
/* OWL CAROUSEL - style 1 with slider arrow
/* ============================================*/
.ct-error-info {
  font-family: "CircularStd Book";
  color: #8bc34a;
  margin: 0 0 15px;
  font-size: 0.9375em;
}
.ct-error-info.txt-error {
  color: #E5221B;
}
.ct-error-info.show-panel, .ct-error-info.ct-ajax {
  margin: 0;
  text-align: center;
  padding: 12px 0;
  color: #FFF;
  background-color: #8bc34a;
  border-radius: 2px;
}
.ct-error-info.txt-error.show-panel {
  background-color: #E5221B;
}
.ct-error-info.pad-bottom {
  margin-bottom: 25px;
}
.ct-error-info.ct-ajax {
  display: none;
  background-color: #E5221B;
  color: #FFF;
}
.ct-error-info.ct-ajax.txt-success {
  background-color: #8bc34a;
}

/* ============================================
/* FILTERS
/* ============================================*/
.ct-head-with-filter {
  position: relative;
}
.ct-head-with-filter:before, .ct-head-with-filter:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-head-with-filter:after {
  clear: both;
}
.ct-head-with-filter .ct-filter-simple {
  position: absolute;
  right: 0;
  bottom: 0;
}

.ct-filter-simple .cs-row {
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
}
.ct-filter-simple .cs-row select {
  width: 170px;
  padding: 7px 5px;
  border: 1px solid #EEEEEE;
  background-color: #EEEEEE;
}

/* ============================================
/* uploaded receipt
/* ============================================*/
.ct-uploaded-receipt-files {
  font-family: "CircularStd Book";
  color: #444444;
  margin: 15px 0 0;
}
.ct-uploaded-receipt-files.shift-right {
  margin: 35px 15px 0;
  text-align: right;
}
.ct-uploaded-receipt-files.mobile {
  display: none;
}
.ct-uploaded-receipt-files ul {
  list-style-type: none;
  margin: 0 0 15px;
  padding: 0;
}
.ct-uploaded-receipt-files li {
  margin: 0;
  line-height: 1.3;
}
.ct-uploaded-receipt-files li a {
  font-family: "CircularStd Book";
  color: #3990C3;
  font-size: 0.875em;
}
.ct-uploaded-receipt-files li a:hover {
  color: #FF7F00;
}
.ct-uploaded-receipt-files .title {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #444444;
}
.ct-uploaded-receipt-files.receipt-count {
  font-size: 0.9375em;
}
.ct-uploaded-receipt-files.receipt-count a {
  font-size: 1em;
  display: block;
  color: #0397ec;
}
.ct-uploaded-receipt-files.receipt-count a:hover {
  text-decoration: underline;
}

/* ============================================
/* GALLERY THUMBNAIl
/* ============================================*/
.ct-gallery-thumbnail {
  padding: 0 10px;
}
.ct-gallery-thumbnail:before, .ct-gallery-thumbnail:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-gallery-thumbnail:after {
  clear: both;
}
.ct-gallery-thumbnail ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ct-gallery-thumbnail li {
  float: left;
  margin: 0 15px 35px;
  border: 1px solid #CCCCCC;
}
.ct-gallery-thumbnail li a {
  display: block;
  width: 100%;
}
.ct-gallery-thumbnail .img-greyed {
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
}
.ct-gallery-thumbnail .last-thumbnail {
  margin: 0 0 38px 0;
}
.ct-gallery-thumbnail .ctg-headings {
  text-align: center;
}
.ct-gallery-thumbnail .ctg-headings h4 {
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #545454;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.ct-gallery-thumbnail .ctg-headings h3 {
  font-family: "CircularStd Book";
  font-size: 1.25em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/**
 * galleries information
 */
.ct-galleries {
  margin: 40px 0 0;
  padding: 0 10px;
}
.ct-galleries:before, .ct-galleries:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-galleries:after {
  clear: both;
}
.ct-galleries ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ct-galleries li {
  float: left;
  width: 375px;
  margin: 0 15px 35px;
}
.ct-galleries .no-margin-col {
  margin: 0 0 50px 0;
}
.ct-galleries .ctg-no-margin {
  margin: 0 0 45px 0;
}
.ct-galleries .ctg-relative {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.ct-galleries .ctg-relative:hover .ctw-overlayed {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ct-galleries .ctg-relative:hover .ctw-subscribe {
  display: block;
}
.ct-galleries .ctg-relative .ctw-subscribe {
  display: none;
  position: absolute;
  top: 40%;
  left: 20%;
  width: 60%;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #000;
  text-decoration: none;
  background-color: white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 8 */
  filter: alpha(opacity=80);
  /* IE 5-7 */
  -moz-opacity: 0.8;
  /* Netscape */
  -khtml-opacity: 0.8;
  /* Safari 1.x */
  opacity: 0.8;
  /* Good browsers */
}
.ct-galleries .ctg-relative .ctw-subscribe:hover {
  background-color: #F8AA1B;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 8 */
  filter: alpha(opacity=100);
  /* IE 5-7 */
  -moz-opacity: 1;
  /* Netscape */
  -khtml-opacity: 1;
  /* Safari 1.x */
  opacity: 1;
  /* Good browsers */
}
.ct-galleries .ctg-relative .ctw-title {
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #545454;
  background-color: #FF8000;
  position: absolute;
  bottom: 0;
  padding: 7px 10px 5px;
}
.ct-galleries .ctg-relative .ctw-title.c-white {
  color: #FFF;
}
.ct-galleries .ctg-headings {
  height: 115px;
  text-align: center;
  margin: 10px 0 0;
}
.ct-galleries .ctg-headings h4 {
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #545454;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.ct-galleries .ctg-headings h3 {
  font-family: "CircularStd Book";
  font-size: 1.1875em;
  font-weight: normal;
  margin: 10px 0 0;
  padding: 0 10px;
  max-height: 50px;
  overflow: auto;
  line-height: 1.3;
}
.ct-galleries .ctg-headings a {
  font-family: "CircularStd Book";
  color: #000;
}
.ct-galleries .ctg-description {
  font-family: "CircularStd Book";
  font-size: 1em;
  color: #535353;
  line-height: 1.7;
  text-align: left;
  padding: 0 10px;
  overflow: auto;
  min-height: 175px;
  max-height: 250px;
}
.ct-galleries .ctg-info {
  margin: 10px 0 0;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #555;
}
.ct-galleries .ctg-info:before, .ct-galleries .ctg-info:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-galleries .ctg-info:after {
  clear: both;
}
.ct-galleries .ctg-info .i-row.left {
  float: left;
}
.ct-galleries .ctg-info .i-row.right {
  float: right;
}
.ct-galleries .ctg-info .i-row.center {
  text-align: center;
}
.ct-galleries .ctg-info .i-row .ir-txt {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.ct-galleries .ctg-info .ico-misc {
  margin: 0 5px 0 0;
}

.ct-galleries.informative .ctg-headings {
  height: 300px;
}
.ct-galleries.informative .ctg-headings h3 {
  margin: 15px 0 10px;
}

/**
 * pagination
 */
.ct-pagination {
  text-align: center;
  width: 100%;
  margin: 40px 0 0;
}
.ct-pagination:before, .ct-pagination:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-pagination:after {
  clear: both;
}
.ct-pagination .page-item.active {
  background-color: #FFDFBF;
}
.ct-pagination ul {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}
.ct-pagination li {
  float: left;
  margin: 0 1px;
  background-color: #EEEEEE;
}
.ct-pagination li .page-link {
  cursor: pointer;
  width: 40px;
  display: block;
  padding: 11px 0;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #333333;
  text-decoration: none;
}
.ct-pagination li:hover {
  background-color: #CEF0F0;
}

/**
 * ON MOBILE DISPLAY 
 * common css for display on 1024px
 */
.ct-onmobile {
  display: none;
}

.ct-ondesktop {
  display: block;
}

/* ============================================
/* MENU UL LI NAVIGATION TABS
/* ============================================*/
/*
	ul li menu tabs contest jquery
 */
#ct_tabs_container {
  margin: 35px 0 30px;
}

.ct-tabs-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #FF8000;
}
.ct-tabs-menu:before, .ct-tabs-menu:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-tabs-menu:after {
  clear: both;
}
.ct-tabs-menu li {
  float: left;
  text-align: center;
}
.ct-tabs-menu .active-tab {
  color: #FFF;
  background-color: #FF8000;
}
.ct-tabs-menu a {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #FFF;
  text-decoration: none;
  background-color: #545454;
  border-width: 1px 1px 0;
  border-color: #FFF;
  border-style: solid;
  display: block;
  width: 175px;
  padding: 12px 0 8px;
  border-radius: 3px 3px 0 0;
}
.ct-tabs-menu a:hover {
  color: #FFF;
  background-color: #FF8000;
}

/* ============================================
/* CHILD MENU LEFT NAVIGATION - ON LOGIN
/* ============================================*/
#ct_user_childmenu_onmobile {
  display: none;
}

/* ============================================
/* PANEL MENU OUTLINE STYLE
/* ============================================*/
.ct-panel.over-width {
  display: block;
  overflow: hidden;
  border-top: 3px solid #FF8000;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  padding: 25px 45px 30px 32px;
}
.ct-panel .ct-panel-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ct-panel .ct-panel-nav:before, .ct-panel .ct-panel-nav:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-panel .ct-panel-nav:after {
  clear: both;
}
.ct-panel .ct-panel-nav li {
  float: left;
  border-right: 1px solid white;
  text-align: center;
}
.ct-panel .ct-panel-nav li a {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #444444;
  text-decoration: none;
  background-color: #EEEEEE;
  display: block;
  width: 150px;
  padding: 12px 0 8px;
  border-radius: 3px 3px 0 0;
}
.ct-panel .ct-panel-nav li a:hover {
  color: #FFF;
  background-color: #FF8000;
}
.ct-panel .ct-panel-nav .active-menu a {
  color: #FFF;
  background-color: #FF8000;
}
.ct-panel .ct-panel-contents {
  background-color: #FFF;
  border-top: 4px solid #FF8000;
  padding: 40px 40px 84px 40px;
  /*
  	shadow outline box
   */
  -webkit-box-shadow: 2px 4px 10px 0px #bdbdbd;
  -moz-box-shadow: 2px 4px 10px 0px #bdbdbd;
  box-shadow: 2px 4px 10px 0px #bdbdbd;
}
.ct-panel .ct-panel-contents:before, .ct-panel .ct-panel-contents:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-panel .ct-panel-contents:after {
  clear: both;
}
.ct-panel .ct-panel-contents.no-border {
  border: 0;
}

/**
 * 	MOBILE DEVELOPMENT
 */
.ct-panel-mobile-nav {
  display: none;
  cursor: pointer;
}
.ct-panel-mobile-nav .cpm-tabs {
  text-align: center;
  background-color: #444444;
  padding: 8px 0;
  border-radius: 3px 3px 0 0;
}
.ct-panel-mobile-nav .cpm-tabs .rows {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-family: "CircularStd Book";
  color: #FFF;
  font-size: 0.9375em;
}
.ct-panel-mobile-nav .cpm-lines {
  margin: 2px 8px 0 0;
}
.ct-panel-mobile-nav .cpm-lines span {
  display: block;
  border: 1px solid #FFF;
  background-color: #FFF;
  width: 30px;
  height: 2px;
  margin: 0 0 5px;
}
.ct-panel-mobile-nav .cpm-routes {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.ct-panel-mobile-nav .cpm-routes li {
  text-align: center;
}
.ct-panel-mobile-nav .cpm-routes li a {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #444444;
  text-decoration: none;
  background-color: #EEEEEE;
  display: block;
  padding: 9px 0;
}
.ct-panel-mobile-nav .cpm-routes li a:hover {
  background-color: #C0DDED;
}
.ct-panel-mobile-nav .cpm-routes .active-menu a {
  background-color: #C0DDED;
  border: 1px solid #3990C3;
}

.floating-btn {
  position: fixed;
  z-index: 1000;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: #FFF;
  text-align: center;
  box-shadow: 2px 2px 3px #fb7f7b;
  background-color: #e6231c;
  border-radius: 50px;
}
.floating-btn .fb-scan-ico {
  margin: 15px 0 0 0;
}

[ripple] {
  position: relative;
  overflow: hidden;
}
[ripple] .ripple-effect {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.fab-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  background: #e6231c;
  color: #fff;
  border: none;
  font-size: 27.5px;
  border-radius: 50%;
  transition: .3s ease;
  line-height: 1.452635473;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  outline: none;
  height: 75px;
  width: 75px;
  vertical-align: middle;
  margin: 5px 7.5px;
}
.fab-btn:hover, .fab-btn:focus {
  background: #ff0800;
  box-shadow: 0 7px 15px -5px rgba(0, 0, 0, 0.75);
}
.fab-btn .material-icons {
  font-size: inherit;
  vertical-align: middle;
}
.fab-btn img {
  margin: -5px 0 0;
  cursor: pointer;
}

/* ============================================
/* PER ROW WITH PICTURE
/* ============================================*/
.ct-expand-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ct-expand-list li {
  margin: 0 0 25px;
  padding: 0 0 25px;
  border-bottom: 1px solid #DDDDDD;
}
.ct-expand-list li:before, .ct-expand-list li:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-expand-list li:after {
  clear: both;
}
.ct-expand-list .ce-image {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  margin: 0 20px 0 0;
}
.ct-expand-list .ce-image .ce-sub-title {
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #535353;
  background-color: #FFDFBF;
  position: absolute;
  left: 0;
  top: 0;
  padding: 7px 10px 5px;
}
.ct-expand-list .ce-image img {
  border-radius: 3px;
}
.ct-expand-list .ce-context {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 60%;
}
.ct-expand-list .ce-context .ctxt-row {
  margin: 20px 0 0;
  color: #0397ec;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
}
.ct-expand-list .ce-context .ctxt-brand {
  font-weight: normal;
  padding: 0;
  margin: 0 0 4px;
}
.ct-expand-list .ce-context .ctxt-brand a {
  color: #0397ec;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
}
.ct-expand-list .ce-context .ctxt-title {
  font-weight: normal;
  padding: 0;
  margin: 0 0 6px;
  line-height: 1.3;
}
.ct-expand-list .ce-context .ctxt-title a {
  color: #000;
  font-family: "CircularStd Book";
  font-size: 1.1875em;
}
.ct-expand-list .ce-context .ctxt-icons .ico-misc {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.ct-expand-list .ce-context .ctxt-icons .c-calender-date {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #555555;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  margin: 2px 0 0 6px;
}
.ct-expand-list .ce-context .ctxt-description {
  margin: 18px 0 0 0;
  line-height: 1.5;
  color: #535353;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
}
.ct-expand-list .ce-context .ctxt-button {
  display: block;
  padding: 7px 0;
  width: 210px;
  margin: 15px 0 0;
  text-align: center;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  background-color: #444444;
  color: #FFF;
}
.ct-expand-list .ce-context .ctxt-button.small {
  width: 120px;
  padding: 6px 0 4px;
}
.ct-expand-list .ce-context .ctxt-button.bg-red {
  background-color: #e6231c;
}
.ct-expand-list .ce-context .ctxt-button.bg-red:hover {
  background-color: #444444;
}
.ct-expand-list .ce-context .ctxt-button:hover {
  background-color: #FF8000;
}
.ct-expand-list .ce-status {
  width: 200px;
  float: right;
  top: 0;
  right: 0;
}
.ct-expand-list .ce-status.mobile {
  display: none;
}
.ct-expand-list .ce-status .ces-info {
  display: block;
  width: 190px;
  padding: 7px 10px 5px;
  margin: 0 0 16px 0;
  color: #525252;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  text-align: center;
  background-color: #EEEEEE;
  border-radius: 2px;
}
.ct-expand-list .ce-status .ces-info.blue {
  background-color: #CEF0F0;
}
.ct-expand-list .ce-status .ces-info.yellow {
  background-color: #FF8000;
  color: #FFF;
}
.ct-expand-list .ce-status .ces-info.black {
  background-color: #545454;
  color: #FFF;
}
.ct-expand-list .ce-status .ces-thropy {
  text-align: center;
}
.ct-expand-list .ce-status .ces-winner {
  text-align: center;
  margin: 10px 0 0;
  color: #525252;
  font-family: "CircularStd Book";
}
.ct-expand-list .ce-status .ces-winner .cw-title {
  font-size: 0.75em;
}
.ct-expand-list .ce-status .ces-winner .cw-name {
  font-size: 0.9375em;
}

/* ============================================
/* LUCKY DRAW RETAILER ASSOCIATE
/* ============================================*/
.ct-associate-retailer {
  margin: 0 0 35px;
}
.ct-associate-retailer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ct-associate-retailer ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  margin: 0 7px 10px 0;
  border: 1px solid #CCCCCC;
}
.ct-associate-retailer.islandwide .title {
  font-family: "CircularStd Book";
  font-size: 1em;
  color: #777;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 0 0 12px;
}

/* ============================================
/* MEDIA QUERY
/* ============================================*/
@media screen and (max-width: 1366px) {
  /**
   * 	on user login dashboard
   */
  .ct-page-header .cph-left,
  .ct-page-header .cph-right {
    float: none;
  }
  .ct-page-header .cph-right .ct-button.righted {
    float: none;
    display: inline-block;
    margin: 15px 8px 0 0;
  }

  .st-container {
    width: auto;
    min-width: 290px;
    padding: 0 25px;
  }

  /*
  	brands owl carousel
   */
  .ct-owl-carousel .owl-carousel .owl-nav button.owl-next {
    right: 0;
  }

  .ct-owl-carousel .owl-carousel .owl-nav button.owl-prev {
    left: 0;
  }

  /**
   * GALLERIES
   */
  .ct-galleries li {
    width: 30%;
  }
  .ct-galleries li img {
    width: 100%;
    height: auto;
  }

  .ct-galleries .ctg-headings h3 {
    font-size: 1.125em;
  }

  .ct-galleries .ctg-description {
    max-height: 200px;
  }

  /**
   * GALLERY THUMBNAIl
   */
  .ct-gallery-thumbnail ul {
    text-align: center;
  }

  .ct-gallery-thumbnail .last-thumbnail {
    margin: 0 10px 20px;
  }

  .ct-gallery-thumbnail li {
    width: 13%;
  }
  .ct-gallery-thumbnail li img {
    max-width: 100%;
  }

  /*
  	menu content for dashboard user or information
   */
  .ct-panel-nav {
    display: none;
  }

  .ct-panel .ct-panel-contents {
    border: none;
    padding: 40px 20px 84px;
  }

  .ct-galleries.informative .ctg-headings {
    height: 225px;
  }

  /*
  FORM TEMPLATE
   */
  .ct-form {
    margin: 0 auto;
  }

  .ct-form .ctf-row {
    text-align: left;
    margin: 0 0 20px;
  }

  .ct-form .ctf-row .cr-multi-info {
    float: none;
    width: 100%;
  }

  .ct-form .ctf-row label {
    float: none;
    display: block;
    margin: 0 0 5px;
  }

  .ct-form .ctf-row .cr-input {
    float: none;
    width: 100%;
  }

  .ct-form .cr-button.f-right {
    float: none;
    width: 100%;
    margin: 10px 0 0;
  }

  /*
  	in success
   */
  .ct-form .cr-button.f-left {
    float: none;
    width: 100%;
    display: block;
  }

  /**
   * 	SPLIT LAYOUT
   */
  .split-layout.margin-half {
    margin: 0 0 30px;
  }

  .split-layout .panel-container .fd-title {
    font-size: 1.25em;
  }

  .split-layout .panel-container .fd-sharing {
    display: none;
  }

  .split-layout .sl-left {
    margin: 0 30px 0 0;
  }
  .split-layout .sl-left .main-image {
    width: 100%;
    height: auto;
  }

  /**
   * summary lucky draw status
   */
  .ct-expand-list .ce-status {
    display: none;
  }
  .ct-expand-list .ce-status.mobile {
    display: block;
    float: none;
    margin: 15px 0 0;
  }
}
@media screen and (max-width: 1180px) {
  .ct-galleries .ctg-relative {
    /*height: 225px;*/
    height: auto;
  }

  .ct-announcement .owl-carousel {
    width: 92%;
  }
}
@media screen and (max-width: 1140px) {
  .split-layout .panel-container .fd-description {
    max-height: 250px;
  }
}
@media screen and (max-width: 1080px) {
  .ct-galleries .ctg-relative {
    /*height: 200px;*/
    /*height: auto;*/
  }

  /*
  	contest history
   */
  .ct-expand-list .ce-context {
    width: 55%;
  }
}
@media screen and (max-width: 1024px) {
  /**
   * ct-onmobile
   */
  .ct-onmobile {
    display: block;
  }

  .ct-ondesktop {
    display: none;
  }

  /**
   * uploaded receipt
   */
  .ct-uploaded-receipt-files {
    display: none;
  }
  .ct-uploaded-receipt-files.mobile {
    display: block;
    text-align: left;
  }
  .ct-uploaded-receipt-files .title {
    margin: 35px 0 10px 0;
  }

  /**
   * menu mobile top on mobile - onlogin ( dashboard, etc )
   */
  .ct-panel.over-width {
    padding: 25px 10px 30px;
  }

  .ct-navigation-menu {
    display: none;
  }

  .ct-panel-mobile-nav {
    display: block;
  }
  .ct-panel-mobile-nav .cpm-routes {
    display: none;
  }

  #ct_user_childmenu_onmobile {
    display: block;
  }

  /**
   * OWL CAROUSEL
   */
  .owl-carousel .owl-item img {
    height: auto;
  }

  /*
  	simple gallery thumbnail for 3 columns
   */
  .ct-galleries .ctg-headings h3 {
    font-size: 1em;
  }

  .ct-galleries li {
    margin: 0 12px 35px;
  }

  /*
  	gallery thumbnail small for 6 columns
   */
  .ct-gallery-thumbnail li {
    width: 21%;
    margin: 0 12px 25px;
  }

  /**
   * layout split panel
   */
  .split-layout .sl-left {
    width: 100%;
    float: none;
    margin: 0;
  }
  .split-layout .sl-right {
    margin: 35px 0 0;
  }

  .split-layout.merged-mobile {
    border-top: 4px solid #FF8000;
  }
  .split-layout.merged-mobile .sl-left {
    width: 66%;
  }
  .split-layout.merged-mobile .sl-right {
    width: 31%;
  }

  /**
   * panel container
   */
  .split-layout .panel-container {
    padding: 20px 15px;
  }
  .split-layout .panel-container .fd-button {
    width: 275px;
    margin: 15px auto 0;
    padding: 8px 0;
  }
  .split-layout .panel-container .fd-description {
    font-size: 0.875em;
    max-height: 240px;
  }

  /*
  	expand list style
   */
  .ct-expand-list .ce-context .ctxt-title a {
    font-size: 1.125em;
  }

  .ct-expand-list .ce-image {
    width: 36%;
    margin: 0;
  }
  .ct-expand-list .ce-image img {
    width: 100%;
    height: auto;
  }

  .ct-expand-list .ce-context {
    width: 49%;
    float: right;
  }

  .ct-expand-list li {
    margin: 0 0 30px 0;
  }

  .ct-expand-list .ce-status .ces-info {
    margin: 5px 0;
  }

  .ct-expand-list .ce-status.mobile {
    width: 100%;
  }

  .ct-expand-list .ce-status .ces-info {
    width: 300px;
  }

  /**
   * 	announcements
   */
  .ct-announcement .owl-carousel {
    width: 91%;
  }
}
@media screen and (max-width: 980px) {
  .ct-galleries .ctg-relative {
    /*height: 175px;*/
  }
}
@media screen and (max-width: 880px) {
  .split-layout .panel-container .fd-description {
    max-height: 220px;
  }
}
@media screen and (max-width: 840px) {
  /**
   * split layout
   */
  .split-layout.merged-mobile {
    margin: 0 0 30px;
    border-top: none;
  }

  .split-layout.merged-mobile .sl-right {
    width: auto;
    float: none;
    padding: 30px 0 35px;
    border-bottom: 4px solid #FF8000;
  }

  .split-layout .panel-container .fd-description {
    max-height: 100%;
    overflow: initial;
  }

  .split-layout.merged-mobile .sl-left {
    float: none;
    width: 100%;
  }

  /*
  	comtest history
   */
  .ct-expand-list .ce-context .ctxt-title a {
    font-size: 1em;
  }

  .ct-expand-list .ce-context .ctxt-description {
    font-size: 0.875em;
  }

  .ct-expand-list li {
    margin: 0 0 40px;
  }

  .ct-expand-list .ce-image {
    width: 100%;
  }

  .ct-expand-list .ce-context {
    width: 100%;
    margin: 10px 0 0;
    float: none;
  }

  .ct-expand-list .ce-status .ces-info {
    width: 100%;
    padding: 5px 0;
  }

  .ct-expand-list .ce-context .ctxt-button {
    width: 100%;
  }

  .ct-announcement .owl-carousel {
    width: 90%;
  }
}
@media screen and (max-width: 820px) {
  .ct-galleries li {
    width: 45%;
    margin: 0 15px 35px;
  }

  .ct-galleries .ctg-relative {
    /*height 	: 225px;*/
  }
}
@media screen and (max-width: 720px) {
  /**
  * ASSOCIATE RETAILER
  */
  .ct-associate-retailer {
    text-align: center;
  }

  /**
   * page title head in each view
   */
  .ct-page-header {
    text-align: center;
  }
  .ct-page-header .cph-bar {
    margin: 0 auto;
  }

  .st-container {
    padding: 0 20px;
  }

  /* navigation when user login - bottom
  /* ============================================*/
  .mobile-navigation {
    display: block;
  }
  .mobile-navigation #menu_side_store {
    display: none;
  }
  .mobile-navigation .item {
    background-color: #777;
  }
  .mobile-navigation .item.active {
    background-color: #000;
  }
  .mobile-navigation .item.active a {
    color: #DDDDDD;
  }
  .mobile-navigation .item a {
    padding: 8px 18px;
    display: block;
    color: #000;
  }
  .mobile-navigation .item .menu-ico {
    margin-right: 5px;
  }

  /**
   * 	announcements
   */
  .ct-announcement .owl-carousel {
    width: 86%;
  }

  /*
  	SELF PANEL
   */
  .ct-panel .ct-panel-contents {
    padding: 40px 15px 84px;
  }

  /**
   * owl carousel
   */
  .ct-owl-carousel {
    margin: 22px 0;
    width: 100%;
  }

  .ct-owl-btn {
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 270px;
  }

  .ct-page-header h2 {
    font-size: 1.5625em;
  }

  /*
  	brands owl carousel
   */
  .ct-owl-carousel .owl-carousel .owl-nav button.owl-next {
    /*top: 42%*/
  }

  .ct-owl-carousel .owl-carousel .owl-nav button.owl-prev {
    /*top: 42%*/
  }

  /**
   * FORM
   */
  .ct-form.large {
    width: 100%;
  }

  .ct-form .cr-button.f-left {
    float: none;
    width: 100%;
  }

  /**
   * GALLERIES
   */
  .ct-galleries {
    padding: 0;
  }

  .ct-galleries li {
    width: 45%;
    margin: 0 15px 35px;
  }

  .ct-galleries .ctg-relative {
    /*height 	: 200px;*/
  }

  /*
  	GALLERIES THUMBNAIL
   */
  .ct-gallery-thumbnail {
    padding: 0;
  }

  .ct-gallery-thumbnail li {
    width: 28.5%;
  }

  /**
   * 	OVERWRITES COMMON
   */
  .split-layout.shadow-layer {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .split-layout .panel-container .fd-guide {
    margin: 25px auto 0;
  }

  /**
   * 	announcements
   */
  .ct-announcement .cta-megaphone {
    position: initial;
    top: 0;
    right: 0;
    text-align: center;
  }

  .ct-announcement .owl-carousel {
    width: 100%;
    float: none;
  }

  .ct-announcement .owl-carousel .owl-nav {
    top: auto;
    bottom: 0;
    right: 0;
  }

  .ct-announcement .ct-owl-overlay {
    width: 100%;
    padding: 10px 0 40px;
  }

  /**	
  * FILTER BAR DROP DOWN
  */
  .ct-head-with-filter .ct-filter-simple {
    position: static;
    margin-top: 25px;
  }

  #ct_filter_form {
    display: block;
  }

  .ct-filter-simple .cs-row {
    width: 100%;
  }

  .ct-head-with-filter .ct-filter-simple .select2-container {
    width: 100% !important;
  }
}
@media screen and (max-width: 680px) {
  /**
   * GALLERIES
   */
  .ct-galleries li {
    width: 45%;
    margin: 0 12px 40px;
  }

  .ct-galleries .ctg-relative {
    /*height 	: 200px;*/
  }
}
@media screen and (max-width: 640px) {
  /**
   * GALLERIES
   */
  .ct-galleries li {
    width: 45%;
    margin: 0 12px 40px;
  }

  .ct-galleries .ctg-relative {
    /*height 	: 175px;*/
  }
}
@media screen and (max-width: 600px) {
  /**
   * GALLERIES
   */
  .ct-galleries .ctg-no-margin {
    margin: 0 0 15px 0;
  }
}
@media screen and (max-width: 580px) {
  /**
   * GALLERIES
   */
  .ct-galleries .ctg-relative {
    /*height 	: 150px;*/
  }

  .ct-gallery-thumbnail li {
    width: 43%;
  }

  .ct-logo-title {
    text-align: center;
  }
}
@media screen and (max-width: 520px) {
  /**
   * GALLERIES
   */
  .ct-galleries li {
    float: none;
    width: 100%;
    margin: 0 0 25px;
  }

  .ct-galleries .ctg-relative {
    height: auto;
  }

  .ct-galleries.informative li {
    margin: 0 0 40px;
  }
}
@media screen and (max-width: 440px) {
  .ct-gallery-thumbnail li {
    width: 100%;
    margin: 0 0 20px;
  }
}
@media screen and (max-width: 480px) {
  .ct-announcement {
    font-size: 1em;
  }

  /**
   * owl carousel
   */
  .ct-page-header h2 {
    font-size: 1.375em;
  }

  .ct-owl-btn {
    width: 210px;
  }

  .ct-form.medium {
    width: 100%;
  }

  .ct-form.small {
    width: 100%;
  }

  .ct-form .ctf-row label {
    display: block;
    float: none;
  }

  .ct-form .ctf-row .cr-input {
    float: none;
    display: block;
  }

  .ct-form .cr-button.f-right {
    float: none;
    width: 100%;
    margin: 15px 0 0;
  }

  /**
   * FORM
   */
  .ct-form.large {
    float: none;
    padding: 0 0 70px;
  }

  .ct-form.split-style .ctf-row {
    width: 100%;
  }

  .ct-form.split-style .ctf-row.f-left {
    float: none;
  }

  .ct-form.split-style .ctf-row.f-right {
    float: none;
  }

  /**
   * GALLERIES
   */
  .ct-galleries .ctg-headings h3 {
    font-size: 1em;
  }

  /**
   * 	split layout panel
   */
  .split-layout .panel-container .fd-button,
  .split-layout .panel-container .fd-guide {
    width: 100%;
  }

  /**
   * tabs layout for information & terms conditions
   */
  .ct-tabs-menu li {
    float: none;
  }
  .ct-tabs-menu a {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  /**
   * owl carousel
   */
  .ct-owl-btn {
    width: 180px;
    font-size: 0.8125em;
  }

  .ct-owl-title {
    font-size: 1.125em;
  }

  /*
  	change container padding
   */
  .st-container {
    padding: 0 15px;
  }
}
/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
.ico-magnify {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: url("../../../images/f/icon-magnify.png") no-repeat;
  width: 24px;
  height: 24px;
}

.ico-register {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.ico-register.member {
  background: url("../../../images/f/icon-register.png") no-repeat;
  width: 21px;
  height: 23px;
}
.ico-register.lock {
  background: url("../../../images/f/icon-register.png") no-repeat;
  width: 19px;
  height: 23px;
  background-position: -26px 0;
}

.ico-misc {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.ico-misc.location {
  background: url("../../../images/f/icon-misc.png") no-repeat;
  width: 11px;
  height: 16px;
}
.ico-misc.calender {
  background: url("../../../images/f/icon-misc.png") no-repeat;
  width: 16px;
  height: 16px;
  background-position: -16px 0;
}

.ico-dropdown {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 0 0 3px;
}
.ico-dropdown.down {
  background: url("../../../images/f/icon-dropdown.png") no-repeat;
  width: 11px;
  height: 6px;
}

.ico-home-guides {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.ico-home-guides.hand {
  background: url("../../../images/f/home-guides.png") no-repeat;
  width: 25px;
  height: 30px;
}
.ico-home-guides.winner {
  background: url("../../../images/f/home-guides.png") no-repeat;
  width: 26px;
  height: 22px;
  background-position: -30px 0;
}
.ico-home-guides.cart {
  background: url("../../../images/f/home-guides.png") no-repeat;
  width: 25px;
  height: 20px;
  background-position: -61px 0;
}
.ico-home-guides.door {
  background: url("../../../images/f/home-guides.png") no-repeat;
  width: 22px;
  height: 24px;
  background-position: -88px 0;
}
.ico-home-guides.upload {
  background: url("../../../images/f/home-guides.png") no-repeat;
  width: 24px;
  height: 21px;
  background-position: -117px 0;
}
.ico-home-guides.scan {
  background: url("../../../images/f/scan-guide.png") no-repeat;
  width: 25px;
  height: 25px;
}

.ico-home-subscribe {
  background: url("../../../images/f/mail-subscribe.png") no-repeat;
  width: 80px;
  height: 66px;
}

.ico-facebook {
  background: url("../../../images/f/facebook-icon.jpg") no-repeat;
  width: 22px;
  height: 22px;
}

.ico-receipt-upload {
  background: url("../../../images/f/upload-receipt.png") no-repeat;
  width: 86px;
  height: 29px;
}

.ico-receipt-question {
  background: url("../../../images/f/question-receipt.png") no-repeat;
  width: 16px;
  height: 16px;
}

/*<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div>Icons made by <a href="https://www.wflaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong">mynamepong</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
*/
.ico-user-navigation {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 8px;
}
.ico-user-navigation.lock {
  background: url("../../../images/f/user-navigation-icon.png") no-repeat;
  width: 20px;
  height: 25px;
  background-position: 0 0;
}
.ico-user-navigation.cart {
  background: url("../../../images/f/user-navigation-icon.png") no-repeat;
  width: 20px;
  height: 18px;
  background-position: 0 -30px;
}
.ico-user-navigation.location {
  background: url("../../../images/f/user-navigation-icon.png") no-repeat;
  width: 20px;
  height: 20px;
  background-position: 0 -51px;
}
.ico-user-navigation.list {
  background: url("../../../images/f/user-navigation-icon.png") no-repeat;
  width: 20px;
  height: 11px;
  background-position: 0 -76px;
}
.ico-user-navigation.profile {
  background: url("../../../images/f/user-navigation-icon.png") no-repeat;
  width: 20px;
  height: 27px;
  background-position: 0 -91px;
}

.ico-user-toolbar {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 8px;
  background: url("../../../images/f/user-toolbar-icon.png") no-repeat;
  width: 20px;
  height: 20px;
}
.ico-user-toolbar.upload {
  background-position: 0 0;
}
.ico-user-toolbar.delete {
  background-position: 0 -25px;
}

html,
body {
  height: 100%;
}

body {
  background: white;
}

/*---------------------------------------------------------------*/
/* ============================================
/* Body
/* ============================================*/
#st_body {
  padding-bottom: 364px;
}

.st-body {
  background: url("../../../images/f/bg-blue.png") no-repeat;
  background-position: top right;
}
.st-body.bg-thropy {
  background: url("../../../images/f/bg-thropy.png") no-repeat;
  background-position: top right;
}
.st-body.bg-light-blue {
  background: url("../../../images/f/bg-light-blue.png") no-repeat;
  background-position: top right;
}

.st-lower {
  padding-bottom: 75px !important;
}

/*---------------------------------------------------------------*/
/* ============================================
/* Header
/* ============================================*/
#st_search_bar {
  margin-left: 25px;
  padding: 0 5px 0 10px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: #FFF;
  width: 275px;
}
#st_search_bar .typeahead__button {
  display: none;
}
#st_search_bar .typeahead__field {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 85%;
}
#st_search_bar .typeahead__dropdown, #st_search_bar .typeahead__list {
  margin: 0;
  padding: 0;
}

.typeahead__list > .typeahead__group > a {
  background-color: #e8e8e8;
  color: #a9a9a9;
  font-weight: normal;
  padding: 7px 13px 6px;
  border: 1px solid #e8e8e8;
}
.typeahead__list > .typeahead__group > a:hover {
  padding: 7px 13px 6px;
  background-color: #e8e8e8;
  color: #a9a9a9;
}

.typeahead__container * {
  color: #777;
}

.typeahead__display strong {
  color: #000;
  font-weight: normal;
}

#st_search_input {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  border: 1px solid white;
  /*width  		: 85%;*/
  margin: 0 0 0 6px;
  padding: 0;
  outline: none;
}
#st_search_input ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #AAAAAA;
  opacity: 1;
  /* Firefox */
}
#st_search_input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #AAAAAA;
}
#st_search_input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #AAAAAA;
}

#st_header {
  background-color: #E5221B;
}

#st_wrapper_nav {
  position: relative;
  padding: 0 43px;
}
#st_wrapper_nav:before, #st_wrapper_nav:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#st_wrapper_nav:after {
  clear: both;
}

#st_logo {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

#st_search_form {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

#st_page_title {
  position: absolute;
  left: 120px;
  bottom: 0;
  font-family: "CircularStd Book";
  font-size: 1.5625em;
  border-bottom: 4px solid #FF8000;
}

/*
	NAVIGATION AND MOBILE
 */
.st-mobile-menu-strip {
  float: right;
  margin: 10px 0 0;
  cursor: pointer;
}
.st-mobile-menu-strip.inside {
  margin: 24px 16px 0 0;
}
.st-mobile-menu-strip .line-bar {
  background-color: #FFF;
  border: 1px solid #FFF;
  width: 30px;
  height: 2px;
  margin: 0 0 5px;
}

.smm-box .st-mobile-menu-status {
  text-align: center;
  margin: 0 0 16px;
}
.smm-box .st-mobile-menu-status .sts-button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 38%;
  background-color: #FFF;
  border: 1px solid #FFF;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #000;
  border-radius: 4px;
  padding: 7px 8px;
}
.smm-box .st-mobile-menu-status .sts-button:hover {
  background-color: #e6231c;
  color: #FFF;
}

#st_mobile_menu_status li {
  border-bottom: 0;
  display: inline-block;
}

/*
	MOBILE
 */
#st_navigation_mobile {
  display: none;
}
#st_navigation_mobile:before, #st_navigation_mobile:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#st_navigation_mobile:after {
  clear: both;
}

#st_mobile_top_container {
  position: relative;
  height: 100px;
  background-color: #3e3535;
}

.st-mobile-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  width: 300px;
  top: 0;
  right: 0;
  overflow-x: hidden;
  background-position: top right;
  background-size: contain;
  background-color: #3e3535;
  transform: translateX(300px);
  -webkit-transform: translateX(300px);
  transition: transform 250ms ease-in-out;
}
.st-mobile-menu .logged-member-mobile .member-name {
  padding: 9px 20px;
}
.st-mobile-menu .logged-member-mobile a {
  padding: 9px 0 9px 35px;
}
.st-mobile-menu .smm-box {
  padding: 30px 10px 0;
}
.st-mobile-menu .smm-box .title-menu {
  padding: 4px 0 2px;
  text-align: center;
  font-family: "CircularStd Book";
  font-size: 1.0625em;
  color: #ADADAD;
}
.st-mobile-menu .smm-box ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.st-mobile-menu .smm-box li {
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid white;
}
.st-mobile-menu .smm-box li a {
  padding: 16px 20px 8px;
  display: block;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #FFF;
  text-decoration: none;
}

.st-mobile-menu a:hover {
  color: #f1f1f1;
}

.st-mobile-menu .closebtn {
  position: absolute;
  top: 16px;
  right: 24px;
  font-size: 36px;
  margin-left: 50px;
}

#smmb_account {
  color: #FFF;
  border: 0;
  padding: 0;
  border-bottom: 1px solid #FFF;
  cursor: pointer;
}
#smmb_account .account-trigger {
  padding: 16px 20px 8px;
  font-family: "CircularStd Book";
  font-size: 0.875em;
}
#smmb_account .account-trigger .at-arrow {
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  float: right;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#smmb_account .account-trigger.shown .at-arrow {
  margin: 5px 0 0;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
#smmb_account li {
  border-bottom: 0;
}
#smmb_account li a {
  padding-left: 40px;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #FFF;
  text-decoration: none;
}
#smmb_account li:last-child a {
  padding-bottom: 12px;
}
#smmb_account .smmba-wrapper {
  display: none;
}

/*
	END MOBILE
 */
#st_logo_search {
  float: left;
}

#st_navigation {
  float: right;
  line-height: 96px;
  /*
  	DROP DOWN navigation
   */
}
#st_navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#st_navigation li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0 10px;
}
#st_navigation li a {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #FFF;
  text-decoration: none;
}
#st_navigation .login-btn {
  font-family: "MyriadPro Regular";
  font-size: 0.9375em;
  background-color: #555;
  padding: 12px 16px 8px;
  border-radius: 6px;
  color: #FFF;
}
#st_navigation .login-btn:hover {
  background-color: #F8AA1B;
  color: #FFF;
}
#st_navigation .st-navigation-member {
  position: relative;
  /*
  	fix line-height 98px in top nagiation set to normal
   */
  line-height: normal;
}
#st_navigation .st-navigation-member .stm-icon {
  float: right;
  cursor: pointer;
}
#st_navigation .st-navigation-member:hover .st-navigation-dropdown {
  display: block;
}
#st_navigation .st-navigation-dropdown {
  display: none;
  position: absolute;
  z-index: 100;
  top: 32px;
  right: 12px;
  width: 170px;
  border-top: 6px solid #FF8000;
  padding: 0;
  margin: 0;
}
#st_navigation .st-navigation-dropdown li {
  padding: 0;
  text-align: right;
}
#st_navigation .st-navigation-dropdown li .f-greyed {
  color: #AAAAAA;
}
#st_navigation .st-navigation-dropdown li a {
  display: block;
  padding: 12px 20px 8px 0;
  width: 150px;
  background-color: #EFF2F6;
  color: #444444;
}
#st_navigation .st-navigation-dropdown li a:hover {
  background-color: #F7F9FB;
}

/*---------------------------------------------------------------*/
/* ============================================
/* Footer
/* ============================================*/
#st_outer {
  min-height: 100%;
  position: relative;
}

#st_footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

/*
	footer for complete big in home and horizontal
 */
#st_footer_full {
  padding: 64px 0 100px;
  background-color: #EEE;
  min-height: 200px;
}
#st_footer_full .st-container:before, #st_footer_full .st-container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#st_footer_full .st-container:after {
  clear: both;
}

#st_footer_min {
  padding: 20px 43px;
}
#st_footer_min ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#st_footer_min li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
#st_footer_min .stm-copy {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  margin: 0 60px 0 0;
}
#st_footer_min .stm-link {
  margin: 0 10px 0 0;
}
#st_footer_min .stm-link a {
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #878787;
  text-decoration: none;
}
#st_footer_min .stm-link a:hover {
  color: #3991C4;
}

/*
	end
 */
#footer_brand {
  float: left;
  margin: 0 88px 0 0;
}

#footer_copyright {
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #555;
  margin: 9px 0 0 0;
}

#footer_links {
  float: left;
  width: 60%;
}
#footer_links .fl-columns {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 30%;
  padding: 0 20p 0 0x;
}
#footer_links .fl-columns.col-2 {
  width: 66%;
}
#footer_links .fl-columns.col-2 li {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 46%;
  padding: 0 8px 8px 0;
}
#footer_links .fl-columns ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#footer_links .fl-columns li {
  padding: 0 0 8px;
  display: block;
}
#footer_links .fl-columns .fl-txt {
  font-family: "CircularStd Book";
  font-size: 0.8125em;
}
#footer_links .fl-columns .fl-txt a {
  color: #000;
}
#footer_links .fl-rows {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
#footer_links .fl-rows ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 140px;
}
#footer_links .fl-rows li {
  margin: 0;
  padding: 2px 0;
}
#footer_links .fl-rows .fl-title {
  font-family: "CircularStd";
  font-weight: bold;
  font-size: 0.8125em;
}
#footer_links .fl-rows .fl-txt {
  font-family: "CircularStd Book";
  font-size: 0.8125em;
}
#footer_links .fl-rows .fl-txt a {
  color: #000;
}

#footer_social_network {
  float: right;
}
#footer_social_network .fsn-row {
  font-family: "CircularStd";
  font-weight: bold;
  font-size: 0.8125em;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0 7px;
  cursor: pointer;
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
}
#footer_social_network .fsn-row:hover {
  filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: none;
  /* IE6-9 */
  zoom: 1;
  /* needed to trigger "hasLayout" in IE if no width or height is set */
  -webkit-filter: grayscale(0%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/* ============================================
/* MEDIA QUERY
/* ============================================*/
@media screen and (max-width: 1366px) {
  #st_wrapper_nav {
    padding: 0 25px;
  }

  /*
  	navigation
   */
  #st_search_bar {
    width: 250px;
  }

  /**
   * padding bottom on mobile
   */
  .st-lower {
    padding: 0 !important;
  }
}
@media screen and (max-width: 1280px) {
  /*
  	navigation
   */
  #st_navigation {
    display: none;
  }

  #st_navigation_mobile {
    display: block;
    position: absolute;
    top: 30px;
    right: 40px;
  }

  /*
  	navigation
   */
  #st_search_bar {
    width: 350px;
  }
}
@media screen and (max-width: 1024px) {
  #footer_brand {
    margin: 0 68px 0 0;
  }

  #footer_social_network .fsn-row.connect {
    display: block;
    margin: 0 0 8px;
  }

  #footer_links .fl-rows {
    padding: 0;
  }

  /*
  FOR BOTTOM FOOTER PEDDING
   */
  #st_body {
    /*padding-bottom: 77PX;*/
    padding-bottom: initial;
  }

  #st_footer_full {
    padding: 35px 0 50px;
  }

  #st_footer {
    position: initial;
  }

  /* ============================================
  /* footer on mobile display low screen below 820px
  /* ============================================*/
  #footer_onmobile_head {
    display: block;
  }
  #footer_onmobile_head:before, #footer_onmobile_head:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  #footer_onmobile_head:after {
    clear: both;
  }

  /*
  	footer
   */
  #footer_copyright_mobile {
    /*display: block;*/
  }

  #footer_brand {
    margin: 0;
  }

  #footer_copyright {
    /*display: none;*/
  }

  #footer_social_network .fsn-row.connect {
    /*display: none;*/
  }

  #footer_links {
    /*display: none;*/
    float: none;
    width: 100%;
    margin: 20px 0 0;
  }
  #footer_links .fl-columns.col-2 li {
    padding: 8px 0;
    margin: 0 15px 0 0;
  }
  #footer_links .fl-columns li {
    border-bottom: 1px dashed #555;
    padding: 8px 0;
  }

  /*	#st_footer_full
  	{
  		padding 	: 30px 0 25px;
  		min-height 	: 25px;
  	}*/
}
@media screen and (max-width: 1024px) {
  #st_footer_min {
    padding: 0 15px 50px;
  }

  #st_footer_min .stm-link {
    display: block;
    padding: 8px 0;
    border-bottom: 1px dashed #555;
  }
}
@media screen and (max-width: 720px) {
  #st_wrapper_nav {
    padding: 0 20px;
  }

  #st_page_title {
    font-size: 1.375em;
  }

  /*set footer full column link*/
  #footer_links .fl-columns.col-2 {
    width: 50%;
    margin: 0 15px 0 0;
  }
  #footer_links .fl-columns.col-2 li {
    width: 100%;
    padding: 8px 0;
  }

  #footer_links .fl-columns {
    width: 45%;
  }
}
@media screen and (max-width: 680px) {
  #st_search_bar {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #st_page_title {
    font-size: 1.25em;
  }

  #footer_links .fl-columns.col-2 {
    width: 100%;
  }

  #footer_links .fl-columns {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  #st_wrapper_nav {
    padding: 16px 15px 14px;
  }
}

/*# sourceMappingURL=main.css.map */
