/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#promotions_content {
  margin: 60px auto 80px;
}

.ct-galleries .ctg-relative .ctw-title {
  top: 0;
  bottom: auto;
  background-color: #FFDFBF;
}

.ct-galleries img {
  width: 100%;
}

/*# sourceMappingURL=promotions.css.map */
