/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
.display-code-data {
  font-size: 1.625em;
  text-align: center;
  font-weight: bold;
  padding: 0 0;
}

.ct-list-breadcrumb {
  padding: 0;
  margin: 0;
}
.ct-list-breadcrumb .box {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 2px;
}
.ct-list-breadcrumb .link {
  border-radius: 3px;
  padding: 3px 10px;
  background-color: #FF7F00;
  color: #FFF;
  font-size: 0.875em;
}
.ct-list-breadcrumb .link:hover {
  background-color: #3991C4;
}

/*# sourceMappingURL=promo-code-download.css.map */
