/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
/**
 * PAGE - RECEIPT UPLOAD
 */
#page_receipt_upload {
  width: 500px;
  margin: 0 auto;
}
#page_receipt_upload .ct-no-data {
  margin: 30px 0 35px;
  font-size: 1em;
}
#page_receipt_upload .fd-background-upload {
  margin: 0 auto 15px;
}
#page_receipt_upload .fd-main-title {
  font-weight: normal;
  font-family: "CircularStd Book";
  font-size: 1.0625em;
  text-align: center;
  margin: 0 0 22px;
}
#page_receipt_upload .upload-panel {
  padding: 40px 20px;
  background-color: #FFF;
  border-top: 4px solid #FF8000;
  /*
  	shadow outline box
   */
  -webkit-box-shadow: 2px 4px 10px 0px #bdbdbd;
  -moz-box-shadow: 2px 4px 10px 0px #bdbdbd;
  box-shadow: 2px 4px 10px 0px #bdbdbd;
}
#page_receipt_upload .upload-panel:before, #page_receipt_upload .upload-panel:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#page_receipt_upload .upload-panel:after {
  clear: both;
}
#page_receipt_upload .upload-panel .ct-error-info {
  text-align: center;
  margin-bottom: 10px;
}
#page_receipt_upload .upload-img {
  text-align: center;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #444444;
  cursor: pointer;
  padding: 45px 0 30px;
}
#page_receipt_upload .upload-img .ico-receipt-upload {
  margin: 0 auto 6px;
}
#page_receipt_upload .upload-img .ico-receipt-question {
  margin: 6px auto 0;
}
#page_receipt_upload .ct-form {
  text-align: center;
  margin: 0 auto;
}
#page_receipt_upload .title {
  text-align: left;
  font-family: "CircularStd Book";
  font-size: 1em;
  color: #444444;
  margin: 30px 0 -5px;
}
#page_receipt_upload .ct-error-info {
  margin: 0;
}
#page_receipt_upload .guidance {
  text-align: left;
  margin: 25px 0 0;
  color: #444444;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
}
#page_receipt_upload .ct-form .cr-button {
  width: 100%;
}
#page_receipt_upload .cr-checkbox {
  text-align: left;
  padding: 0 0 40px;
  margin: 0;
  list-style-type: none;
}
#page_receipt_upload .cr-checkbox li {
  padding: 15px 0;
}
#page_receipt_upload .cr-checkbox li .brand {
  color: #777;
  margin: 0 0 5px;
  display: block;
  font-size: 0.875em;
  font-family: "CircularStd Book";
}
#page_receipt_upload .cr-checkbox input[type=checkbox].css-checkbox + label.css-label {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #444444;
}
#page_receipt_upload .cr-checkbox .label-name {
  display: block;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #444444;
  margin: 0 0 0 20px;
}
#page_receipt_upload .cr-checkbox .chance-upload {
  font-family: "CircularStd Book";
  font-size: 0.875em;
  color: #FF8000;
  margin: 0 0 0 20px;
}

.upload-receipt-wrapper {
  display: none;
}
.upload-receipt-wrapper.first {
  display: block;
}
.upload-receipt-wrapper .fd-img-preview {
  width: 100%;
  height: auto;
  margin: 0 0 10px;
}
.upload-receipt-wrapper .fd-img-preview-wrapper {
  display: none;
  position: relative;
}
.upload-receipt-wrapper .fd-img-preview-wrapper .remove {
  cursor: pointer;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  padding: 5px 10px;
}
.upload-receipt-wrapper .fd-img-preview-wrapper .remove:hover {
  background: #FF3434;
  background: #FF3434B3;
}

@media screen and (max-width: 720px) {
  #page_receipt_upload {
    width: 100%;
  }
}

/*# sourceMappingURL=receipt-upload.css.map */
