/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#register_content {
  margin: 65px auto 70px;
}
#register_content:before, #register_content:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#register_content:after {
  clear: both;
}

#register_container_box {
  /*background-color : #EFF2F6;*/
}
#register_container_box:before, #register_container_box:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#register_container_box:after {
  clear: both;
}

.with-background {
  background: url("../../../images/f/banner-signup.jpeg") no-repeat;
  background-size: contain;
  background-position: center center;
  display: block;
  overflow: hidden;
}
.with-background.login {
  height: 479px;
}
.with-background.register {
  height: 614px;
}

.ct-error-info {
  margin-bottom: 10px;
}

.ct-facebook-button {
  background-color: #3a5998;
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
  border-radius: 3px;
}
.ct-facebook-button:before, .ct-facebook-button:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-facebook-button:after {
  clear: both;
}
.ct-facebook-button .ico-facebook {
  float: left;
  margin-left: 8px;
}
.ct-facebook-button .text {
  margin: 3px 0 0 25px;
  font-family: "CircularStd Book";
  font-size: 0.875em;
  color: #FFF;
  font-weight: 400;
  text-align: center;
}

#register_form_box {
  float: left;
  background-color: #FFF;
  border-top: 4px solid #FF8000;
  width: 240px;
  padding: 30px 30px 42px;
  /*
  	shadow outline box
   */
  -webkit-box-shadow: 2px 4px 10px 0px #bdbdbd;
  -moz-box-shadow: 2px 4px 10px 0px #bdbdbd;
  box-shadow: 2px 4px 10px 0px #bdbdbd;
}
#register_form_box h1 {
  font-weight: normal;
  font-family: "CircularStd Book";
  font-size: 1.0625em;
  color: #444444;
  text-align: center;
}

#rb_box {
  text-align: center;
}
#rb_box .rb-checkbox {
  height: 40px;
  margin: 0 0 30px;
}
#rb_box .rb-checkbox .css-label {
  text-align: left;
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #444444;
}
#rb_box .rb-checkbox .css-label a {
  color: #3990C3;
}
#rb_box .rb-checkbox .css-label a:hover {
  color: #00A1FF;
}
#rb_box .rb-row {
  margin: 0 0 12px 0;
}
#rb_box .rb-row.box {
  border: 1px solid #DDDDDD;
}
#rb_box .rb-row.align-left {
  text-align: left;
}
#rb_box .rb-row .css-label {
  font-family: "CircularStd Book";
  font-size: 0.875em !important;
  color: #555;
}
#rb_box .rb-input {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  margin: 0 0 0 12px;
  padding: 10px 5px;
  border: none;
  outline: none;
}
#rb_box .rb-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d8d8d8;
  opacity: 1;
  /* Firefox */
}
#rb_box .rb-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d8d8d8;
}
#rb_box .rb-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d8d8d8;
}
#rb_box .rb-button {
  font-family: "CircularStd Book";
  font-size: 1.0625em;
  width: 100%;
  padding: 9px 0;
  border: 1px solid #555;
  background-color: #555;
  color: #FFF;
}
#rb_box .rb-button:hover {
  background-color: #FF8000;
  color: #FFF;
  border: 1px solid #FF8000;
}
#rb_box .rb-or-line {
  margin: 25px 0 22px;
}
#rb_box .rb-login {
  font-family: "CircularStd Book";
  font-size: 1em;
  color: #444444;
  margin: 14px 0 0;
  text-align: left;
}
#rb_box .rb-login a {
  text-decoration: none;
  color: #3991C4;
}
#rb_box .rb-login a:hover {
  color: #00A1FF;
}

#check_promotion.rb-checkbox {
  height: auto;
}
#check_promotion .cp-box {
  margin: 5px 0 20px;
  text-align: left;
}
#check_promotion .cpb-checkbox {
  margin: 0 20px 0 0;
  display: inline-block;
}

#winner_thropy_bg {
  float: left;
  margin: 20px 0px 0 250px;
}

@media screen and (max-width: 1024px) {
  .with-background.login,
  .with-background.register {
    height: auto;
  }

  #register_content {
    padding: 45px 15px 70px;
  }

  #winner_thropy_bg {
    float: right;
    margin: 20px 60px 0 0;
  }

  #register_form_box {
    float: none;
    width: 50%;
    margin: 0 auto;
    padding: 30px 30px 42px;
  }

  .with-background {
    background: none;
  }

  #rb_box .rb-row.box {
    text-align: left;
    padding: 0 0 0 12px;
  }

  #rb_box .rb-input {
    width: 80%;
  }
}
@media screen and (max-width: 860px) {
  #winner_thropy_bg {
    float: right;
    margin: 20px 10px 0 0;
  }
}
@media screen and (max-width: 760px) {
  #register_container_box {
    background-color: #FFF;
  }

  #winner_thropy_bg {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  #register_form_box {
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  #register_form_box {
    width: 72%;
  }
}
@media screen and (max-width: 380px) {
  #rb_box .rb-or-line {
    width: 100%;
    height: auto;
  }

  .rb-fb-img {
    width: 100%;
    height: auto;
  }

  .rb-row .ico-register {
    display: none;
  }

  #rb_box .rb-input {
    margin: 0;
  }

  #check_agree.rb-checkbox {
    height: 50px;
  }

  #rb_box .rb-row.box {
    padding: 0;
  }

  #rb_box .rb-input {
    width: 90%;
  }
}

/*# sourceMappingURL=register.css.map */
