/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
.ct-logo-title {
  overflow: hidden;
}

.ctlt-left {
  float: left;
}

.ctlt-right {
  float: right;
}

.ss2-parent-wrapper {
  margin: 60px 0 0;
}

.ct-galleries li {
  margin-bottom: 0;
}

@media screen and (max-width: 580px) {
  .ctlt-left,
  .ctlt-right {
    float: none;
  }

  .ct-logo-title {
    text-align: center;
  }

  .ss2-parent-wrapper .select2-container {
    width: 100% !important;
  }

  .ss2-parent-wrapper {
    margin: 30px 0 0;
  }
}

/*# sourceMappingURL=retailer-detail.css.map */
