/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#content_paragraph {
  border-top: 4px solid #FF8000;
  text-align: center;
  width: 80%;
  padding: 40px 30px 58px;
  margin: 0 auto;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(189, 189, 189, 0.7);
  -moz-box-shadow: 2px 4px 10px 0px rgba(189, 189, 189, 0.7);
  box-shadow: 2px 4px 10px 0px rgba(189, 189, 189, 0.7);
}
#content_paragraph p {
  font-family: "CircularStd Book";
  color: #444444;
}
#content_paragraph .title {
  font-weight: bold;
  font-size: 1.5625em;
  margin: 0 0 47px;
}
#content_paragraph .text {
  font-size: 1.5em;
  line-height: 1.8;
}

.button-redirect {
  display: block;
  width: 240px;
  font-family: "CircularStd Book";
  font-size: 1.0625em;
  color: #FFF;
  padding: 9px 0;
  border: 1px solid #555;
  background-color: #555;
  text-align: center;
  margin: 45px auto 0;
}
.button-redirect:hover {
  background-color: #FF8000;
  color: #FFF;
  border: 1px solid #FF8000;
}

@media screen and (max-width: 1366px) {
  #content_paragraph .text {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 1024px) {
  #content_paragraph .text {
    font-size: 1.125em;
  }
}
@media screen and (max-width: 720px) {
  #content_paragraph .text {
    font-size: 1em;
  }
}

/*# sourceMappingURL=self-upload-success.css.map */
