/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#content_wrapper {
  border-top: 2px solid #FF8000;
  width: 600px;
  margin: 0 auto;
  background-color: #FFF;
  border-top: 4px solid #FF8000;
  -webkit-box-shadow: 2px 4px 10px 0px #bdbdbd;
  -moz-box-shadow: 2px 4px 10px 0px #bdbdbd;
  box-shadow: 2px 4px 10px 0px #bdbdbd;
}

#address_controls.ss2-parent-wrapper .select2-container {
  width: 100% !important;
}
#address_controls.ss2-parent-wrapper .select2-container .select2-selection--single {
  height: 40px;
}
#address_controls.ss2-parent-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
}
#address_controls.ss2-parent-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 39px;
  background: transparent;
}
#address_controls.ss2-parent-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #000 transparent transparent transparent;
  border-width: 7px 5px 0 5px;
  margin-left: -8px;
  margin-top: -4px;
}

#address_detail {
  padding: 8px 10px 3px;
  margin: 10px 0 10px;
}
#address_detail .address {
  font-family: "CircularStd";
  font-weight: bold;
}

.ct-txt-link {
  font-family: "CircularStd Book";
  font-size: 1em;
  color: #444444;
  padding: 0 10px;
}
.ct-txt-link.no-padding-left {
  padding: 0 10px 0 0;
}
.ct-txt-link:hover {
  text-decoration: underline;
}
.ct-txt-link.nohoverunderline:hover {
  text-decoration: none;
}
.ct-txt-link.orange {
  color: #FF8000;
}
.ct-txt-link.blue {
  color: #3991C4;
}
.ct-txt-link.red {
  color: #e6231c;
}

.db-head {
  padding: 15px 15px 0 0;
}
.db-head:before, .db-head:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.db-head:after {
  clear: both;
}
.db-head .button {
  float: right;
  width: 100px;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #444444;
  text-align: center;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #FFF;
  border-radius: 4px;
}
.db-head .button.red {
  background-color: #e6231c;
}
.db-head .button.orange {
  background-color: #FF8000;
}
.db-head .button:hover {
  background-color: #FF8000;
}

.db-content {
  padding: 0 0 25px;
}
.db-content .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.db-content .list .item {
  margin: 0 30px;
  padding: 18px 0 18px;
  border-bottom: 1px solid #CDCDCD;
}
.db-content .list .item.no-margin {
  margin: 0;
}
.db-content .list .item.no-pad-top {
  padding-top: 0;
}
.db-content .list .item .date {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
}
.db-content .list .item .paragraph {
  font-family: "CircularStd Book";
  font-size: 0.875em;
  margin: 0 0 15px;
}
.db-content .list .item .name {
  font-family: "CircularStd Book";
  font-size: 0.875em;
}
.db-content .list .item .name.bold {
  font-weight: bold;
}
.db-content .list .item .name.blue {
  color: #3991C4;
}
.db-content .list .item .name .button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 125px;
  padding: 5px 0;
  /*padding : 10px 50px 10px;*/
  margin: 0 7px;
  text-align: center;
  border: 0;
  color: #FFF;
  background: #444444;
}
.db-content .list .item .name .button.default:hover {
  background: #FF8000;
}
.db-content .list .item .name .button.delete {
  background: #e6231c;
}
.db-content .list .item .name .button.orange {
  background: #FF8000;
}
.db-content .list .item .name .button.blue {
  background: #3991C4;
}
.db-content .list .item .name .button.btn-submit {
  padding: 11px 50px 11px;
}

.db-form {
  padding: 25px 30px 50px;
}

@media screen and (max-width: 600px) {
  #content_wrapper {
    width: 95%;
  }
}
@media screen and (max-width: 560px) {
  .db-content .item {
    margin: 0 20px;
  }
  .db-content .ct-no-data {
    margin: 0 20px;
  }
}
@media screen and (max-width: 480px) {
  .db-form {
    padding: 25px 15px 50px;
  }
}
@media screen and (max-width: 380px) {
  .db-content .list .item .date {
    font-size: 0.875em;
  }
  .db-content .list .item .name {
    font-size: 0.8125em;
  }
}

/*# sourceMappingURL=user-address-list.css.map */
