/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#user_content {
  margin: 60px auto 80px;
}
#user_content:before, #user_content:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#user_content:after {
  clear: both;
}

#self_dashboard {
  margin: 60px auto 80px;
}

.ct-galleries {
  margin: 0;
}

.user-common-info {
  font-family: "CircularStd Book";
  font-size: 0.875em;
  color: #444444;
  line-height: 1.7;
}

/*
	each section margin
 */
.ct-section {
  margin: 0 0 50px 0;
}

.ct-listed-date {
  background-color: transparent;
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #444444;
  padding: 8px 0;
  margin: 0 0 15px;
  border-radius: 3px;
}
.ct-listed-date:before, .ct-listed-date:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.ct-listed-date:after {
  clear: both;
}
.ct-listed-date .date {
  float: left;
  margin: 10px 0 0;
}
.ct-listed-date .ct-button {
  margin: 0 5px;
}

/*
	panel content padding
 */
#page_change_pass {
  padding: 25px 35px 180px;
}
#page_change_pass p {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  line-height: 1.6;
}
#page_change_pass .ct-form.medium {
  padding: 20px 0 0;
}

/*
	header info with yellow bar
 */
.ct-page-header {
  margin: 0 0 25px 0;
}

.ct-page-header h2 {
  font-size: 1.5625em;
}

/*
	gallery
 */
.ct-galleries .ctg-no-margin {
  margin: 0;
}

.ct-galleries .ctg-headings h3 {
  margin: 8px 0 0;
}

/*
	mini brands
 */
.ct-gallery-thumbnail li {
  margin: 0 20px 20px 0;
}

.ct-gallery-thumbnail .last-thumbnail {
  margin: 0 0 20px 0;
}

.uploaded-receipt-files {
  font-family: "CircularStd Book";
  color: #444444;
  margin: 15px 0 0;
}
.uploaded-receipt-files.shift-right {
  margin: 35px 15px 0;
  text-align: right;
}
.uploaded-receipt-files.mobile {
  display: none;
}
.uploaded-receipt-files ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.uploaded-receipt-files li {
  margin: 0;
  line-height: 1.3;
}
.uploaded-receipt-files li a {
  font-family: "CircularStd Book";
  color: #3990C3;
  font-size: 0.875em;
}
.uploaded-receipt-files li a:hover {
  color: #FF7F00;
}
.uploaded-receipt-files .title {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  color: #444444;
  margin: 0 0 5px 0;
}

/**
 * my account upload photo
 */
#page_my_account {
  padding: 25px 33px 52px;
}
#page_my_account .ct-form {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

#my_account_box {
  position: relative;
}

.mc-upload-photo {
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 500px;
  text-align: center;
}
.mc-upload-photo .upload-title {
  font-family: "CircularStd Book";
  font-size: 0.8125em;
  color: #888888;
  margin: 8px 0 0;
}
.mc-upload-photo img {
  cursor: pointer;
}

.ct-expand-list .ctx-compact {
  border-bottom: 0;
  margin-bottom: 0;
  padding: 0 10px 25px;
}

.ctx-compact.last {
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.ctx-compact:last-child {
  border-bottom: 0;
}
.ctx-compact .ctxt-icons {
  margin: 0 0 0 -5px;
}
.ctx-compact .ce-context .ctxt-brand {
  margin-bottom: 0;
}
.ctx-compact .ce-context .ctxt-brand a:hover {
  text-decoration: underline;
}
.ctx-compact .ce-context .ctxt-metadata .c-calender-date {
  margin: 0 0 0 6px;
}
.ctx-compact .ce-context .ctxt-title {
  margin-top: 3px;
}
.ctx-compact .ctxt-metadata .ctxt-brand,
.ctx-compact .ctxt-metadata .ctxt-icons,
.ctx-compact .ctxt-metadata .sep {
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
}
.ctx-compact .ctxt-metadata .sep {
  margin: -6px 0 0;
  font-size: 1.125em;
}
.ctx-compact .ce-image {
  margin-right: 15px;
}
.ctx-compact .date {
  margin: 0;
}
.ctx-compact img {
  width: 200px;
  height: auto;
}
.ctx-compact .ctx-receipt {
  font-family: "CircularStd Book";
  margin: 40px 0 0;
  font-size: 0.9375em;
}
.ctx-compact .ctx-receipt a {
  color: #0397ec;
}
.ctx-compact .ctx-receipt a:hover {
  text-decoration: underline;
}

.ct-page-category {
  list-style: none;
  padding: 0;
  margin: 10px 0 40px;
}
.ct-page-category li {
  display: inline-block;
}
.ct-page-category li.active a {
  background: #FF8000;
  color: #fff;
  border-color: #FF8000;
}
.ct-page-category a {
  display: block;
  padding: 7px 20px;
  background: transparent;
  color: #0397ec;
  border: 1px solid #0397ec;
  border-radius: 3px;
}
.ct-page-category a:hover {
  background: #6d6d6d;
  color: #fff;
  border-color: #6d6d6d;
}

@media screen and (max-width: 1366px) {
  #page_change_pass p {
    text-align: center;
  }

  #my_account_box {
    text-align: center;
  }

  .mc-upload-photo {
    position: static;
    left: 0;
    top: 0;
  }

  .ct-form.medium {
    width: 50%;
  }

  .ctx-compact .ctx-receipt {
    margin: 20px 0 0;
  }
}
@media screen and (max-width: 1024px) {
  .ct-form.medium {
    width: 100%;
  }

  #self_dashboard .ct-galleries .ctg-headings {
    height: 58px;
  }

  #page_contest_history {
    padding: 25px 25px 30px;
  }

  .ct-gallery-thumbnail .last-thumbnail {
    margin: 0 20px 20px 0;
  }
}
@media screen and (max-width: 720px) {
  /*
  	mini brands
   */
  .ct-gallery-thumbnail li {
    margin: 0 10px 20px 0;
  }

  .ct-gallery-thumbnail .last-thumbnail {
    margin: 0 10px 20px 0;
  }

  /*
  	contest gallery
   */
  .ct-listed-date {
    padding: 8px 15px;
  }

  .ct-listed-date .date {
    float: none;
    margin: 10px 0 15px;
  }

  .ct-listed-date .ct-button {
    float: none;
    width: 100%;
    margin: 0 0 10px;
    box-sizing: content-box;
  }

  .ct-page-category li {
    width: 45%;
    text-align: center;
    margin: 0 5px 10px;
  }
}
@media screen and (max-width: 460px) {
  #page_my_account, #page_change_pass {
    padding: 52px 0 0;
    background-color: transparent;
    box-shadow: none;
  }

  #page_change_pass p {
    background-color: #FFF;
    text-align: left;
    margin: 0;
    padding: 15px 10px;
  }

  #page_contest_history {
    padding: 25px 15px 30px;
  }

  .ct-page-category li {
    width: 100%;
    text-align: center;
    margin: 0 0 10px;
  }
}

/*# sourceMappingURL=users.css.map */
