/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* Sizes */
/* Paths */
/* Fonts and Sizes */
/*fonts*/
/* color */
/*
	HOME
 */
/*
	MAIN
 */
/*
	MOBILE MENU
 */
/*
	owl carousel
 */
/*
	common
 */
/*
	dropdown
 */
/*
	filter select
 */
/*
	gallery
 */
/*
	expand list
 */
/**
 * MEDIA QUERY
 */
#curr_paragraph p {
  font-family: "CircularStd Book";
  font-size: 0.9375em;
  padding: 0;
  margin: 34px 0 24px;
  line-height: 1.6;
}

@media screen and (max-width: 1366px) {
  .ct-page-header .cph-bar {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=verification.css.map */
