@import "partials/base";

#brand_detail_content
{
	margin: 65px auto 75px;
}

.hs_slider
{
	width 	: 52%;
	float: left;
}

#brand_media
{
	@include clearfix;

	.hs_slider .owl-dots
	{
		position : absolute;
		bottom : 0;
		left: 45%;
	}
}

#brand_info
{
	float 		: left;
	width 		: 40%;
	min-height 	: 290px;
	border-top: 4px solid $c-orange-2;
	padding: 35px 45px 20px 35px;
	background-color : $c-white;

	/*
		shadow outline box
	 */
	-webkit-box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);
	-moz-box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);
	box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);

	.bi-logo
	{
		border: 1px solid $c-grey-7;

		@include inline-block( middle );

		margin : 0 20px 0 0;
	}

	.bi-title
	{
		@include inline-block( middle );

		font-family: $font-circular-book;
		font-size: em( 25px, $base-font-size );

		margin: 10px 0 0;

	}

	.bi-description
	{

		color : $c-grey-6;
		font-family: $font-circular-book;
		font-size: em( 15px, $base-font-size );

		margin : 16px 0 0;

		line-height: 1.7;
	}
}

.informative-product
{
	margin: 40px 0 60px;

	.ct-page-header
	{
		margin : 0 0 30px;
	}

	.ct-expand-list li
	{
		margin : 0;
	}

	.ct-expand-list .ce-context
	{
		width: 63%;
	}

	.ctxt-icons.location
	{
		margin : 0 0 5px;
	}

	.ct-expand-list .ce-context .ctxt-description
	{
		margin : 15px 0 0;
	}

}


@include max-screen( $mq-l )
{
	.hs_slider
	{
		float: none;
		width: 100%;

		.owl-carousel .owl-item img
		{
			height: auto;
		}
	}

	#brand_info
	{
		float: none;
		width: auto;
		margin : 15px 0 0;
	}

	.informative-product .ct-expand-list li
	{
		@include clearfix;
	}

	/*
		other info
	 */
	.ct-page-header h2
	{
		font-size: em( 26px, $base-font-size );
	}

	.ct-expand-list .ce-context .ctxt-title a
	{
		font-size: em( 21px, $base-font-size );
	}

	.ct-expand-list .ce-image
	{
		margin: 0;
		width: 33%;

		img
		{
			width: 100%;
			height: auto;
		}
	}

	.informative-product .ct-expand-list .ce-context
	{
		float: right;
		width: 65%;
	}

}

@include max-screen( $mq-m )
{
	#brand_info .bi-title
	{
		font-size: em( 22px, $base-font-size );
	}

	#brand_info
	{
		.bi-header
		{
			text-align: center;
		}

		.bi-logo
		{
			margin: 0;
		}
	}

	.ct-expand-list .ce-image
	{
		width: 100%;
		display: block;
	}

	.informative-product .ct-expand-list .ce-context
	{
		float: none;
		width: 100%;
		margin: 15px 0 0;
	}

	.ct-expand-list .ce-context .ctxt-button
	{
		width: 100%;
	}

}

@include max-screen( $mq-sm )
{

	#brand_info .bi-title
	{
		font-size: em( 20px, $base-font-size );
	}

	#brand_info
	{
		padding: 30px 15px;
	}

	#brand_info
	{
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

}