@import "partials/base";

#brand_products
{
	margin : 65px auto 80px;

}

@include max-screen( 860px )
{
	.ct-galleries .ctg-description
	{
		font-size: em( 15px, $base-font-size );
	}
}

@include max-screen( 780px )
{
	.ct-galleries .no-margin-col
	{
		margin: 0 20px 40px 0;
	}
}
