@import "partials/base";

#brands_content
{
	margin : 65px auto 65px;

	.ct-gallery-thumbnail
	{
		margin : 40px 0 0;

        &.fav-brands {
            margin-bottom : 40px;
        }
	}

}

#controls {
	font-size : $base-font-size;
}

#fav_brands {
    li {
        position : relative;
    }
    .icomoon-favorite {
        position  : absolute;
        bottom    : -18px;
        right     : -18px;
        font-size : em( 45px, $base-font-size );

        color : #FF0000;
    }
}

.select2-container--default .ss2-open-wrapper .select2-results > .select2-results__options {
	padding-top : 4px;
}
.select2-container--default .select2-dropdown {
	font-size : em( 14px, $base-font-size );
}
