@import "partials/base";

.split-layout .panel-container .fd-description
{
	max-height: 300px;
}

.split-layout .panel-container .fd-retailer img
{	
	width  : 130px;
	height : auto;


}

@include max-screen( $mq-xl )
{
	.split-layout .panel-container .fd-description
	{
		max-height: 265px;
	}

}

@include max-screen( 1280px )
{
	.split-layout .panel-container .fd-description
	{
		max-height: 235px;
	}
}

@include max-screen( 1200px )
{
	.split-layout .panel-container .fd-description
	{
		max-height: 205px;
	}
}

@include max-screen( 1120px )
{
	.split-layout .panel-container .fd-description
	{
		max-height: 170px;
	}
}

@include max-screen( $mq-l )
{
	.split-layout .panel-container .fd-retailer
	{
		img
		{
			height: 75px;
		}
	}

	.split-layout .panel-container .fd-title
	{
		font-size: em( 18px, $base-font-size );
	}

	.split-layout .panel-container
	{
		padding: 20px 0 0 15px;
	}

	.split-layout .panel-container .fd-description
	{
		max-height: 185px;
	}
}

@include max-screen( 960px )
{
	.split-layout .panel-container .fd-description
	{
		max-height: 165px;
	}
}

@include max-screen( 900px )
{
	.split-layout .panel-container .fd-title
	{
		font-size: em( 16px, $base-font-size );
	}

	.split-layout .panel-container .fd-description
	{
		max-height: 145px;
	}

}

@include max-screen( 840px )
{
	.split-layout.merged-mobile .sl-left
	{
		width: 100%;
		float: none;
	}

	.split-layout.merged-mobile .sl-right
	{
		float: none;
		width: 100%;
	}

	.split-layout .panel-container
	{
		padding: 10px 0 0;
	}

	.split-layout .panel-container .fd-description
	{
		max-height 	: 100%;
		overflow 	: initial;
	}

	.split-layout.shadow-layer
	{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.split-layout .panel-container .fd-retailer img
	{
		width 	: 170px;
		height 	: 110px;
	}

}

@include max-screen( $mq-m )
{
	.split-layout .panel-container
	{
		padding: 0;
	}
}