@import "partials/base";

/**
 * 	OVERWRITES COMMON
 */
.ct-galleries.informative .ctg-headings
{
	height: auto;
}

.ct-logo-title {

	overflow : hidden;

	.ctlt-logo {
		float : left;
	}

	.ctlt-action-wrapper {
		&.bot {
			margin-top : 30px;
		}
	}
}

.ctlt-info {
    float : right;

	.ctlt-title {
		margin : 20px 0 0;
		font-family 	: $font-circular-book;
		font-size   	: em( 30px, $base-font-size );
		text-transform  : uppercase;

		font-weight : normal;
		color : #989898;
	}
}

.ct-list {
	clear : both;
}

.ctlt-logo {
	margin : 0 20px 0 0;
}

.ctlt-button {
	display : block;
	padding : 8px 25px;
	border  : 1px solid $c-black-5;

	border-radius : 5px;
	background 	  : transparent;

	cursor : pointer;
	color 	   : $c-black-5;

	margin : 10px 0 0;
	font-family : $font-circular-book;
	font-size   : em( 14px, $base-font-size );

	text-transform : uppercase;

	.label,
    .label-fav {
		display : inline-block;
		margin  : -6px 5px 0 0;
		vertical-align : middle;
	}

    .label-fav {
        display : none;
    }

	.icomoon-favorite-border,
	.icomoon-favorite {
		font-size : em( 26px, $base-font-size );
        color      : $c-black-5;
		display : inline-block;
	}

	&:hover {
		background   : $c-orange-2;
		border-color : $c-orange-2;
        color        : $c-white;

        .icomoon-favorite-border,
        .icomoon-favorite {
            color : $c-white;
        }
	}

	&.fav {
		&.active {
			background   : $c-orange-2;
			border-color : $c-orange-2;
            color        : $c-white;

			.icomoon-favorite-border:before {
	  			content: "\e901";
			}

			.icomoon-favorite-border,
			.icomoon-favorite {
				color : #D22020;
			}

			&:hover {
				background : $c-orange-2-hover;
			}

            .label-fav {
                display : inline-block;
            }

            .label {
                display : none;
            }
		}
	}
}

@include max-screen( $mq-l )
{
	.ct-expand-list .ce-context
	{
		width: 50%;
		float: none;
	}

	.ct-expand-list .ce-image
	{
		margin : 0 20px 0 0;
	}
}

@include max-screen( 840px )
{
	.ct-expand-list .ce-context
	{
		width: 100%;
	}
}

@include max-screen( 600px )
{
    .ct-logo-title {

        text-align : center;

        .ctlt-logo,
        .ctlt-info {
            float : none;
        }

        .ctlt-logo {

        }
        .ctlt-info {

        }
    }
}
