@import "partials/base";

#categories_content
{
	margin : 60px auto 80px;

	.ct-galleries
	{
		margin : 30px 0 0;
	}

	.ct-gallery-thumbnail
	{
		margin : 30px 0 0;
	}

	.ct-page-header
	{
		h2
		{
			font-size: em( 25px, $base-font-size );
		}
	}

}

.cc-section
{
	padding: 5px 0;
}