@import "partials/base";

.ct-expand-list .ce-context
{
	width: 48%;
}

.ct-listed-date {
    margin-bottom : 15px;
}

.ct-header {
    overflow : hidden;

    .ct-page-header {
        float : left;
    }
    .ct-filter-simple {
        float : right;
    }
}

.select2-results {
    font-size : em( 13px, $base-font-size );
}

.ss2-parent-wrapper .select2-container--default {
    font-size : em( 16px, $base-font-size );
}

@include max-screen( 1240px )
{
	.ct-expand-list .ce-context
	{
		width: 42%;
	}
}

@include max-screen( 1080px )
{
	.ct-expand-list .ce-context
	{
		width: 38%;
	}
}

@include max-screen( $mq-l )
{
	.ct-expand-list .ce-context
	{
		width: 60%;
	}
}

@include max-screen( 840px )
{
	.ct-expand-list .ce-context
	{
		width: 100%;
	}
}


@include max-screen( $mq-m )
{
    .ct-header {
        .ct-filter-simple {
            float : none;
            margin-bottom: 40px;

            .cs-row {
                display : block;
            }

            .select2-container {
                width : 100% !important;
            }
        }
    }

    #ct_filter_form {
        display : block;
    }

    .ct-header .ct-page-header
    {
        float : none;

        margin : 0 auto 20px;
    }
}
