@import "partials/base";

#contest_contents
{
	margin : 65px auto 80px;
}

#contest_form
{



}

.ct-page-header
{
	h2
	{
		font-size: em( 25px, $base-font-size );
	}

	margin : 0 0 30px ;
}

/*
	MOBILE
 */
.ci-mobile-subscribe-btn
{
	display: none;
}

@include max-screen( $mq-xl )
{
	#contest_form .upload-img
	{
		&.mobile
		{
			float : right;
		}
	}

	#contest_form .cf-input
	{
	    -webkit-box-sizing	: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing 	: border-box;    /* Firefox, other Gecko */
	    box-sizing 			: border-box;         /* Opera/IE 8+ */
	}

	/*
		brands owl carousel
	 */
	.ct-owl-carousel .owl-carousel .owl-nav button.owl-next
	{
		top : 27%;
	}
	.ct-owl-carousel .owl-carousel .owl-nav button.owl-prev
	{
		top : 27%;
	}

}

@include max-screen( 1140px )
{
	.sl-right .fd-description
	{
		max-height: 185px;
	}
}

@include max-screen( $mq-l )
{
	#split_layout
	{
		width: auto;
		float: none;
	}

	.sl-right.informative
	{
		float 	: none;
		width 	: auto;

		margin 	: 25px 0 0; 
	}

	.sl-right .fd-description
	{
		max-height: 100%;
	}
}

@include max-screen( $mq-m )
{
	.sl-right
	{
		display: none;
	}

	.sl-right.informative
	{
		display : block;
		float 	: none;
		width 	: auto;

		margin 	: 25px 0 0; 
	}

	#split_layout
	{
		float: none;
		width: 100%;
	}

	.ci-mobile-subscribe-btn
	{
		display: block;

		position: absolute;
		top: 40%;
		left: 23%;

		font-family: $font-circular-book;
		font-size: em( 15px, $base-font-size );
		color : $c-black;

		width: 55%;
		background-color: $c-yellow;
		border: 1px solid $c-yellow;
		padding: 10px 0;
		text-align: center;

		&:hover
		{
			background-color: $c-white;
			color : $c-yellow;
		}
	}


	/*
		brands owl carousel
	 */
	.ct-owl-carousel .owl-carousel .owl-nav button.owl-next
	{
		top : 35%;
	}
	.ct-owl-carousel .owl-carousel .owl-nav button.owl-prev
	{
		top : 35%;
	}

	.ct-galleries .ctg-relative .ctw-subscribe
	{
		top: 43%;
	}

}

@include max-screen( 580px )
{
	/*
		brands owl carousel
	 */
	.ct-owl-carousel .owl-carousel .owl-nav button.owl-next
	{
		top : 33%;
	}
	.ct-owl-carousel .owl-carousel .owl-nav button.owl-prev
	{
		top : 33%;
	}
}

@include max-screen( 460px )
{
	/*
		brands owl carousel
	 */
	.ct-owl-carousel .owl-carousel .owl-nav button.owl-next
	{
		top : 31%;
	}
	.ct-owl-carousel .owl-carousel .owl-nav button.owl-prev
	{
		top : 31%;
	}
}

@include max-screen( $mq-sm )
{

	.ci-mobile-subscribe-btn
	{
		font-size: em( 14px, $base-font-size );
		padding: 8px 0;
	}

	.sl-right .fd-title
	{
		font-size: em( 20px, $base-font-size );
	}

}	