@import "partials/base";

#contact_content
{
	.ct-page-header
	{
		margin: 0 0 42px;
	}	

	@include clearfix;

	padding-top 	: 50px;
	padding-bottom  : 80px;
}

.ct-form
{
	float: left;
}

#captcha_bg
{
	display: block;

	padding: 4px 0 16px;
}


#inquiry_bg
{
	float: right;

	margin : 0 60px 0 0;
}

/*
	MOBILE DEVELOPMENT
 */

@include max-screen( $mq-l )
{

	#inquiry_bg
	{
		display: none;
	}

	#captcha_bg
	{
		margin: 0 auto;
	}

	/*
		title page
	 */

	#contact_content .ct-page-header
	{
		text-align: center;
	}

	.ct-page-header .cph-bar
	{
		margin : 0 auto;
	}

	/**
	 * 	form
	 */
	
	.ct-form
	{
		float : none;
		margin : 0 auto;
	}

	.ct-form .cr-button.f-left
	{
		float: none;
		width: 100%;
	}
}

@include max-screen( 960px )
{
	#inquiry_bg
	{
		display: none;
	}
}

@include max-screen( $mq-m )
{
	#contact_content .ct-page-header
	{
		margin: 40px 0 30px;
	}
}