@import "partials/base";

.contest-cart-image-label
{
	margin : 0 20px 0 0;
	cursor : pointer;
}
.ct-expand-list {
    .ct-listed-date {
        .minor {
        }
    }

    .contest-cart-image-label {
        img {
            border-radius : 5px;
        }
    }
}

.ct-expand-list {
    .ctx-compact {
        margin : 0 0 5px;
    }
}

.ctx-compact {

    overflow : hidden;

    .ctxt-wrapper-left,
    .ctxt-wrapper-right {

    }

    .ctxt-wrapper-left {
        width    : 100%;
        float    : left;
        overflow : hidden;
    }

        .ctxt-img {
            float : left;
        }

        .ce-context {
            width : 65%;
        }

    .ctxt-wrapper-right {
        overflow : hidden;
    }

    .ctxt-left,
    .ctxt-right {
        display : inline-block;
        vertical-align : top;
    }

    .ctxt-left {
        width : 70%;
    }
    .ctxt-right {
        width : 25%;
    }

    .ctx-receipt {
        /*margin : 0;*/
        /*padding : 15px;*/
        /*background : #F7F7F7;*/
    }

    .ctx-receipt-count {
        margin      : 45px 0 0;
        font-family : $font-circular-book;
        font-size   : em( 14px, $base-font-size );
        color       : #888888;
    }
}

@include max-screen( 1180px )
{
    .ctx-compact {

        overflow : hidden;

        .ce-context
        {
            width: 60%;
        }
    }
}


@include max-screen( $mq-l )
{
	.contest-cart-image-label
	{
		margin: 0;

		img
		{
			width  : 45%;
			height : auto;
		}
	}

    .ctx-compact {

        .ctxt-img {
            margin-right : 20px;
        }

        .ce-context {
            float : none;
            margin: 0;
        }

        .contest-cart-image-label img {
            width : 200px;
        }

        .ctxt-wrapper-left {
            float : none;
            width : 100%;
            margin : 0 0 20px;
        }

        .ctxt-wrapper-right {
            &.ctx-receipt {
                .rec {
                    display : inline-block;
                    margin  : 0 20px 0 0;
                }
            }
        }

        .ctx-receipt-count
        {
            margin: 20px 0 0;
        }
    }
}

@include max-screen( 840px )
{
    .ct-expand-list {
        .ct-listed-date {
            .date {
                text-align : center;
                font-size : em( 18px, $base-font-size );
            }
        }
    }

    .ctx-compact 
    {
        .ctxt-img {
            margin-right : 0;
        }

        .contest-cart-image-label img
        {
            width: 90%;
        }

        .ce-context
        {
            margin  : 15px 0 0;
            width   : 100%;
        }
    }

   .ct-expand-list .ct-listed-date .date
   {
        margin: 10px 0 0;
   }
}


@include max-screen( 640px )
{
    .ctx-compact {

        .ctxt-img {
            float : none;
        }

        .ce-context {
            width    : auto;
            display  : block;
            overflow : initial;
        }

        .ctx-receipt-count {
            margin-top : 20px;
        }
    }
}

@include max-screen( 550px )
{
   .ct-page-header {
        .ct-button {
            display: block;
            width  : 100%;
            margin : 0 0 10px;
        }
    }
}

@include max-screen( 480px )
{
    .ct-page-header {
        .cph-right {
            .ctr-button.righted {
                display: block;
            }
        }
    }
}

@include max-screen( 420px )
{
    .ctx-compact {
        .contest-cart-image-label {
            img {
                width : 88%;
            }
        }
    }
}
