@import "partials/fonts";
@import "partials/base";

html, body {
	height : 92%;
	font-family : $font-myriadpro-reg;
}

body {
	background : $c-bg-main-header;
}

#st_outer {
	position  : relative;
	float 	  : left;
	top 	  : 50%;
	left 	  : 50%;
	transform : translate(-50%, -50%);
}

#st_404 {
	text-align : center; 

	.msg,
	.logo,
	.btn {
	}

	.msg {
		margin : 35px 0 0;
		font-size   : em( 26px, $base-font-size ); 
		font-weight : 300; 
		color 	 	: #ffbcba;
		padding : 0 30px;
	}
	.logo {
		text-align : center;
	}
	.btn {
		margin : 25px 0 0;
		a {
			background : $c-orange-2;
			text-decoration : none; 
			padding : 10px 30px;
			border-radius : 3px;
			color : $c-white;

			font-size : em( 18px, $base-font-size );

			&:hover {
				background : $c-orange-2-hover;
			}
		}
	}
}

@include max-screen( $mq-m )
{
	#st_404 {
		.logo {
			img {
				width  : 150px;
				height : auto;	
			}
		}
		.msg {
			font-size : em( 18px, $base-font-size );
		}
		.btn {
			a {
				font-size : em( 16px, $base-font-size );
			}
		}
	}
}

@include max-screen( $mq-sm )
{		
	#st_404 {
		.logo {
			img {
				width : 125px;
			}
		}
	}
}