@import "partials/base";

#forget_pass_content
{
	padding: 50px 10px 80px;
}

#forget_paragraph{

	p
	{
		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size ); 
		padding 	: 0;
		margin 		: 34px 0 24px;  

		line-height : 1.6;
	}

	a
	{
		color: $c-light-blue-4;
	}
}

@include max-screen( $mq-xl )
{
	#forget_pass_content
	{
		padding: 50px 15px 80px;

		text-align: center;
	}

	.ct-page-header .cph-bar
	{
		margin: 0 auto;
	}

}