@import "partials/base";

/*
	home - Guides
 */
#home_guides
{
	background-color : $c-black-5;

	@include clearfix;

	
	/*	
	* HOW TO WIN TITLE
	*/	
	.hg-title
	{
		width 	: 9%;
		float  	: left;
		padding : 18px 0;

		border-right : 1px solid $c-grey;

		.top-txt
		{
			color  		: $c-white;
			font-size 	: em( 21px, $base-font-size );
		}

		.btm-txt
		{
			color  			: $c-white;
			font-size 		: em( 40px, $base-font-size );
			font-weight 	: bold;
			line-height 	: 1;
		}
	}

	/**	
	* OWL CAROUSEL
	*/
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev
	{
		display: none;
	}

	.hg-owl
	{
		margin 	: 20px 0 0;
		@include inline-block();
		width: 90%;
	}

	.hg-info
	{
		text-align: center;
		@include clearfix;

		.hi-numbering
		{
			@include inline-block();

			font-size 	: em( 55px, $base-font-size );
			font-family : $font-timesnewroman;
			font-weight : bold;
			color 		: $c-white;

			line-height: normal;

            margin : 0 0 0 0;
		}

		.hi-description
		{
			@include inline-block();

			margin 	: 10px 0 0 12px;
			
			color 		: $c-white;
			font-family : $font-circular-black;
			font-size 	: em( 15px, $base-font-size );
			font-family : $font-circular-book;

			text-align 	: left;
		}

		.hid-title
		{
			@include inline-block( bottom );

			margin : 0 0 0 7px;
		}


        .hgi-arrow-wrapper {
            display : inline-block;
            margin  : 12px 0 0 0;
        }

        $arrow-width : 11px;

        .hgi-arrow {
        	float: right;
        	margin : 20px 10px 0 0;

            border       : solid #888;
            border-width : 0 $arrow-width $arrow-width 0;
            padding      : $arrow-width;

            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);

            &.third
            {
            	display: none;
            }
        }
	}
}

/*home owl carousel custom prev and next button position*/
.ct-owl-carousel .owl-carousel .owl-nav button.owl-prev,
.ct-owl-carousel .owl-carousel .owl-nav button.owl-next,
{
	top: 35%;
}

/*
	home slider section - 1
 */
#home_slider{
	padding: 40px 43px 45px;

	@include clearfix;
}

.hs-slider{
	float: left;
	width: 64.5%;
}

.hs-img-container
{
	max-width : 820px;
}

.hs-thumbnails
{
	float 	: right;
	width 	: 430px;

	.hst-image
	{
		display: block;

		&.top
		{
			margin: 0 0 20px;
		}
	}
}

#hs_contents{

	width 		: 40%;
	float 		: left;
	padding 	: 15px 0 0;

	h1{
		font-family : $font-circular-book;
		font-size 	: em( 40px, $base-font-size );

		padding 	: 0 0 12px 0;
		margin 		: 0;

		font-weight : normal;
		line-height : 1.2;
	}

	p{
		font-family : $font-circular-book;
		font-size 	: em( 20px, $base-font-size );

		color  		: $c-grey;
		padding 	: 0;
		margin 		: 0;
	}
}

#hs_next_btn{
	font-family : $font-circular-book;
	font-size 	: em( 15px, $base-font-size );

	text-align 		: center;
	background-color: $c-yellow;

	width 			: 72px;
	margin 			: 20px 0 0 0;
	padding 	 	: 4px 0 3px;
	border-radius 	: 3px;
}

/*
	section 2 - contest slider
 */
#favorite_contests
{
	margin: 0 auto 30px;
}

#other_contest{

	width  : 95%;
	margin : 0 auto;

	overflow: hidden;

	ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	li
	{
		width 	: 33%;
		height 	: 90px;
		float 	: left;

		margin  	: 0 0 16px;
		overflow 	: hidden;

		@include clearfix;
	}

	.oc-no-margin
	{
		margin: 0 0 16px;
	}

	.oc-image{
		float: left;
	}

	.oc-info{
		float 	: left;
		width 	: 51%;
		height 	: 100%;
		margin 	: 0 0 0 10px;

		position: relative;
	}

	.oc-title{
		font-family 	: $font-circular-book;
		font-size 		: em( 15px, $base-font-size );
		line-height 	: 1;
		font-weight 	: normal;
		padding 		: 5px 0 2px;
		margin 			: 0;

		a
		{
			font-family 	: $font-circular-book;
			font-size 		: em( 15px, $base-font-size );
			color 			: $c-black;
		}
	}

	.oc-link{
		font-family : $font-circular-book;
		font-size 	: em( 12px, $base-font-size );
		color 		: $c-orange;

		position 	: absolute;
		bottom 		: 0;

		&:hover
		{
			color : $c-blue-2;
		}
	}
}

/*
	section 3 - informative_background
 */

#informative_background{

	position: relative;

	@include clearfix;
	overflow: hidden;

	.ib-background
	{
		position: absolute;
		top 	: 12%;
		left 	: -50%;
		right 	: -50%;
		bottom  : 14%;
		z-index : -1000;

		background-color: $c-home-blue-bg;
		@include transform(rotate(173deg));
	}

	margin: 35px 0 50px;

   /* Full height */
    width 	: 100%;
    height 	: 670px;

    /* Center and scale the image nicely */
    background-position : center;
    background-repeat 	: no-repeat;
    background-size 	: cover;

    @include clearfix;

    .ib-image
    {
    	float: left;

    	margin : 40px 0 0;
    }


    .ib-description
    {
    	float: right;
    	width 	: 49%;
    	margin  : 170px 0 0 32px;

	   .ib-title
	    {
	    	font-family : $font-circular-book;
	    	font-size 	: em( 45px, $base-font-size );
	    	font-weight : normal;
	    	padding 	: 0;
	    	margin 	 	: 0;
	    }

	    .ib-link
	    {
	    	@include inline-block;
	    }

	    ul
	    {
    		margin 	: 0;
    		padding : 20px 0 0 52px;
	    }

    	li
    	{
    		list-style-image: url( $img-site+'yellow-star.png' );

    		font-family 	: $font-circular-book;
    		font-size 		: em( 25px, $base-font-size );
    		color 			: $c-black-3;

    		margin 			: 0 0 15px 0;
    	}
    }
}

/*
	section 4 - brands
 */

#fm_brands{
	padding: 30px 10px 75px;
}

#home_mail_subscribe
{
	background-color : $c-black-5;

	.hm-container
	{
		position 	: relative;
		height 		: 100px;
		text-align 	: center;
	}

	.ico-home-subscribe
	{
		position: absolute;
		bottom 	: 0;
		left 	: 165px;
	}

	.hm-box
	{
		margin : 0 0 0 90px;
		padding: 25px 0 0;
	}

	.hm-row
	{
		@include inline-block( middle );
		text-align: left;

		&.b-fields
		{
			width: 45%;
			margin-left: 30px;
		}

		.txt-title
		{
			color  			: $c-white;
			font-family 	: $font-circular-black;
			font-size 		: em( 18px, $base-font-size );
		}

		.txt-description
		{
			color 		: $c-white;
			font-family : $font-circular-book;
			font-size 	: em( 18px, $base-font-size );
		}

		.inp-subs-email
		{
			@inclunde inline-block( top );

			font-family : $font-circular-book;
			font-size 	: em( 15px, $base-font-size );
			border 		: 1px solid white;
			border-radius: 4px;

			width  		: 70%;
			margin 		: 0 0 0 6px;
			padding 	: 10px;

			::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			    color: $c-grey-4;
			    opacity: 1; /* Firefox */
			}

			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			    color: $c-grey-4;
			}

			::-ms-input-placeholder { /* Microsoft Edge */
			    color: $c-grey-4;
			}
		}

		.inp-btn
		{
			background-color : $c-sub-btn;
			border 		: 1px solid $c-sub-btn;
			padding 	: 10px;

			border-radius 	: 4px;
			margin-left 	: 4px;

			color  			: $c-white;
			font-family 	: $font-circular-black;
			font-size 		: em( 15px, $base-font-size );
		}
	}
}

@include max-screen( $mq-xl )
{
	/*
		home main slider
	 */
	.hs-slider
	{
		width: 64%;
	}

	/*
		home thumbnail
	 */
	.hs-thumbnails
	{
		width: 33.5%;

		.hst-image
		{
			width: 100%;
		}
	}

	#home_mail_subscribe
	{
		padding: 20px 0 0;
	}

	#home_mail_subscribe .hm-row .inp-subs-email
	{
		margin: 0;
	}

	#home_mail_subscribe .hm-box
	{
		position: absolute;
		left: 180px;
		padding: 0;
		width: 60%;
	}

	#home_mail_subscribe .hm-row
	{
		display: block;
	}

	#home_mail_subscribe .hm-row.b-fields
	{
		margin-left: 0;
		width: auto;
	}

}

@include max-screen( $mq-l )
{
	/**
	 * 	home guide 
	 */
 	#home_guides .hg-title
	{
		width: 100px;
	}

	#home_guides .hg-owl
	{
		width: 88%;
	}

	/**
	 * 	HOME SLIDER
	 */
	#home_slider
	{
		padding: 35px 15px;
	}

	.hs-slider
	{
		width : 100%;
		float : none;
	}

	.hs-thumbnails
	{
		float: none;
		width: 100%;

		@include clearfix;

		.hst-image
		{
			@include inline-block;

			width 	: 48%;
			height 	: auto;

			&.top
			{
				margin : 25px 0 0;
				float: left;
			}

			&.btm
			{
				margin : 25px 0 0;
				float: right;
			}
		}
	}

	#fm_brands{
		padding: 20px 15px 75px;
	}

	#informative_background .ib-image
	{
		width: 46%;
		height: auto;
		margin : 50px 0 0;
	}

	#informative_background .ib-description
	{
		width: 48%;
		margin: 150px 0 0;
	}

	#informative_background
	{
		margin: 30px 0 0;
	}

	#home_guides .hg-title.first
	{
		width : 12%;
	}

}

@include max-screen( 960px )
{
	#home_mail_subscribe .hm-row .inp-subs-email
	{
		width: 55%;
	}
}

@include max-screen( 920px )
{
	/**	
	*	HOME GUIDES
	*/
	#home_guides .hg-owl
	{
		width: 80%;
	}

	#informative_background .ib-description .ib-title
	{
		font-size: em( 35px, $base-font-size );
	}

	#informative_background .ib-description li
	{
		font-size: em( 20px, $base-font-size );
	}

	#informative_background .ib-image
	{
		margin: 88px 0 0;
	}
}


@include max-screen( 860px )
{
	#informative_background .ib-image
	{
		margin: 120px 0 0;
	}

	#informative_background .ib-description ul
	{
		padding : 20px 0 0 30px;
	}
}

@include max-screen( 840px )
{
	#other_contest li
	{
		width: 49%;
	}
}

@include max-screen( $mq-m )
{
	#home_mail_subscribe .hm-row .txt-title
	{
		font-size: em( 13px, $base-font-size );
	}

	#home_mail_subscribe .hm-row .txt-description
	{
		font-size: em( 13px, $base-font-size );
	}

	#home_mail_subscribe .hm-row.b-fields
	{
		margin: 8px 0 0;
	}

	#home_mail_subscribe .ico-home-subscribe
	{
		left: 80px;
	}
	#home_mail_subscribe .hm-box
	{
		left: 85px;
	}

	#home_mail_subscribe .hm-row .inp-subs-email
	{
		width: 60%;
	}

	#hs_contents
	{
		float: none;
		display: block;
		width: auto;
		padding: 0;
	}

	#hs_contents h1
	{
		font-size: em( 30px, $base-font-size );
	}

	#hs_contents p
	{
		font-size: em( 16px, $base-font-size );
	}

	#hs_next_btn
	{
		display: none;
	}

	.hs_slider
	{
		float: none;
		display: block;
		width: auto;

		margin : 25px 0 0;
	}

	#other_contest
	{
		padding: 10px 0 0 0;
	}

	#informative_background .ib-description .ib-title
	{
		font-size: em( 30px, $base-font-size );
	}

	#informative_background .ib-description li
	{
		font-size: em( 18px, $base-font-size );
	}

	#informative_background .ib-image
	{
		margin: 150px 0 0;
	}
}

@include max-screen( 620px )
{
	#informative_background .ib-description .ib-title
	{
		font-size: em( 26px, $base-font-size );
	}

	#informative_background .ib-description li
	{
		font-size: em( 16px, $base-font-size );
	}
}

@include max-screen( 580px )
{
	.hs-thumbnails
	{
		.hst-image
		{
			display : block;
			width 	: 100%;

			&.top
			{
				float: none;
			}

			&.btm
			{
				float: none;
			}
		}
	}
}

@include max-screen( 560px )
{
	/**************
	* HOME GUIDES
	*/
	#home_guides .hg-owl
	{
		width: 75%;
	}

	/**************
	*OTHERS
	*/
	#other_contest li
	{
		width: 100%;
		float: none;
		display: block;
	}

	#informative_background .ib-image
	{
		display: none;
	}
	#informative_background .ib-description
	{
		width: 100%;
		float: none;
	}

	#informative_background .ib-description ul
	{
		padding: 20px 0 0 50px;
	}


	#informative_background .ib-description .ib-title
	{
		font-size: em( 35px, $base-font-size );
	}

	#informative_background .ib-description li
	{
		font-size: em( 22px, $base-font-size );
	}


	#home_mail_subscribe .ico-home-subscribe
	{
		left: 40px;
	}
	#home_mail_subscribe .hm-box
	{
		left: 45px;
	}

	#home_mail_subscribe .hm-row .inp-subs-email
	{
		width: 50%;
	}
}

@include max-screen( $mq-sm )
{
	#hs_contents
	{
		text-align: center;
	}

	#home_guides 
	{
		.hg-title
		{
			width: 85px;
			padding : 15px 0;
		}

		.hg-title .top-txt
		{
			font-size: em( 19px, $base-font-size );
		}

		.hg-title .btm-txt
		{
			font-size: em( 32px, $base-font-size );
		}

		.hg-owl
		{
			margin: 10px 0 0;
		}

		.owl-carousel .owl-nav
		{
			position: absolute;
			right: 0;
			top: 0;
		}
	}

}

@include max-screen( 420px )
{
	#home_mail_subscribe .hm-row .inp-subs-email
	{
		width: 45%;
	}

	#home_mail_subscribe .hm-row .inp-btn
	{
		font-size: em( 13px, $base-font-size );
		padding: 10px 5px;
		margin-left: 2px;
	}

	#home_mail_subscribe .ico-home-subscribe
	{
		left: 20px;
	}

	#home_mail_subscribe .hm-box
	{
		left: 25px;
	}

	#informative_background .ib-description .ib-title
	{
		font-size: em( 30px, $base-font-size );
	}

	#informative_background .ib-description li
	{
		font-size: em( 18px, $base-font-size );
	}

}

@include max-screen( 400px )
{
	#home_mail_subscribe .ico-home-subscribe
	{
		display: none;
	}

	#home_mail_subscribe .hm-box
	{
		margin: 0;
		width: auto;
		left: 0;
		position: initial;
	}

	#home_mail_subscribe .hm-row .inp-subs-email
	{
		width: 60%;
	}

	/**
	* HOME GUIDES
	*/
	#home_guides .owl-carousel .owl-nav button.owl-next span
	{
		right: -12px;
	}
	
	#home_guides 
	{
		.hg-title
		{
			width: 65px;
			padding : 15px 0;
		}

		.hg-title .top-txt
		{
			font-size: em( 15px, $base-font-size );
		}

		.hg-title .btm-txt
		{
			font-size: em( 26px, $base-font-size );
		}
		.hg-owl
		{
			margin 	: 5px 0 0;
			width 	: 75%;
		}

		.hg-info .hgi-arrow
		{
			margin: 24px 10px 0 0;

            border-width : 0 6px 6px 0;
            padding      : 9px;
		}

		.hg-info 
		{
			.hid-title
			{
				font-size: em( 15px, $base-font-size );
			}

			.hid-description
			{
				font-size: em( 14px, $base-font-size );
			}
		}
	}
}

