@import "partials/base";

#information_content
{
	margin : 65px auto 80px;

	.ct-panel .ct-panel-nav li a
	{
		width: 180px;
	}
}

#page_information
{
	padding: 35px 42px 60px 40px;

	h1
	{
		margin-bottom : 20px;
		font-family : $font-circular;
		font-weight : bold;
		padding 	: 0; 
	}

	h2,h3,h4,h5,h6
	{
		font-family : $font-circular;
		font-weight : bold;
		margin 		: 4px 0;
		padding 	: 0; 
	}

	p
	{
		font-family : $font-circular-book;
		line-height : 1.7; 
		margin 		: 5px 0 25px;
		font-size 	: em( 15px, $base-font-size ); 
	}

	ul
	{
		margin-top : -10px;

		ul
		{
			margin-top : 15px;
		}
	}

	li
	{
		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size ); 
	}
}
