@import "partials/base";

#page_headings
{
	text-align: center;

	.title
	{
		font-family 	: $font-circular-book;
		font-size 		: em( 24px, $base-font-size );

		a
		{
			color: $c-orange-2;
		}
	}

	.paragraph
	{
		font-family 	: $font-circular-book;
		font-size 		: em( 16px, $base-font-size );
	}
}

.t-table
{
	margin: 0 auto;

	.row-data
	{
		-webkit-box-shadow: 6px 5px 15px 0 rgba(229,230,234,0.7);
		-moz-box-shadow: 6px 5px 15px 0 rgba(229,230,234,0.7);
		box-shadow: 6px 5px 15px 0 rgba(229,230,234,0.7);

		font-family 	: $font-circular-book;
		color 			: $c-black-3;
		font-size 		: em( 16px, $base-font-size );

		margin 	: 0 0 15px; 

		&.greyed
		{
			background: #F7F7F7;
		}
	}

	.title
	{
		color: $c-blue;
		font-size: em( 12px, $base-font-size );
	}

	.column
	{
		@include inline-block(top);

  		word-break: break-all;

  		padding : 15px 0;
		width: 30%;

		&.numbering
		{
			width: 5%;
			text-align 	: center;
			color 		: $c-blue;
		}
	}

	.mobile-data
	{
		display: none;
	}
}

.description
{
	margin 		: 40px 0 0; 
	text-align 	: center;
	font-family : $font-circular-book;
	font-size 	: em( 22px, $base-font-size );
}

@include max-screen( $mq-sm )
{
	.t-table .column.numbering
	{
		width: 10%;
	}

	.t-table .column
	{
		width: 40%;
	}

	.t-table .mobile-data
	{
		display: block;

		margin: 10px 0 0;
	}

	.column.phone
	{
		display: none;
	}
}