@import "partials/base";


#content_wrapper {

    border-top : 2px solid $c-orange-2;
    width  : 600px;
    margin : 0 auto;

    background-color : #FFF;
    border-top       : 4px solid #FF8000;

    -webkit-box-shadow  : 2px 4px 10px 0px #bdbdbd;
    -moz-box-shadow     : 2px 4px 10px 0px #bdbdbd;
    box-shadow          : 2px 4px 10px 0px #bdbdbd;
}

.db-detail {
    padding    : 30px 30px 35px;
    overflow   : hidden;

    .head-title {
        margin      : 0 0 20px;
        font-size   : em( 20px, $base-font-size);
        font-weight : normal;
        font-family : $font-circular-book;
    }

    .img {
        margin : 0 15px 0 0;
        float  : left;

        img {
            border-radius : 5px;
        }
    }

    .content {
        overflow : hidden;

        .metadata {
            .brand,
            .sep,
            .icons {
                display         : inline-block;
                vertical-align  : middle;

                color           : $c-black-5;
                font-family     : $font-circular-book;
                font-size       : em( 13px, $base-font-size );
                margin          : 2px 0 0 0;
                text-transform  : uppercase;
                font-weight     : normal;
            }

            .brand
            {
                a
                {
                    color: $c-expand-brand-txt;

                    &:hover {
                        text-decoration : underline;
                    }
                }
            }

            .sep {
                margin : -5px 0 0;
            }
        }
    }


    .title
    {
        margin          : 3px 0 0;
        font-family     : $font-circular-book;

        a
        {
                color       : $c-black;
                font-family : $font-circular-book;
                font-size   : em( 22px, $base-font-size );
        }
    }

    .paragraph
    {
        font-weight     : normal;
        font-family     : $font-circular-book;
        font-size       : em( 16px, $base-font-size );
    }

    .status {
        margin-top : 15px;

        .info {
            display     : inline-block;
            padding     : 7px 20px;
            font-size   : em( 13px, $base-font-size );

            color       : $c-expand-status-txt;
            font-family : $font-circular-book;

            background-color    : $c-expand-status-grey;
            border-radius       : 4px;

            &.blue
            {
                background-color    : $c-expand-status-blue;
            }

            &.yellow
            {
                background-color    : $c-expand-status-orange;
                color               : $c-white;
            }

            &.black
            {
                background-color    : $c-black-4;
                color               : $c-white;
            }
        }
    }
}

.db-content {

    padding : 0 0 40px;

    .body-title {
        margin      : 0 0 0;
        font-size   : em( 18px, $base-font-size);
        font-weight : normal;
        font-family : $font-circular-book;

        padding    : 0 20px 0;

        .cph-bar {
                margin  : 3px 0 0;
                width   : 50px;
                height  : 3px;
                display : block;
                background-color : #FF8000;
        }
    }

    .list {
        margin     : 0;
        padding    : 0;
        list-style : none;

        .item {
            margin : 0 30px;
            padding : 20px 0 20px;
            border-top : 1px solid $c-hr-line;

            &:last-child {
                padding-bottom : 0;
            }

            .date {
                font-family : $font-circular-book;
                font-size   : em( 15px, $base-font-size );
            }

            .name {
                font-family : $font-circular-book;
                font-size   : em( 14px, $base-font-size );

                a {
                    color       : #3990C3;

                    &:hover {
                        color : $c-orange-2;
                    }
                }
            }
        }
    }

    .ct-no-data {
        border-top : 1px solid $c-hr-line;
        padding    : 30px 0 0;
        margin     : 0 30px;
        font-size  : em( 19px, $base-font-size );
    }
}

.cm-box
{
    width   : 190px;
    padding : 7px 10px 5px;

    color       : $c-expand-status-txt;
    font-family : $font-circular-book;
    font-size   : em( 15px, $base-font-size );
    text-align  : center;

    border-radius: 2px;

    &.blue
    {
        background-color    : $c-expand-status-blue;
    }

    &.orange
    {
        background-color    : $c-expand-status-orange;
        color               : $c-white;
    }

    &.black
    {
        background-color    : $c-black-4;
        color               : $c-white;
    }
}

@include max-screen( 600px )
{
    #content_wrapper {
        width : 95%;
    }

    .db-detail {
        .content {
            .metadata {
                .brand,
                .sep,
                .icons {
                    font-size : em( 13px, $base-font-size );
                }
            }
        }
    }
}

@include max-screen( 560px )
{
    .db-detail {
        padding-left : 20px;
        padding-right : 20px;

        .img {
            margin : 0 0 15px;
            float  : none;

            img {
                width  : 100%;
                height : auto;
            }
        }

        .content {
            .metadata {
                .brand,
                .sep,
                .icons {
                    font-size : em( 14px, $base-font-size );
                }
            }
        }

        .status {
            .info {
                display    : block;
                text-align : center;
                font-size  : em( 14px, $base-font-size );
            }
        }
    }

    .db-content {
        .item {
            margin : 0 20px;
        }

        .ct-no-data {
            margin     : 0 20px;
        }
    }
}

@include max-screen( 380px )
{
    .db-content {
        .list {
            .item {
                .date {
                    font-size : em( 14px, $base-font-size );
                }

                .name {
                    font-size : em( 13px, $base-font-size );
                }
            }
        }
    }
}
