/* Partials */
@import "partials/fonts";

/* Style Configuration */
@import "partials/base";
@import "partials/common";
@import "partials/sprite";

html,
body {
    height     : 100%;
}

body {
	background : white;
}
/*---------------------------------------------------------------*/

/* ============================================
/* Body
/* ============================================*/
#st_body{
	padding-bottom 	: 364px;
}

.st-body
{
	@include bg-img( 'bg-blue.png' );

	background-position : top right;

	&.bg-thropy
	{
		@include bg-img( 'bg-thropy.png' );
		background-position : top right;
	}

	&.bg-light-blue{
		@include bg-img( 'bg-light-blue.png' );
		background-position : top right;
	}
}

.st-lower
{
	padding-bottom: 75px !important;
}

/*---------------------------------------------------------------*/

/* ============================================
/* Header
/* ============================================*/
#st_search_bar
{
	margin-left : 25px;
	padding 	: 0 5px 0 10px;

	border 			 : 1px solid white;
	border-radius 	 : 4px;
	background-color : $c-white;

	width : 275px;

	.typeahead__button
	{
		display: none;
	}

	.typeahead__field
	{
		@include inline-block;
		width : 85%;
	}

	.typeahead__dropdown, .typeahead__list
	{
		margin: 0;
		padding: 0;
	}

}

.typeahead__list>.typeahead__group>a
{
	background-color: #e8e8e8;
	color : #a9a9a9;
	font-weight: normal;
	padding : 7px 13px 6px;

	border : 1px solid #e8e8e8;

	&:hover
	{
		padding : 7px 13px 6px;
		background-color: #e8e8e8;
		color : #a9a9a9;
	}
}

.typeahead__container *
{
	color : $c-grey;
}

.typeahead__display
{
	strong
	{
		color : $c-black;
		font-weight: normal;
	}
}

#st_search_input
{
	font-family : $font-circular-book;
	font-size 	: em( 15px, $base-font-size );
	border 		: 1px solid white;

	/*width  		: 85%;*/
	margin 		: 0 0 0 6px;
	padding 	: 0;

	outline : none;

	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	    color: $c-grey-4;
	    opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	    color: $c-grey-4;
	}

	::-ms-input-placeholder { /* Microsoft Edge */
	    color: $c-grey-4;
	}

}

#st_header{
	background-color : $c-bg-main-header;
}

#st_wrapper_nav
{
	@include clearfix;
	position 	 	: relative;
	padding  		: 0 43px;
}

#st_logo{
	@include inline-block();
}

#st_search_form
{
	@include inline-block();
}

#st_page_title{
	position 	: absolute;
	left 		: 120px;
	bottom 		: 0;

	font-family 	: $font-circular-book;
	font-size 		: em( 25px, $base-font-size );
	border-bottom 	: 4px solid $c-page-header;
}

/*
	NAVIGATION AND MOBILE
 */

.st-mobile-menu-strip{
	float 	: right;
	margin 	: 10px 0 0;
	cursor  : pointer; 

	&.inside
	{
		margin : 24px 16px 0 0;
	}

	.line-bar{
		background-color : $c-white;
		border : 1px solid $c-white;
		width  : 30px;
		height : 2px;
		margin : 0 0 5px;
	}
}

.smm-box
{
	.st-mobile-menu-status
	{

		text-align: center;
		margin : 0 0 16px;

		.sts-button
		{
			@include inline-block;
			width: 38%;
			background-color: $c-white;

			border : 1px solid $c-white;

			font-family: $font-circular-book;
			font-size: em( 15px, $base-font-size );
			color : $c-black;

			border-radius: 4px;
			padding: 7px 8px;

			&:hover
			{
				background-color : $c-red;
				color : $c-white;
			}
		}
	}
}

#st_mobile_menu_status {
    li {
        border-bottom   : 0;
        display         : inline-block;
    }
}


/*
	MOBILE
 */

#st_navigation_mobile
{
	display: none;
	@include clearfix;
}

#st_mobile_top_container
{
	position 		 : relative;
	height 			 : 100px;
	background-color : $c-mobile-menu;
}

$mobile-menu-li-padding : 16px 20px 8px;
.st-mobile-menu{
    height  : 100%;
    width 	: 0;

    position: fixed;
    z-index : 1000;

    width : 300px;

    top 	: 0;
    right 	: 0;

    overflow-x: hidden;

	background-position : top right;
	background-size 	: contain;

	background-color : $c-mobile-menu;

    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    transition: transform 250ms ease-in-out;

	.logged-member-mobile
	{
		.member-name
		{
			padding: 9px 20px;
		}
		a
		{
			padding: 9px 0 9px 35px;
		}
	}

	.smm-box
	{
		padding: 30px 10px 0;

		.title-menu
		{
			padding 		 : 4px 0 2px;
			text-align 		 : center;

			font-family 	: $font-circular-book;
			font-size 		: em( 17px, $base-font-size );
			color 			: #ADADAD;
		}

        ul {
            margin : 0;
            padding : 0;
            list-style-type : none;
        }

		li
		{
			display         : block;
			transition: 0.3s;

			border-bottom 	: 1px solid white;

            a {
                padding         : $mobile-menu-li-padding;
                display : block;
                font-family: $font-circular-book;
                font-size: em( 15px, $base-font-size );
                color : $c-white;

                text-decoration: none;
            }
		}
	}

}

.st-mobile-menu a:hover {
    color: #f1f1f1;
}

.st-mobile-menu .closebtn {
    position: absolute;
    top: 16px;
    right: 24px;
    font-size: 36px;
    margin-left: 50px;
}

#smmb_account {
    color   : $c-white;
    border  : 0;
    padding : 0;
    border-bottom   : 1px solid $c-white;
    cursor  : pointer;

    .account-trigger {
        padding         : $mobile-menu-li-padding;

        font-family     : $font-circular-book;
        font-size       : em( 14px, $base-font-size );

        .at-arrow {
            border        : solid $c-white;
            border-width  : 0 3px 3px 0;
            display       : inline-block;
            padding       : 3px;
            float         : right;

            transform           : rotate(45deg);
            -webkit-transform   : rotate(45deg);
        }

        &.shown {
            .at-arrow {
                margin : 5px 0 0;
                transform           : rotate(-135deg);
                -webkit-transform   : rotate(-135deg);
            }
        }
    }

    li {
        border-bottom : 0;

        a {
            padding-left : 40px;
            font-family: $font-circular-book;
            font-size: em( 15px, $base-font-size );
            color : $c-white;

            text-decoration: none;
        }

        &:last-child {
            a {
                padding-bottom : 12px;
            }
        }
    }

    .smmba-wrapper {
        display : none;
    }
}

/*
	END MOBILE
 */
#st_logo_search
{
	float: left;
}

#st_navigation{

	float 		: right;
	line-height : 96px;

	ul
	{
		list-style-type: none;
		padding 	: 0;
		margin  	: 0;
	}

	li
	{
		@include inline-block;

		padding 	: 0 10px;

		a{
			font-family : $font-circular-book;
			font-size 	: em( 15px, $base-font-size);
			color 		: $c-white;

			text-decoration : none;
		}
	}

	.login-btn{
		font-family : $font-myriadpro-reg;
		font-size 	: em( 15px, $base-font-size );

		background-color: $c-black-5;
		padding 		: 12px 16px 8px;
		border-radius 	: 6px;
		color 			: $c-white;

		&:hover
		{
			background-color : $c-orange-3;
			color 			 : $c-white;
		}
	}

	/*
		DROP DOWN navigation
	 */
	.st-navigation-member
	{
		position: relative;

		/*
			fix line-height 98px in top nagiation set to normal
		 */
		line-height: normal;

		.stm-icon
		{
			float 	: right;
			cursor 	: pointer;
		}

		&:hover
		{
			.st-navigation-dropdown
			{
				display: block;
			}
		}
	}

	.st-navigation-dropdown
	{
		display 	: none;
		position 	: absolute;
		 z-index 	: 100;
		 top 		: 32px;
		 right 		: 12px;


		width 		: 170px;
		border-top  : 6px solid $c-dropdown-border-top;

		padding 	: 0;
		margin 		: 0;

		li
		{
			padding 		: 0;
			text-align 		: right;

			.f-greyed
			{
				color: $c-grey-4;
			}

			a
			{
				display 	: block;
				padding 	: 12px 20px 8px 0;
				width 		: 150px;

				background-color: $c-dropdown-bg;

				color : $c-black-2;

				&:hover
				{
					background-color : $c-dropdown-hover;
				}
			}
		}
	}

}



/*---------------------------------------------------------------*/

/* ============================================
/* Footer
/* ============================================*/
#st_outer {
	min-height : 100%;
	position : relative;
}

#st_footer{
    position   : absolute;
    bottom     : 0;
    right      : 0;
    left       : 0;
}
/*
	footer for complete big in home and horizontal
 */
#st_footer_full
{
	padding 			: 64px 0 100px;
	background-color 	: $c-footer-bg;
	min-height 			: 200px;

	.st-container
	{
		@include clearfix;
	}
}

#st_footer_min
{
	padding 	: 20px 43px;

	ul
	{
		list-style-type : none;
		margin 			: 0;
		padding 		: 0;
	}

	li
	{
		@include inline-block;
	}

	.stm-copy
	{
		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size );

		margin 		: 0 60px 0 0;
	}

	.stm-link
	{
		margin : 0 10px 0 0;

		a{
			font-family : $font-circular-book;
			font-size 	: em( 13px, $base-font-size );
			color  		: $c-grey-2;

			text-decoration: none;

			&:hover
			{
				color : $c-blue;
			}
		}

	}
}
/*
	end
 */



#footer_brand{
	float 	: left;
	margin 	: 0 88px 0 0;
}

#footer_copyright{
	font-family : $font-circular-book;
	font-size 	: em( 13px, $base-font-size );
	color  		: $c-black-5;

	margin : 9px 0 0 0;
}

#footer_links{

	float: left;
	width: 60%;

	.fl-columns
	{
		@include inline-block(top);

		width: 30%;

		&.col-2
		{
			width: 66%;

			li
			{
				@include inline-block(top);
				width: 46%;
				padding : 0 8px 8px 0;
			}
		}

		padding : 0 20p 0 0x;

		ul{
			list-style-type : none;
			padding 		: 0;
			margin 	 		: 0;
		}

		li{
			padding : 0 0 8px;
			display: block;
		}

		.fl-txt{
			font-family : $font-circular-book;
			font-size 	: em( 13px, $base-font-size );

			a{
				color : $c-black;
			}
		}
	}

	.fl-rows{

		@include inline-block(top);

		ul{
			list-style-type : none;
			padding 		: 0;
			margin 	 		: 0;

			width 	: 140px;
		}

		li
		{
			margin  : 0;
			padding : 2px 0;
		}

		.fl-title{
			font-family : $font-circular;
			font-weight : bold;
			font-size 	: em( 13px, $base-font-size );
		}

		.fl-txt{
			font-family : $font-circular-book;
			font-size 	: em( 13px, $base-font-size );

			a{
				color : $c-black;
			}
		}
	}

}

#footer_social_network
{
	float: right;

	.fsn-row{
		font-family 	: $font-circular;
		font-weight 	: bold;
		font-size 		: em( 13px, $base-font-size );

		@include inline-block( top );
		padding: 0 7px;

		cursor : pointer;

		filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(100%);

		&:hover
		{
			filter: grayscale(0%);
			-moz-filter: grayscale(0%);
			-ms-filter: grayscale(0%);
			-o-filter: grayscale(0%);
			filter: none ; /* IE6-9 */
			zoom:1; /* needed to trigger "hasLayout" in IE if no width or height is set */
			-webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
		}

	}
}

/* ============================================
/* MEDIA QUERY
/* ============================================*/

@include max-screen( $mq-xl )
{
	#st_wrapper_nav
	{
		padding: 0 25px;
	}

	/*
		navigation
	 */
	#st_search_bar
	{
		width: 250px;
	}

	/**
	 * padding bottom on mobile
	 */
	.st-lower
	{
		padding : 0 !important;
	}

}

@include max-screen( 1280px )
{
	/*
		navigation
	 */
	#st_navigation
	{
		display: none;
	}

	#st_navigation_mobile
	{
		display: block;
		position: absolute;
		top 	: 30px;
		right 	: 40px;
	}

	/*
		navigation
	 */
	#st_search_bar
	{
		width: 350px;
	}
}

@include max-screen( $mq-l )
{
	#footer_brand
	{
		margin: 0 68px 0 0;
	}

	#footer_social_network .fsn-row.connect
	{
		display: block;
		margin: 0 0 8px;
	}

	#footer_links .fl-rows
	{
		padding: 0;
	}

	/*
	FOR BOTTOM FOOTER PEDDING
	 */
	#st_body
	{
		/*padding-bottom: 77PX;*/

		padding-bottom: initial;
	}

	#st_footer_full
	{
		padding : 35px 0 50px;
	}

	#st_footer
	{
		position: initial;
	}

	/* ============================================
	/* footer on mobile display low screen below 820px
	/* ============================================*/

	#footer_onmobile_head
	{
		display: block;
		@include clearfix;
	}

	/*
		footer
	 */
	#footer_copyright_mobile
	{
		/*display: block;*/
	}

	#footer_brand
	{
		margin: 0;
	}

	#footer_copyright
	{
		/*display: none;*/
	}

	#footer_social_network .fsn-row.connect
	{
		/*display: none;*/
	}

	#footer_links
	{
		/*display: none;*/

		float: none;
		width: 100%;
		margin: 20px 0 0;

		.fl-columns
		{

			&.col-2
			{
				li
				{
					padding: 8px 0;
					margin: 0 15px 0 0;
				}
			}

			li
			{
				border-bottom: 1px dashed $c-black-5;

				padding: 8px 0;
			}
		}
	}

/*	#st_footer_full
	{
		padding 	: 30px 0 25px;
		min-height 	: 25px;
	}*/
}

@include max-screen( $mq-l )
{
	#st_footer_min
	{
		padding : 0 15px 50px;
	}

	#st_footer_min .stm-link
	{
		display: block;
		padding: 8px 0;
		border-bottom: 1px dashed $c-black-5;
	}
}

@include max-screen( $mq-m )
{
	#st_wrapper_nav
	{
		padding : 0 20px;
	}

	#st_page_title
	{
		font-size: em( 22px, $base-font-size );
	}

	/*set footer full column link*/
	#footer_links .fl-columns.col-2
	{
		width: 50%;

		margin: 0 15px 0 0;

		li
		{
			width: 100%;

			padding: 8px 0;
		}
	}

	#footer_links .fl-columns
	{
		width: 45%;
	}

}

@include max-screen( 680px )
{
	#st_search_bar
	{
		display: none;
	}
}

@include max-screen( $mq-sm )
{
	#st_page_title
	{
		font-size: em( 20px, $base-font-size );
	}

	#footer_links .fl-columns.col-2
	{
		width: 100%;
	}

	#footer_links .fl-columns
	{
		width: 100%;
	}

}

@include max-screen( 380px )
{
	#st_wrapper_nav
	{
		padding: 16px 15px 14px;
	}
}

