@import "partials/base";

#promotions_content
{
	margin : 60px auto 80px;
}

.ct-galleries .ctg-relative .ctw-title
{
	top: 0;
	bottom: auto;

	background-color: #FFDFBF;
}

.ct-galleries
{
	img
	{
		width: 100%;
	}
}
