@import "partials/base";

.display-code-data
{
    font-size       : em( 26px, $base-font-size );

    text-align: center;
    font-weight: bold;

    padding: 0 0;
}

.ct-list-breadcrumb
{
	padding: 0;
	margin: 0;
	.box
	{
		@include inline-block;
		margin: 2px;
	}

	.link
	{
		border-radius: 3px;
		padding: 3px 10px;
		background-color : $c-orange;

		color : $c-white;
		font-size: em( 14px, $base-font-size );

		&:hover
		{
			background-color : $c-blue;
		}
	}
}
