@import "partials/base";

/**
 * PAGE - RECEIPT UPLOAD
 */
#page_receipt_upload
{
	width: 500px;
	margin: 0 auto;

    .ct-no-data {
        margin    : 30px 0 35px;
        font-size : em( 16px, $base-font-size);
    }

	.fd-background-upload
	{
		margin: 0 auto 15px;
	}

    .fd-main-title
    {
        font-weight : normal;
        font-family : $font-circular-book;
        font-size   : em( 17px, $base-font-size );
        text-align: center;

        margin : 0 0 22px;
    }

	.upload-panel
	{
		padding: 40px 20px;

		background-color: $c-white;

		@include clearfix;

		border-top  : 4px solid $c-panel-content-border;
		/*
			shadow outline box
		 */
		-webkit-box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);
		-moz-box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);
		box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);

        .ct-error-info {
            text-align    : center;
            margin-bottom : 10px;
        }
	}

	.upload-img
	{
		text-align: center;

		font-family : $font-circular-book;
		font-size 	: em( 13px, $base-font-size );
		color 		: $c-black-2;
		cursor 		: pointer;
		padding 	: 45px 0 30px;

		.ico-receipt-upload
		{
			margin: 0 auto 6px;
		}

		.ico-receipt-question
		{
			margin : 6px auto 0;
		}
	}

	.ct-form
	{
		text-align: center;
		margin : 0 auto;
	}

	.title
	{
		text-align: left;
		font-family : $font-circular-book;
		font-size: em( 16px, $base-font-size );
		color : $c-black-2;

		margin : 30px 0 -5px;
	}

	.ct-error-info
	{
		margin : 0;
	}

	.guidance
	{
		text-align 	: left;
		margin 		: 25px 0 0;
		color 	 	: $c-black-2;
		font-family : $font-circular-book;
		font-size 	: em( 13px, $base-font-size );
	}

	.ct-form .cr-button
	{
		width: 100%;
	}

	.cr-checkbox
	{

		text-align: left;
		padding: 0 0 40px;
		margin: 0;
		list-style-type: none;

		li
		{
			padding: 15px 0;

			.brand
			{
				color : $c-grey;
				margin: 0 0 5px;
				display: block;
				font-size: em( 14px, $base-font-size );
				font-family : $font-circular-book;
			}
		}

		input[type=checkbox].css-checkbox + label.css-label
		{
			font-family : $font-circular-book;
			font-size: em( 15px, $base-font-size );
			color  	 : $c-black-2;
		}

		.label-name
		{
			display 	: block;

			font-family : $font-circular-book;
			font-size 	: em( 15px, $base-font-size );
			color  	  	: $c-black-2;

			margin : 0 0 0 20px;
		}

		.chance-upload
		{
			font-family : $font-circular-book;
			font-size: em( 14px, $base-font-size );
			color  	 : $c-orange-2;

			margin : 0 0 0 20px;
		}
	}

}

.upload-receipt-wrapper {

    display : none;

    &.first {
        display : block;
    }

    .fd-img-preview {
        width  : 100%;
        height : auto;
        margin : 0 0 10px;
    }

    .fd-img-preview-wrapper {
        display  : none;
        position : relative;

        .remove {

            cursor : pointer;

            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.7);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

            position : absolute;
            top  : 0;
            left : 0;

            color : $c-white;
            padding : 5px 10px;

            &:hover {
                background : #FF3434;
                background : #FF3434B3;
            }
        }
    }
}


@include max-screen( $mq-m )
{
	#page_receipt_upload
	{
		width: 100%;
	}
}
