@import "partials/base";

#register_content
{
	margin: 65px auto 70px;

	@include clearfix;
}

#register_container_box
{
	/*background-color : #EFF2F6;*/
	@include clearfix;
}

.with-background
{
	@include bg-img( 'banner-signup.jpeg');

	background-size 	: contain;
	background-position : center center;

	display: block;
	overflow: hidden;

	&.login{
		height: 479px;
	}

	&.register
	{
		height: 614px;

	}
}

.ct-error-info
{
	margin-bottom : 10px;
}

.ct-facebook-button
{
	background-color : rgb( 58, 89, 152 );

	width 	: 100%;
	padding : 5px 0;
	cursor 	: pointer;

	border-radius : 3px;

	@include clearfix;

	.ico-facebook
	{
		float: left;
		margin-left: 8px;
	}

	.text
	{
		margin   	: 3px 0 0 25px;
		font-family : $font-circular-book;
		font-size 	: em( 14px, $base-font-size );
		color 	  	: $c-white;
		font-weight : 400;
		text-align 	: center;
	}
}

#register_form_box
{
	float: left;
	background-color: $c-white;

	border-top 	: 4px solid $c-orange-2;
	width 	 	: 240px;
	padding 	: 30px 30px 42px;

	/*
		shadow outline box
	 */
	-webkit-box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);
	-moz-box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);
	box-shadow: 2px 4px 10px 0px rgba(189,189,189,1);

	h1{
		font-weight : normal;
		font-family : $font-circular-book;
		font-size  	: em( 17px, $base-font-size );

		color : $c-black-2;

		text-align: center;
	}
}

#rb_box
{
	text-align: center;

	.rb-checkbox
	{
		height 	: 40px;
		margin 	: 0 0 30px;
		.css-label
		{
			text-align: left;
			font-family : $font-circular-book;
			font-size 	: em( 13px, $base-font-size );
			color 		: $c-black-2;

			a{
				color : $c-blue-3;

				&:hover
				{
					color : $c-blue-2;
				}
			}
		}
	}

	.rb-row
	{
		margin : 0 0 12px 0;

		&.box
		{
			border : 1px solid $c-grey-3;
		}

		&.align-left
		{
			text-align: left;
		}


		.css-label
		{
			font-family : $font-circular-book;
			font-size 	: em( 14px, $base-font-size ) !important;

			color : $c-black-5;
		}

	}

	.rb-input
	{
		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size );

		margin  : 0 0 0 12px;
		padding : 10px 5px;
		border 	: none;
		outline : none;

		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		    color: $c-placeholder;
		    opacity: 1; /* Firefox */
		}

		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		    color: $c-placeholder;
		}

		&::-ms-input-placeholder { /* Microsoft Edge */
		    color: $c-placeholder;
		}

	}

	.rb-button
	{
		font-family : $font-circular-book;
		font-size 	: em( 17px, $base-font-size );

		width 				: 100%;
		padding 			: 9px 0;
		border  	 		: 1px solid $c-black-5;
		background-color 	: $c-black-5;
		color 				: $c-white;

		&:hover
		{
			background-color : $c-orange-2;
			color 			 : $c-white;
			border 			 : 1px solid $c-orange-2;
		}
	}

	.rb-or-line
	{
		margin: 25px 0 22px;
	}

	.rb-login
	{
		font-family : $font-circular-book;
		font-size 	: em( 16px, $base-font-size );
		color 		: $c-black-2;
		margin 		: 14px 0 0;
		text-align 	: left;

		a{
			text-decoration : none;
			color  			: $c-blue;

			&:hover
			{
				color : $c-blue-2;
			}
		}
	}
}

#check_promotion {

    &.rb-checkbox {
        height : auto;
    }

    .css-label {
    }

    .cp-box {
        margin : 5px 0 20px;
        text-align : left;
    }

    .cpb-checkbox {
        margin  : 0 20px 0 0;
        display : inline-block;
    }
}

#winner_thropy_bg
{
	float: left;

	margin : 20px 0px 0 250px;
}

@include max-screen( $mq-l )
{
	.with-background.login,
	.with-background.register
	{
		height: auto;
	}

	#register_content
	{
		padding : 45px 15px 70px;
	}

	#winner_thropy_bg
	{
		float : right;
		margin: 20px 60px 0 0;
	}

	#register_form_box
	{
		float: none;

		width: 50%;
		margin: 0 auto;

		padding : 30px 30px 42px;
	}

	.with-background
	{
		background: none;
	}

	#rb_box .rb-row.box
	{
		text-align 	: left;
		padding 	: 0 0 0 12px;
	}

	#rb_box .rb-input
	{
		width: 80%;
	}

}

@include max-screen( 860px )
{
	#winner_thropy_bg
	{
		float : right;
		margin: 20px 10px 0 0;
	}
}

@include max-screen( 760px )
{
	#register_container_box
	{
		background-color: $c-white;
	}

	#winner_thropy_bg
	{
		display: none;
	}
}

@include max-screen( $mq-m )
{

	#register_form_box
	{
		width: 60%;
	}
}

@include max-screen( 500px )
{
	#register_form_box
	{
		width: 72%;
	}
}

@include max-screen( 380px )
{
	#rb_box .rb-or-line
	{
		width: 100%;
		height: auto;
	}
	.rb-fb-img
	{
		width: 100%;
		height: auto;
	}

	.rb-row
	{
		.ico-register
		{
			display: none;
		}
	}

	#rb_box .rb-input
	{
		margin: 0;
	}

    #check_agree {
        &.rb-checkbox {
            height : 50px;
        }
    }

    #rb_box .rb-row.box
    {
    	padding: 0;
    }

    #rb_box .rb-input
    {
    	width: 90%;
    }
}
