@import "partials/base";

.ct-logo-title {
	overflow : hidden;
}

.ctlt-left {
	float : left;
}

.ctlt-right {
	float : right;
}

.ss2-parent-wrapper {
	margin : 60px 0 0;
}

.ct-galleries {
	li {
		margin-bottom : 0;
	}
}


@include max-screen( 580px )
{
    .ctlt-left,
    .ctlt-right {
        float : none;
    }

    .ct-logo-title {
        text-align : center;
    }

    .ss2-parent-wrapper {
        .select2-container {
            width : 100% !important;
        }
    }

    .ss2-parent-wrapper {
        margin : 30px 0 0;
    }
}
