@import "partials/base";

#content_paragraph
{

	border-top: 4px solid $c-orange-2;
	text-align: center;

	width 	: 80%;
	padding : 40px 30px 58px;

	margin: 0 auto;

	-webkit-box-shadow: 2px 4px 10px 0px rgba(189, 189, 189, 0.7);
	-moz-box-shadow: 2px 4px 10px 0px rgba(189, 189, 189, 0.7);
	box-shadow: 2px 4px 10px 0px rgba(189, 189, 189, 0.7);

	p
	{
		font-family 	: $font-circular-book;
		color : $c-black-2;
	}

	.title
	{
		font-weight : bold;
		font-size 	: em( 25px, $base-font-size );

		margin : 0 0 47px;
	}

	.text
	{
		font-size: em( 24px, $base-font-size );
		line-height: 1.8;
	}

}

.button-redirect
{
	display: block;
	width 		: 240px;
	font-family : $font-circular-book;
	font-size 	: em( 17px, $base-font-size );
	color 		: $c-white;

	padding 			: 9px 0;
	border  	 		: 1px solid $c-black-5;
	background-color 	: $c-black-5;

	text-align 			: center;

	margin: 45px auto 0;

		&:hover
		{
			background-color : $c-orange-2;
			color 			 : $c-white;
			border 			 : 1px solid $c-orange-2;
		}
	
}

@include max-screen( $mq-xl )
{
	#content_paragraph
	{

		.text
		{
			font-size: em( 20px, $base-font-size );
		}

	}
}

@include max-screen( $mq-l )
{
	#content_paragraph
	{

		.text
		{
			font-size: em( 18px, $base-font-size );
		}

	}
}

@include max-screen( $mq-m )
{
	#content_paragraph
	{

		.text
		{
			font-size: em( 16px, $base-font-size );
		}

	}
}