/* 3rd Parties */
@import "../../base/vendors/normalize";
@import "../../base/vendors/boilerplate";

/* Imports */
@import "../../base/modules/helpers";
@import "../../base/modules/fallback";


/* ============================================
/* Variables
/* ============================================*/
$color-black-default : #000;
$font-default : "Arial";


/* ============================================
/* Initial Configuration
/* ============================================*/
html
{
	font-size  : 16px;
}

html, 
body
{
    margin  : 0;
    padding : 0;
    height  : 100%;
}

body
{
	color      : $color-black-default;
}

html,
input,
textarea
{
	font-family : $font-default;
}

a
{
	text-decoration : none;

	&:hover
	{
		text-decoration : none;
	}
}
/*---------------------------------------------------------------*/

/* ============================================
/* Grid (16 Grid Style)
/* ============================================*/
.row{ @include clearfix }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16 {
	float : left;
}
.col-1  { width : ( 1 / 16 * 100% ); }
.col-2  { width : ( 2 / 16 * 100% ); }
.col-3  { width : ( 3 / 16 * 100% ); }
.col-4  { width : ( 4/ 16 * 100% ); }
.col-5  { width : ( 5/ 16 * 100% ); }
.col-6  { width : ( 6/ 16 * 100% ); }
.col-7  { width : ( 7/ 16 * 100% ); }
.col-8  { width : ( 8/ 16 * 100% ); }
.col-9  { width : ( 9/ 16 * 100% ); }
.col-10 { width : ( 10 / 16 * 100% ); }
.col-11 { width : ( 11 / 16 * 100% ); }
.col-12 { width : ( 12 / 16 * 100% ); }
.col-13 { width : ( 13 / 16 * 100% ); }
.col-14 { width : ( 14 / 16 * 100% ); }
.col-15 { width : ( 15 / 16 * 100% ); }
.col-16 { width : ( 16 / 16 * 100% ); }
/*---------------------------------------------------------------*/

/* ============================================
/* Make footer stay bottom
/* ============================================*/
#st_container {
	position   : relative;
	min-height : 100%;  
}
/*---------------------------------------------------------------*/

/* ============================================
/* Re-Use Helper Classes
/* ============================================*/
.ta-center {
	text-align : center;
}
.ta-right {
	text-align : right; 
}
.cl-both {
	clear : both;
}
.c-pointer {
	cursor : pointer;
}
.td-none 
{
	text-decoration : none;

	&:hover {
		text-decoration : none;
	} 
}
.unlist {
	list-style : none; 
	margin 	   : 0;
	padding    : 0;
}
.fw-bold {
	font-weight : bold; 
}
.td-underline {
	text-decoration : underline;  
}
/*---------------------------------------------------------------*/
