@import "partials/base";

#user_content{
	margin : 60px auto 80px;

	@include clearfix;
}

#self_dashboard
{
	margin : 60px auto 80px;
}

.ct-galleries
{
	margin: 0;
}

.user-common-info
{
	font-family : $font-circular-book;
	font-size 	: em( 14px, $base-font-size );
	color 		: $c-black-2;

	line-height : 1.7;
}

/*
	each section margin
 */
.ct-section
{
	margin : 0 0 50px 0;
}

.ct-listed-date
{
	background-color: transparent;

	font-family : $font-circular-book;
	font-size 	: em( 15px, $base-font-size );
	color 		: $c-black-2;

	padding 	: 8px 0;
	margin 		: 0 0 15px;

	border-radius: 3px;

	@include clearfix;

	.date
	{
		float: left;
		margin : 10px 0 0;
	}

	.ct-button
	{
		margin: 0 5px;
	}
}

/*
	panel content padding
 */
#page_change_pass
{
	padding: 25px 35px 180px;

	p
	{
		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size );
		line-height: 1.6;
	}

	.ct-form.medium
	{
		padding: 20px 0 0;
	}
}

/*
	header info with yellow bar
 */
.ct-page-header
{
	margin : 0 0 25px 0;
}

.ct-page-header h2
{
	font-size: em( 25px, $base-font-size );
}

/*
	gallery
 */

.ct-galleries .ctg-no-margin
{
	margin : 0;
}

.ct-galleries .ctg-headings h3
{
	margin : 8px 0 0;
}

/*
	mini brands
 */
.ct-gallery-thumbnail li
{
	margin  : 0 20px 20px 0;
}

.ct-gallery-thumbnail .last-thumbnail
{
	margin: 0 0 20px 0;
}

.uploaded-receipt-files
{
	font-family : $font-circular-book;
	color 		: $c-black-2;

	margin 		: 15px 0 0;

	&.shift-right
	{
		margin 		: 35px 15px 0;
		text-align 	: right;
	}

	&.mobile
	{
		display: none;
	}

	ul
	{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li
	{
		margin: 0;
		line-height: 1.3;

		a
		{
			font-family : $font-circular-book;
			color 		: $c-blue-3;
			font-size 	: em( 14px, $base-font-size );


			&:hover
			{
				color 		: $c-orange;
			}
		}
	}

	.title
	{
		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size );
		color 		: $c-black-2;

		margin 		: 0 0 5px 0;
	}
}

/**
 * my account upload photo
 */
#page_my_account
{
	padding: 25px 33px 52px;

	.ct-form
	{
		@include inline-block( top );
	}
}

#my_account_box
{
	position: relative;
}


.mc-upload-photo
{
	cursor 		: pointer;
	position 	: absolute;
	top 		: 15px;
	left 		: 500px;

	text-align: center;

	.upload-title
	{
		font-family 	: $font-circular-book;
		font-size 		: em( 13px, $base-font-size );
		color 			: $c-upload-photo;
		margin 			: 8px 0 0;
	}

	img
	{
		cursor 		: pointer;
	}
}



.ct-expand-list {
    .ctx-compact {

        border-bottom  : 0;
        margin-bottom  : 0;
        padding : 0 10px 25px;
    }
}

.ctx-compact {

    &.last {
        border-bottom  : 1px solid #DCDCDC;
        padding-bottom : 25px;
        margin-bottom  : 25px;
    }

    &:last-child {
        border-bottom : 0;
    }

    .ctxt-icons {
        margin : 0 0 0 -5px;
    }

    .ce-context {
        .ctxt-brand {
            margin-bottom  : 0;

            a {
                &:hover {
                    text-decoration : underline;
                }
            }
        }

        .ctxt-metadata {
            .c-calender-date {
                margin : 0 0 0 6px;
            }
        }

        .ctxt-title {
            margin-top : 3px;
        }
    }

    .ctxt-metadata {

        .ctxt-brand,
        .ctxt-icons,
        .sep {
            text-transform : uppercase;
            vertical-align : middle;
            display : inline-block;
        }

        .sep {
            margin : -6px 0 0;
            font-size : em( 18px, $base-font-size );
        }
    }

    .ce-image {
        margin-right : 15px;
    }

    .date {
        margin : 0;
    }

    img {
        width  : 200px;
        height : auto;
    }

    .ctx-receipt {
        font-family : $font-circular-book;
        margin      : 40px 0 0;
        font-size   : em( 15px, $base-font-size );

        a {
            color : $c-light-blue-4;

            &:hover {
                text-decoration : underline;
            }
        }
    }
}

.ct-page-category {
    list-style : none;
    padding    : 0;
    margin     : 10px 0 40px;

    li {
        display    : inline-block;

        &.active {
            a {
                background : $c-orange-2;
                color      : #fff;
                border-color : $c-orange-2;
            }
        }
    }

    a {
        display    : block;
        padding    : 7px 20px;
        background : transparent;
        color      : $c-txt-link;
        border     : 1px solid $c-txt-link;
        border-radius : 3px;

        &:hover {
            background : #6d6d6d;
            color      : #fff;
            border-color : #6d6d6d;
        }
    }
}



@include max-screen( $mq-xl )
{
	#page_change_pass p
	{
		text-align: center;
	}

	#my_account_box
	{
		text-align: center;
	}

	.mc-upload-photo
	{
		position: static;
		left: 0;
		top: 0;
	}

	.ct-form.medium
	{
		width: 50%;
	}

	.ctx-compact .ctx-receipt
	{
		margin : 20px 0 0;
	}
}

@include max-screen( $mq-l )
{
	.ct-form.medium
	{
		width: 100%;
	}


	#self_dashboard
	{
		.ct-galleries li
		{
		}
		.ct-galleries .ctg-headings
		{
			height: 58px;
		}
	}

	#page_contest_history
	{
		padding: 25px 25px 30px;
	}

	.ct-gallery-thumbnail .last-thumbnail
	{
		margin: 0 20px 20px 0;
	}
}

@include max-screen( $mq-m )
{
	/*
		mini brands
	 */
	.ct-gallery-thumbnail li
	{
		margin  : 0 10px 20px 0;
	}

	.ct-gallery-thumbnail .last-thumbnail
	{
		margin: 0 10px 20px 0;
	}

	/*
		contest gallery
	 */
	.ct-listed-date
	{
		padding: 8px 15px;
	}

	.ct-listed-date .date
	{
		float: none;
		margin: 10px 0 15px;
	}

	.ct-listed-date .ct-button
	{
		float: none;
		width: 100%;
		margin: 0 0 10px;

		box-sizing: content-box;
	}

	.ct-page-category {
		li
		{
			width: 45%;
			text-align: center;

			margin : 0 5px 10px;
		}

	}
}

@include max-screen( 460px )
{
	#page_my_account,#page_change_pass
	{
		padding: 52px 0 0;
		background-color: transparent;
		box-shadow: none;
	}

	#page_change_pass p
	{
		background-color: $c-white;

		text-align: left;
		margin: 0;
		padding: 15px 10px;
	}

	#page_contest_history
	{
		padding: 25px 15px 30px;
	}

	.ct-page-category {
		li
		{
			width: 100%;
			text-align: center;

			margin : 0 0 10px;
		}

	}

}

