@import "partials/base";

#content_wrapper {

    border-top : 2px solid $c-orange-2;
    width  : 600px;
    margin : 0 auto;

    background-color : #FFF;
    border-top       : 4px solid #FF8000;

    -webkit-box-shadow  : 2px 4px 10px 0px #bdbdbd;
    -moz-box-shadow     : 2px 4px 10px 0px #bdbdbd;
    box-shadow          : 2px 4px 10px 0px #bdbdbd;
    
}

$height : 40px;
#address_controls.ss2-parent-wrapper {
    .select2-container {
        width : 100% !important;

        .select2-selection--single {
            height : $height;
        }
    }

    .select2-container--default .select2-selection--single {

        .select2-selection__rendered {
            line-height : $height;
        }

        .select2-selection__arrow {
            height     : 39px;
            background : transparent;

            b {
                border-color : #000 transparent transparent transparent;
                border-width : 7px 5px 0 5px;
                margin-left  : -8px;
                margin-top   : -4px;
            }
        }
    }
}

#address_detail {
    padding : 8px 10px 3px;
    margin  : 10px 0 10px;

    .address {
        font-family : $font-circular;
        font-weight : bold;
    }
}

#address_selection {
    
}

.ct-txt-link
{
    font-family : $font-circular-book;
    font-size: em( 16px, $base-font-size );

    color : $c-black-2;

    padding: 0 10px;

    &.no-padding-left
    {
        padding: 0 10px 0 0;
    }

    &:hover
    {
        text-decoration : underline;
    }


    &.nohoverunderline:hover
    {
        text-decoration: none;
    }

    &.orange
    {
        color : $c-orange-2;
    }

    &.blue 
    {
        color : $c-blue;
    }

    &.red
    {
        color : $c-red;
    }
}

.db-head
{
	@include clearfix;

	padding : 15px 15px 0 0;

	.button
	{
		float: right;
		width 		: 100px;
		margin 		: 0 5px;
		padding 	: 5px 10px;
		background-color: $c-black-2;

		text-align 	: center;
		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size );

		color : $c-white;
		border-radius: 4px;

        &.red
        {
            background-color: $c-red;
        }

        &.orange
        {
            background-color: $c-orange-2;
        }

		&:hover
		{
			background-color: $c-orange-2;
		}
	}
}

.db-content {

    padding : 0 0 25px;

    .list {
        margin     : 0;
        padding    : 0;
        list-style : none;

        .item {
            margin : 0 30px;
            padding : 18px 0 18px;
            border-bottom : 1px solid $c-hr-line;

            &.no-margin
            {
                margin : 0;
            }

            &.no-pad-top
            {
                padding-top : 0;
            }

            .date {
                font-family : $font-circular-book;
                font-size   : em( 15px, $base-font-size );
            }

            .paragraph
            {
                font-family : $font-circular-book;
                font-size   : em( 14px, $base-font-size );

                margin: 0 0 15px;
            }

            .name {
                font-family : $font-circular-book;
                font-size   : em( 14px, $base-font-size );

                &.bold
                {
                	font-weight: bold;
                }

                &.blue
                {
                    color : $c-blue;
                }

                .button{
                	@include inline-block;

                    width : 125px;
                    padding: 5px 0;

                	/*padding : 10px 50px 10px;*/
                	margin 	: 0 7px;
                	text-align: center;

                    border      : 0;
                	color  		: $c-white;
                	background  : $c-black-2;

                	&.default
                	{
                		&:hover
                		{
                			background: $c-orange-2;
                		}
                	}

                    &.delete
                    {
                		background: $c-red;
                    }

                    &.orange
                    {
                    	background: $c-orange-2;
                    }

                    &.blue
                    {
                        background: $c-blue;
                    }

                    &.btn-submit {
                        padding : 11px 50px 11px;
                    }

                }
            }
        }
    }

}

.db-form
{
    padding : 25px 30px 50px;
}

@include max-screen( 600px )
{
    #content_wrapper {
        width : 95%;
    }
}

@include max-screen( 560px )
{
    .db-content {
        .item {
            margin : 0 20px;
        }

        .ct-no-data {
            margin     : 0 20px;
        }
    }
}

@include max-screen( 480px )
{
    .db-form
    {
        padding : 25px 15px 50px;
    }
}

@include max-screen( 380px )
{
    .db-content {
        .list {
            .item {
                .date {
                    font-size : em( 14px, $base-font-size );
                }

                .name {
                    font-size : em( 13px, $base-font-size );
                }
            }
        }
    }
}
