@import "partials/base";

#curr_paragraph{
	p
	{
		font-family : $font-circular-book;
		font-size 	: em( 15px, $base-font-size ); 
		padding 	: 0;
		margin 		: 34px 0 24px;  

		line-height : 1.6;
	}
}

@include max-screen( $mq-xl )
{
	.ct-page-header .cph-bar
	{
		margin: 0 auto;
	}

}